﻿@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "PASO Esmax";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-3">
                <a href="#" id="odt" v-on:click="SelectTarget('odt')">
                    <div class="card-counter primary">
                        <i id="icon" class="fa fa-chart-pie"></i>
                        <span class="count-numbers">ODT</span>
                        <span class="subTitle">Observaciones de trabajo</span>
                    </div>
                </a>
            </div>

            <a href="#" class="col-md-3" id="rsms" v-on:click="SelectTarget('rsms')">
                <div class="card-counter danger" style="background: #2DB27D">
                    <i  id="icon" class="fa fa-clipboard-list"></i>
                    <span class="count-numbers">RSMS</span>
                    <span class="subTitle2">Reportes de seguridad, medio ambiente y salud</span>
                </div>
            </a>

            <a href="#" class="col-md-3" id="kpi" v-on:click="SelectTarget('kpi')">
                <div class="card-counter success">
                    <i id="icon" class="fa fa-database"></i>
                    <span class="count-numbers">KPIS</span>
                    <span class="subTitle3 text-left">Indicador clave de rendimiento</span>
                </div>
            </a>
            
            <a class="col-md-3" href="#" id="pa" v-on:click="SelectTarget('pa')">
                <div class="card-counter info">
                    <i id="icon" class="fa fa-calendar-check"></i>
                    <span class="count-numbers">Plan de <br>acci&oacute;n</span>
                </div>
            </a>
            
        </div>
    </div>


    <div class="container d-none" id="tb_pa">
        <div class="row justify-content-center mb-5">
            <div class="card shadow-sm col-lg-11 p-0 mt-3">
                <div class="card-header">
                    <div class="row mt-2">
                        <div class="col-lg-2">
                            <label for="folio">Folio</label>
                            <input id="folio" type="text" class="form-group form-control m-0" v-model="folio"/>
                        </div>
                        <div class="col-lg-3 form-group m-0">
                            <label for="moduloList">Seleccione un m&oacute;dulo</label>
                            <select v-on:change="getModulo" class="form-control" id="moduloList">
                                <option id="0">Todos</option>
                                <option id="1">Observaci&oacute;n de trabajo</option>
                                <option id="2">RSMS</option>
                                <option id="3">Plan de acci&oacute;n</option>
                            </select>
                        </div>
                        <div class="col-lg-3 form-group m-0">
                            <label>Fecha Inicio</label>
                            <input id="startDate111" placeholder="Desde" autocomplete="off"/>
                        </div>
                        <div class="col-lg-3 form-group m-0">
                            <label>Fecha Fin</label>
                            <input id="endDate111" placeholder="Hasta" autocomplete="off"/>
                        </div>
                        <div class="col-lg-1">
                            <button v-on:click="getPA" class="form-group btn btn-primary" style="border-radius: 50%"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table id="revisarPA" class="table table-hover">
                        <thead>
                        <tr>
                            <th>Folio</th>
                            <th>Acci&oacute;n</th>
                            <th>Modulo</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Responsable</th>
                            <th>Revisar</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</center>

@section scripts{
    <script>

        var rev = new Vue({
            el:'#app',
            data() {
                return {
                    planAccion: [],
                    folio: null,
                    modulo: null,
                    user: null,
                    users: [],

                }
            },
            created() {
                this.getUser();
                this.getUsers();

            },
            methods: {
                SelectTarget(mod) {
                    if (mod === "pa") {
                        $('#tb_pa').removeClass("d-none");
                    }
                    if (mod === "odt") {
                        $('#tb_pa').addClass("d-none");
                    }
                    if (mod === "rsms") {
                        $('#tb_pa').addClass("d-none");
                    }
                    if (mod === "kpi") {
                        $('#tb_pa').addClass("d-none");
                    }

                },
                getUser() {
                    var urlUser = '@Url.Action("getUser", "User")';

                    var data = {
                        id: '@User.Identity.GetUserId()'
                    }

                    axios.post(urlUser, data).then(response => {
                        this.user = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },

                getModulo() {
                    var select = document.getElementById("moduloList");
                    var cId = select.options[select.selectedIndex].id;
                    if (cId === 0) {
                        this.modulo = "0";
                    } else {
                        this.modulo = cId;
                    }
                },
                getPA() {

                    var fechaIni = $('#startDate111').val();
                    var fechafin = $('#endDate111').val();
                    var folio = this.folio;
                    var modulo = this.modulo;
                    var query = "Where ";

                    if (fechaIni !== "") {
                        query += "cumplimiento >= '" + fechaIni + "' ";
                        if (fechafin !== "") {
                            query += "and cumplimiento <= '" + fechafin + "' ";
                        }
                    }

                    if (modulo !== null && modulo !== "0") {
                        if (query !== "Where ") {
                            query += "and modulo = '" + modulo + "' ";
                        } else {
                            query += "modulo = '" + modulo + "' ";
                        }
                    }

                    if (folio !== null && folio !== "0" && folio !== "") {
                        if (query !== "Where ") {
                            query += "and plan_accion_id = '" + folio + "' ";
                        } else {
                            query += "plan_accion_id = '" + folio + "' ";
                        }
                    }

                    var data = {
                        query: query
                    }

                    if (query === "Where ") {
                        this.getPASinQuery();
                    } else {
                        this.getPAConQuery(data);
                    }


                },
                getPASinQuery() {
                    var url = '@Url.Action("allPlanAccionMoreUser", "MplanAccion")';
                    axios.get(url).then(response => {
                        this.planAccion = response.data;

                        console.log("lista");
                        console.log(this.planAccion);
                        this.getTable();
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getPAConQuery(data) {
                    var url = '@Url.Action("allPlanAccionWithQueryMoreUser", "MplanAccion")';
                    axios.post(url, data).then(response => {
                        this.planAccion = response.data;
                        //this.planAccion.sort();
                        console.log("lista");
                        console.log(this.planAccion);
                        this.getTable();
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                formatDate(date) {
                    var fecha = date,
                        patron = "/Date(",
                        valor = "",
                        nuevo = fecha.replace(patron, valor),
                        patron2 = ")/",
                        valor2 = "",
                        nuevo2 = nuevo.replace(patron2, valor2);
                    console.log(nuevo2);
                    var int = parseInt(nuevo2);
                    var d = new Date(int);
                    var monthNames = [
                        "Enero", "Febrero", "Marzo",
                        "Abril", "Mayo", "Junio", "Julio",
                        "Agosto", "Septiembre", "Octubre",
                        "Noviembre", "Diciembre"
                    ];
                    var day = d.getDate();
                    var monthIndex = d.getMonth();
                    var year = d.getFullYear();

                    return day + '/' + monthNames[monthIndex] + '/' + year;

                },
                getTable() {

                    $('#revisarPA').DataTable().clear().draw();
                    $('#revisarPA').DataTable().destroy();
                    var tabla = $('#revisarPA').DataTable({
                        language: {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ning&uacute;n dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        }
                    });
                    //var cat = this.categorias;

                    //tabla.destroy();
                    var context = this;

                    this.planAccion.map(function(o) {


                            var modulo = "";

                            if (o.modulo === 1) {
                                modulo = "ODT";
                            }else if (o.modulo === 3) {
                                modulo = "Plan de accion";
                            }else if (o.modulo === 2) {
                                modulo = "RSMS";
                            }
                            if (o.estado === "habilitado") {
                                tabla.row.add([
                                    o.plan_accion_id,
                                    o.accion,
                                    modulo,
                                    context.formatDate(o.cumplimiento),
                                    o.estado.toUpperCase(),
                                    o.UserName,
                                    '<a href="@Url.Action("ver","MplanAccion")/'+ o.plan_accion_id +'"><button class="btn btn-block btn-outline-primary" ><i class="fa fa-eye"></i></button></a>'
                                ]);
                            }else if (o.estado === "cerrado") {
                                tabla.row.add([
                                    o.plan_accion_id,
                                    o.accion,
                                    modulo,
                                    o.UserName,
                                    context.formatDate(o.cumplimiento),
                                    o.estado.toUpperCase(),
                                    '<a href="@Url.Action("verCerrado","MplanAccion")/'+ o.plan_accion_id +'"><button class="btn btn-block btn-outline-primary" ><i class="fa fa-eye"></i></button></a>'
                                ]);
                            }




                    });

                    tabla.draw();
                },
            }
        })

    </script>
}





