<div class="tab-pane mt-3" id="actividades">
	<div class="row justify-content-center">
		<div class="col-lg-8">
			<div class="row">
				<div class="col-lg-12">
					<button type="button" data-toggle="modal" data-target="#modalCrearActividad" class="btn btn-success btn-block"><i class="fa fa-plus fa-lg"></i> Agregar nueva actividad</button>
				</div>
			</div>
            
		</div>
		<!--Accordion wrapper-->
		<div class="accordion col-lg-8 mt-5" id="paso2" role="tablist" aria-multiselectable="true" >
			
				<!-- Accordion card -->
				<div class="card p-0" v-for="(actividad, index) in ArrayActividades">

					<!-- Card header -->
					<div class="row">
						<div class="card-header p-2 col-md-10" role="tab" id="headingOne1" >
							<h2 class="mb-0" style="font-size: initial;">
								<button class="btn btn-link btn-block text-left text-decoration-none " type="button" style="background-color: transparent; color: #000000;" data-toggle="collapse" :data-target="'#collapseOne' + actividad.id" aria-expanded="true" aria-controls="collapseOne">
									{{ actividad.ActividadNombre + " - " + actividad.Porcentaje + "%"}}
								</button>
							</h2>
						</div>
						<div class="card-header p-2 col-md-2" role="tab" id="headingOne2" >
							<h2 class="mb-0" style="font-size: initial;">
								<button class="btn btn-link btn-block text-left text-decoration-none " v-on:click="EliminarActividad(index)" style="color: red" type="button" style="background-color: transparent; color: #000000;" data-toggle="collapse" :data-target="'#collapseOne' + actividad.id" aria-expanded="true" aria-controls="collapseOne">
									Eliminar
								</button>
							</h2>
						</div>
					</div>

					<!-- Card body -->
					<div :id="'collapseOne' + actividad.id" class="collapse" aria-labelledby="headingOne" data-parent="#paso2">
						<div class="card-body" style="border-bottom: 1px solid #DFDFDF; padding-bottom: 0px;">
							<table class="table table-borderless">
								<tbody>
								<tr v-for="(pregunta, count) in ArrayPreguntas" v-if="pregunta.ActividadId === actividad.id">
									<td style="width: 85%">{{ pregunta.pregunta + " - " + pregunta.Procentaje + "%"}}</td>
									<td>
										<span class="text-danger" v-on:click="EliminarPregunta(count)">Eliminar</span>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#modalCrearPregunta" v-on:click="ActividadIdForeign(actividad.id)"><i class="fa fa-list-alt fa-lg"></i> Agregar nueva pregunta</button>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>
				<!-- Accordion card -->
			
		</div>
		<!-- Accordion wrapper -->

	</div>
	
	@RenderPage("partials/modalCrearActividad.cshtml")
	@RenderPage("partials/modalCrearPregunta.cshtml")
</div>
