<div class="tab-pane mt-3" id="descripcion">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <label for="category">Seleccione una categor&iacute;a</label>
                        <select class="form-control" id="category" v-on:change="categoryId" required>
                            <option></option>
                            <option v-for="categoria in categorias" :value="categoria.categorias_id">{{ categoria.categorias_nombre }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2 mt-1">
                    <button type="button" data-toggle="modal" data-target="#categorias" class="btn btn-primary form-group mt-5 float-right" style="border-radius: 50%"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            
        </div>
        <div class="col-lg-7 align-content-start">
            <div class="form-group">
                <label for="odts_title">Nombre del Check List</label>
                <input type="text" class="form-control" id="odts_title" name="odts_title" v-model="titulo" required>
            </div>
            <div class="form-group">
                <label for="odts_description">Descripci&oacute;n</label>
                <input type="text" class="form-control" id="odts_description" name="odts_description" v-model="descripcion">
            </div>
            <div class="custom-control custom-switch mt-4">
                <input class="custom-control-input" type="checkbox" v-on:click="anonimo" id="anonimo" value="option1" hidden="true">
                <label class="custom-control-label" for="anonimo" hidden="true">Check list con plan de acci&oacute;n</label>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="categorias" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear nueva categor&iacute;a</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Nombre de la Categor&iacute;a</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" v-model="createCategoria" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" v-on:click="crearCategoria">Guardar</button>
            </div>
        </div>
    </div>
</div>
