.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
}

.card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
}

.card-counter.primary{
    background-color: #007bff;
    color: #FFF;
}

.card-counter.danger{
    background-color: #ef5350;
    color: #FFF;
}

.card-counter.success{
    background-color: #66bb6a;
    color: #FFF;
}

.card-counter.info{
    background-color: #26c6da;
    color: #FFF;
}

.card-counter #icon{
    font-size: 5em;
    opacity: 0.3;
    float: left;
}

.card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
}

.card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
}
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.form-group label.control-label {
    font-size: 14px;
    line-height: 1.07143;
    color: #AAAAAA;
    font-weight: 400;
    margin: 16px 0 0 0;
}

.subTitle {
    position: absolute;
    right: 50px;
    bottom: 10px;
    font-size: 14px;
    width: 70px;
    opacity: 0.7;
}

.subTitle2 {
    position: absolute;
    right: 30px;
    bottom: 10px;
    font-size: 14px;
    width: 150px;
    opacity: 0.7;
}

.animacion {
    transition: width 0.5s;
}

.form-control-file {
    position: absolute;
    top: -5000px;
}

.subTitle3 {
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-size: 14px;
    width: 150px;
    opacity: 0.7;
}

label.control-label {
    font-size: 14px;
    line-height: 1.07143;
    color: #AAAAAA;
    font-weight: 400;
    margin: 16px 0 0 0;
}

#sidebar.active {
    margin-left: -250px;
}

/*     a[data-toggle="collapse"] { */
/*         position: relative; */
/*     } */
/*      */
/*     .dropdown-toggle::after { */
/*         display: block; */
/*         position: absolute; */
/*         top: 50%; */
/*         right: 20px; */
/*         transform: translateY(-50%); */
/*     } */

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;

}

/* a, a:hover, a:focus { */
/*     color: inherit; */
/*     text-decoration: none; */
/*     transition: all 0.3s; */
/* } */

#sidebar {
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding-top: 15px;
    margin: 0 20px;
    background: #0459BE;
    border-bottom: 1px solid rgba(102,97,91,.3);
    border-bottom: 1px solid hsla(0,0%,100%,.3);
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #343a40;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #343a40;
    background: #fff;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #0459BE;
}



/* style de boton  */


#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
}

/* barras de boton*/

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin-top: 2px;
    margin-left: 3px;
    display: block;
    background: #ffffff;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}
/* barras de boton*/


/*rotacion de barras  */


/*tercera barra rota */

/*rotacion de barras  */


#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}


/* /movimiento de sidebar al aparecer y aparecer/ */


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgb(37,35,123);
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
}

#Notification .dropdown-menu {
    min-width: 25rem;
    max-height: 500px;
    padding: 0px;
    height: auto;
    overflow-x: hidden;
}

#sidebar{
    overflow-y:auto;
}

#sidebar button{
    border-radius:0px;
    width:100%;
}
#sidebar .btn{
    width:100%;
    text-align:left;
}
#sidebar .collapse img{
    margin-left:15px;
}
#sidebar .btn{
    color:white;
    border-radius:0px;
}


#sidebar .btn img{
    width:30px;
}

#sidebar .btn:hover img{
    -webkit-animation: rotation 1.5s infinite linear;
}
#sidebar .btn:hover{
    background-color:white;
    color:black;
}
#sidebar .collapse{
    background-color:rgba(15,90,180,0.5);
}
#sidebar #logo-foot{
    z-index:10;
    padding-top:60px;
}
#sidebar #logo{
    width:150px;
    padding:0px 0px 0px 0px;
    position: relative;
    bottom: 180px;
    margin-left: 30px;

}
#AccordionMenu {
    bottom: 180px;
}

.navbar{
    background-color:rgb(255,255,255);
}
#sidebarCollapse span {
    background: rgb(37,35,123);
}
#loginalign {
    alignment: center
}

label {
    display: inline-block;
     margin-bottom: 0rem; 
}

.menu {
    color: black;
}

.menu:hover {
    color: blue;
    text-decoration: none;
}
