
@{
    ViewBag.Title = "Crear Check List";
    Layout = "../Shared/_Layout.cshtml";
}

@section styles
{
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
	<style>
		.accordion > .card:first-of-type {
			 border-bottom: 1px; 
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
		.accordion > .card .card-header {
			margin-bottom: 0px;
		}
	</style>
}

<div class="container">
	<div class="row justify-content-center m-3">
		<div class="col-lg-12 col-sm-offset-2">
		
			<div style="padding-left: 15px;">
				<a class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("ingresarCheckList", "CheckList")">
					<i class="fa fa-plus fa-2x mr-2"></i> Ingresar Check List
				</a>
				<a class="btn btn-info" style="font-size: 100%;" href="@Url.Action("CrearCheckList", "CheckList")">
					<i class="fa fa-edit fa-2x mr-2"></i> Crear Check List
				</a>
				<a class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("listRespuestas", "CheckList")">
					<i class="fa fa-list-ul fa-2x mr-2"></i> Revisar Check List
				</a>
				<a class="btn btn-secondary"style="font-size: 75%;" href="@Url.Action("graficossCheckList", "CheckList")">
					<i class="fa fa-chart-line fa-2x mr-2"></i> Gr&aacute;ficas Check List
				</a>
			</div>  

			<div class="wizard-container">
				<div class="card wizard-card" data-color="blue" id="wizard">
					<form action="" method="">

						<div class="wizard-header">
							<h3 class="wizard-title">
								Crear Check List
							</h3>

						</div>
						<div class="wizard-navigation text-center">
							<ul>
								<li class="mt-2 mb-2"><a href="#descripcion" data-toggle="tab">Descripci&oacute;n</a></li>
								<li class="text-center mt-2 mb-2"><a href="#actividades" data-toggle="tab">Actividades</a></li>
							</ul>
						</div>

						<div class="tab-content">
							@RenderPage("partials/crearCheckList/Descripcion.cshtml")
							@RenderPage("partials/crearCheckList/Actividades.cshtml")
						</div>
						<div class="wizard-footer p-2">
							<div class="float-right pr-2">
								<input type='button' class='btn btn-next btn-fill btn-info btn-wd' name='next' value='Siguiente'/>
								<input type='button' class='btn btn-finish btn-fill btn-info btn-wd' name='finish' v-on:click="finalizar" value='Finalizar' />
							</div>
							<div class="float-left pl-2">
								<input type='button' class='btn btn-secondary btn-previous btn-fill' name='previous' value='Atras' />
							</div>
							<div class="clearfix"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts
{
	<script src="~/assets/js/jquery.bootstrap.js"></script>
	<script src="~/assets/js/jquery.validate.min.js"></script>
	<script src="~/assets/js/material-bootstrap-wizard.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	
	<script>
		var crearCHL = new Vue({
			el: '#app',
			data() {
				return {
					createCategoria: null,
					descripcion: null,
					titulo: null,
					categorias: [],
					categorias_id: null,

					ActividadNombre: null,
					SumaPctActividad: 0,
					ActividadPct: 0,
					ArrayActividades: [],
					contadorActividades: 0,
					ActividadIdF: null,

					PreguntaNombre: null,
					PreguntaPct: 0,
					SumaPctPregunta: 0,
					ArrayPreguntas: [],
					oAnonimo: 0,
					auxId: 0,
					sumador: 0,
					
					todasOk: false,
					ActividadIncompleta: false,
			}
			},
			created() {
				this.getCategorias();
			},
			methods: {
				anonimo() {
					var checkbox = document.getElementById('anonimo');
					checkbox.addEventListener("change", this.isAnonimo(checkbox), false);
				},
				isAnonimo(checkbox) {
					var checked = checkbox.checked;
					if (checked) {
						$('#observador').attr("type", "password");
						this.oAnonimo = 1;
					} else {
						$('#observador').attr("type", "text");
						this.oAnonimo = 0;
					}
					console.log(this.oAnonimo);
				},
				crearCategoria() {
					var urlC = '@Url.Action("createCategoria", "CheckList")';
                    
					var data = {
						nombre: this.createCategoria
					}
                    
					axios.post(urlC, data).then(response => {
						this.getCategorias();
						this.createCategoria = '';
						$('#categorias').modal('hide');
					}).catch(error => {
						console.log("error: " + error);
					})
				},
				categoryId() {
					var select = document.getElementById('category');
					//var selectedOption = this.options[select.selectedIndex];
					this.categorias_id = select.options[select.selectedIndex].value
				},
				getCategorias() { //Obtiene todas las categorias existentes en la base de datos
					var urlCategorias = '@Url.Action("getCategorias", "CheckList")'; //Primero se crea una variable para almacenar la url donde buscar los datos
					axios.get(urlCategorias).then(
						response => { //axios.get se le debe pasar la url anteriormente creada, este trabaja con un sistema de promesas
							//esto quiere decir si le entrego algo, me devuelve algo, con then me entrega datos si esta todo correcto
							this.categorias =response.data; // en este punto le asigno a la variable categorias el response.data, osea la data de la respuesta
						}).catch(error => { //con catch me entrega datos si este tuvo problemas, osea el error
						console.log("error: " + error); //mando un mensaje por consola del error
					})
				},
				crearActividad() {
					if (this.ActividadIncompleta) {
						$.confirm({
							title: 'Un momento!',
							content: 'Existe una actividad aun sin completar',
							type: 'orange',
							typeAnimated: true,
							buttons: {
								tryAgain: {
									text: 'Aceptar',
									btnClass: 'btn-orange',
									action: function() {
									}
								}
							}
						});
					} else {
						var nombre = this.ActividadNombre;
						var pct = parseInt(this.ActividadPct);
						var context = this;

						if (nombre === null || nombre === "") {
							$.confirm({
								title: 'Un momento!',
								content: 'Debe ingresar un nombre a la actividad nueva',
								type: 'orange',
								typeAnimated: true,
								buttons: {
									tryAgain: {
										text: 'Aceptar',
										btnClass: 'btn-orange',
										action: function() {
										}
									}
								}
							});
						} else if(pct <= 0 || pct > 100 || pct == null){
							$.confirm({
								title: 'Un momento!',
								content: 'Debe ingresar un porcentaje valido a la nueva actividad',
								type: 'orange',
								typeAnimated: true,
								buttons: {
									tryAgain: {
										text: 'Aceptar',
										btnClass: 'btn-orange',
										action: function() {
										}
									}
								}
							});
						} 
						else if ((this.SumaPctActividad + parseInt(pct)) > 100) {
							$.confirm({
								title: 'Un momento!',
								content: 'El CheckList sobrepasa el 100%',
								type: 'orange',
								typeAnimated: true,
								buttons: {
									tryAgain: {
										text: 'Aceptar',
										btnClass: 'btn-orange',
										action: function() {
										}
									}
								}
							});
						} else {
							this.ActividadIncompleta = true;
							this.SumaPctActividad += parseInt(pct);
							this.contadorActividades += 1;

							context.ArrayActividades.push({
								id: context.contadorActividades,
								ActividadNombre: nombre,
								Porcentaje: pct
						});
							$('#modalCrearActividad').modal("hide");
							context.ActividadNombre = null;
							this.ActividadPct = 0;
						}
						if (this.SumaPctPregunta === 100) {
							ActividadIncompleta = false;
						}
					}
					this.todasOk = false;
					console.log("-----------------------------");
					console.log("Largo arreglo actividades: " + this.ArrayActividades.length);
					console.log("Largo arreglo Preguntas: " + this.ArrayPreguntas.length);
					console.log("Pregunta pct: " + this.PreguntaPct);
					console.log("Suma PCT pregunta: " + this.SumaPctPregunta);
					console.log("Actividad PCT: " + this.ActividadPct);
					console.log("Actividad incompleta: " + this.ActividadIncompleta);
					console.log("Suma PCT actividad: " + this.SumaPctActividad);
					console.log("todas ok: " + this.todasOk);
				},
				
				ActividadIdForeign(id) {
					this.ActividadIdF = id;
				},
				crearPregunta() {
					var nombre = this.PreguntaNombre;
					var pct = parseInt(this.PreguntaPct);
					var context = this;
					var id = this.ActividadIdF;
					context.sumador = 0;
					//console.log(context.sumador);

					this.ArrayPreguntas.forEach(function(item) {
						if (item.ActividadId === context.ActividadIdF) {
							context.sumador += parseInt(item.Procentaje);
							//console.log(item);
						}
					});
					//validar campo nombre
					if (nombre === null || nombre === "") {
						$.confirm({
							title: 'Un momento!',
							content: 'Debe ingresar una pregunta nueva',
							type: 'orange',
							typeAnimated: true,
							buttons: {
								tryAgain: {
									text: 'Aceptar',
									btnClass: 'btn-orange',
									action: function() {
									}
								}
							}
						});
					//Validar campo porcentaje
					} else if (pct <= 0 || pct > 100 || pct == null) {
						$.confirm({
							title: 'Un momento!',
							content: 'Debe ingresar un porcentaje valido a la nueva pregunta',
							type: 'orange',
							typeAnimated: true,
							buttons: {
								tryAgain: {
									text: 'Aceptar',
									btnClass: 'btn-orange',
									action: function() {
									}
								}
							}
						});
					//Validar el total
					} else if((context.sumador + parseInt(pct)) > 100) {
						$.confirm({
							title: 'Un momento!',
							content: 'La actividad sobrepasa el 100%',
							type: 'orange',
							typeAnimated: true,
							buttons: {
								tryAgain: {
									text: 'Aceptar',
									btnClass: 'btn-orange',
									action: function() {
									}
								}
							}
						});
					}else if (context.ArrayPreguntas.SumaPctPregunta === 100) {
						$.confirm({
							title: 'Un momento!',
							content: 'La actividad ha alcanzado el 100%',
							type: 'orange',
							typeAnimated: true,
							buttons: {
								tryAgain: {
									text: 'Aceptar',
									btnClass: 'btn-orange',
									action: function() {
									}
								}
							}
						});
					} 
					else if(context.sumador > 100) {
						$.confirm({
							title: 'Un momento!',
							content: 'La actividad sobrepasa el 100%',
							type: 'orange',
							typeAnimated: true,
							buttons: {
								tryAgain: {
									text: 'Aceptar',
									btnClass: 'btn-orange',
									action: function() {
									}
								}
							}
						});
					}else {
						if (!localStorage.getItem("Pregunta" + id)) {
							localStorage.setItem("Pregunta" + id, 1);
						} else {
							var total = parseInt(localStorage.getItem("Pregunta" + id));
							localStorage.setItem("Pregunta" + id, total + 1);
						}
						context.ArrayPreguntas.push({
							id: localStorage.getItem("Pregunta" + id),
							pregunta: nombre,
							ActividadId: id,
							Procentaje: pct
						});
						context.sumador = 0;
						this.ArrayPreguntas.forEach(function(item) {
							if (item.ActividadId === context.ActividadIdF) {
								context.sumador += parseInt(item.Procentaje);
								//console.log(item);
							}
						});
						$('#modalCrearPregunta').modal("hide");
						context.PreguntaNombre = null;
					}
					if (context.sumador === 100) {
						var total = 0;
						var mod = "x";
						this.ArrayPreguntas.forEach(function(item) {
							total += parseInt(item.Procentaje);
							//console.log("total: " + total);
							mod = total % 100;
							if (mod === 0 && (total/context.ArrayActividades.length)  === 100) {
								context.todasOk = true;
								context.ActividadIncompleta = false;
								//console.log(context.ActividadIncompleta);
							} else {
								context.ActividadIncompleta = true;
								context.todasOk = false;
								//console.log(context.ActividadIncompleta);
							}
						});
					}
					console.log("----------------------------_-");
					console.log("Largo arreglo actividades: " + this.ArrayActividades.length);
					console.log("Largo arreglo Preguntas: " + this.ArrayPreguntas.length);
					console.log("sumador: " + context.sumador);
					console.log("Pregunta pct: " + this.PreguntaPct);
					console.log("Suma PCT pregunta: " + this.SumaPctPregunta);
					console.log("Actividad PCT: " + this.ActividadPct);
					console.log("Actividad incompleta: " + this.ActividadIncompleta);
					console.log("Suma PCT actividad: " + this.SumaPctActividad);
					console.log("todas ok: " + this.todasOk);
					this.PreguntaPct = 0;
					context.sumador = 0;
				},
				
				EliminarPregunta(indice) {
					this.ArrayPreguntas.splice(indice, 1);
					
				},
				EliminarActividad(indice) {
					var context = this;
					this.SumaPctActividad = 0;
					var aux = this.ArrayActividades[indice].id;
					
					console.log("----------Actividad ELIMINANDA-----------");
					console.log("Id Actividad: " + aux);

					this.ArrayPreguntas.forEach(function(item) {//Se eliminan las preguntas de una actividad
						if (item.ActividadId === aux) {
							//context.ArrayPreguntas.splice(item.index, 1);
							console.log("eliminando: ");
							
							context.ArrayPreguntas = context.ArrayPreguntas.filter(function(item2) {
								if (item2.id !== item.id) {
									return item2;
								}
							});
						} else {
							console.log("No se cumple condicion");
						}
					});
					this.ArrayActividades.splice(indice, 1);//Elimino el arreglo
					
					this.ArrayActividades.forEach(function(item) {
						context.SumaPctActividad += item.Porcentaje;
					});
					/*if (this.ArrayActividades.length <= 0) {
						this.SumaPctActividad = 0;
					}*/
					console.log("-----------------------------");
					console.log("Largo arreglo actividades: " + this.ArrayActividades.length);
					console.log("Largo arreglo Preguntas: " + this.ArrayPreguntas.length);
					console.log("Pregunta pct: " + this.PreguntaPct);
					console.log("Suma PCT pregunta: " + this.SumaPctPregunta);
					console.log("Actividad PCT: " + this.ActividadPct);
					console.log("Actividad incompleta: " + this.ActividadIncompleta);
					console.log("Suma PCT actividad: " + this.SumaPctActividad);
					console.log("todas ok: " + this.todasOk);
				},
				finalizar() {
					if (this.SumaPctActividad !== 100 || this.todasOk === false) {
						$.confirm({
							title: 'Un momento!',
							content: 'Debe completar el 100% para continuar',
							type: 'orange',
							typeAnimated: true,
							buttons: {
								tryAgain: {
									text: 'Aceptar',
									btnClass: 'btn-orange',
									action: function() {
									}
								}
							}
						});
						console.log("-----------------------------");
						console.log("Largo arreglo actividades: " + this.ArrayActividades.length);
						console.log("Largo arreglo Preguntas: " + this.ArrayPreguntas.length);
						console.log("Pregunta pct: " + this.PreguntaPct);
						console.log("Suma PCT pregunta: " + this.SumaPctPregunta);
						console.log("Actividad PCT: " + this.ActividadPct);
						console.log("Actividad incompleta: " + this.ActividadIncompleta);
						console.log("Suma PCT actividad: " + this.SumaPctActividad);
						console.log("todas ok: " + this.todasOk);
					} else {
						var checkList = {
							CheckListNombre: this.titulo,
							CheckListDescripcion: this.descripcion,
							categorias_id: this.categorias_id
						}
					
						var url = "@Url.Action("saveCheckList","CheckList")";

						var a =$.dialog({
							icon: 'fa fa-spinner fa-spin',
							title: 'Cargando...',
							content: '',
							closeIcon: false
						});
						axios.post(url,
							{
								checkList,
								anonimo: 1,//Poner en cero para elegir entre CON o SIN plan de acción
								actividades: this.ArrayActividades,
								preguntas: this.ArrayPreguntas
							}).then(response => {
							a.close();
							$.confirm({
								title: 'Check List!',
								content: 'Creado con exito.',
								type: 'green',
								typeAnimated: true,
								buttons: {
									tryAgain: {
										text: 'Aceptar',
										btnClass: 'btn-green',
										action: function() {
											window.location = "@Url.Action("ingresarCheckList","CheckList")";
										}
									}
								}
							});
						}).catch(error => {
							console.log("Error: " + error);
						});
					}
		
				}
			}
		});
    </script>
}
