@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Modificar Check List";
    Layout = "../Shared/_Layout.cshtml";
}

@section styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
}

<div class="container">
    <div class="row justify-content-center m-3">
        <div class="col-lg-12 col-sm-offset-2">
            <div class="card wizard-card" data-color="blue" id="wizard">
                <form action="" method="">
                    <h3 class="text-center">
                        Crear Check List
                    </h3>
                    <div class="pl-5 pr-5">
                        <hr/>
                    </div>
                    
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="category">Seleccione una categor&iacute;a</label>
                                            <select class="form-control" id="category" v-on:change="categoryId" :value="respuesta.categorias_id" required>
                                                <option></option>
                                                <option v-for="categoria in categorias" :value="categoria.categorias_id">{{ categoria.categorias_nombre }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
            
                            </div>
                            <div class="col-lg-7 align-content-start">
                                <div class="form-group">
                                    <label for="odts_title">Nombre del Check List</label>
                                    <input type="text" class="form-control" id="odts_title" name="odts_title" v-model="titulo" required>
                                </div>
                                <div class="form-group">
                                    <label for="odts_description">Descripci&oacute;n</label>
                                    <input type="text" class="form-control" id="odts_description" name="odts_description" v-model="descripcion">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="wizard-footer p-2">
                        <div class="float-right pr-2">
                            <input type='button' class='btn btn-fill btn-info btn-wd' name='finish' v-on:click="finalizar"  value='Actualizar datos'/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <script>
        var modCheckList = new Vue({
            el: '#app',
            data() {
                return {
                    idCheckList: @ViewBag.idMod,
                    categorias: [],
                    categorias_id: null,
                    titulo: null,
                    descripcion: null,
                    respuesta: null,
                    
                }
            },
            created() {
                this.getCategorias();
                this.getCheckList();
            },
            methods: {
                getCategorias() {
                    var url = "@Url.Action("getCategorias","CheckList")";
                    axios.get(url).then(response => {
                        this.categorias = response.data;
                    }).catch(error => {
                        console.log("Error: " + error);
                    });
                },
                categoryId() {
                    var select = document.getElementById('category');
                    //var selectedOption = this.options[select.selectedIndex];
                    this.categorias_id = select.options[select.selectedIndex].value
                },
                getCheckList() {
                    var url = "@Url.Action("getCheckListById","CheckList")";
                    var data = {
                        id: this.idCheckList
                    }
                    console.log(this.idCheckList)
                    axios.post(url, data).then(response => {
                        this.respuesta = response.data;
                        
                        this.titulo = this.respuesta.CheckListNombre;
                        this.descripcion = this.respuesta.CheckListDescripcion;
                        this.categorias_id = this.respuesta.categorias_id;
                    }).catch(error => {
                        console.log("Error: " + error);
                    });
                },
                finalizar() {
                    var url = "@Url.Action("UpdateCheckList","CheckList")";
                    
                    var data = {
                        idCL: this.idCheckList,
                        CategoriaId: this.categorias_id,
                        titulo: this.titulo,
                        descripcion: this.descripcion
                    }

                    console.log(data);
                    
                    var a =$.dialog({
                        icon: 'fa fa-spinner fa-spin',
                        title: 'Cargando...',
                        content: '',
                        closeIcon: false
                    });
                    axios.post(url, data).then(response => {
                        a.close();
                        $.confirm({
                            title: 'Check List!',
                            content: 'Modificado con exito.',
                            type: 'green',
                            typeAnimated: true,
                            buttons: {
                                tryAgain: {
                                    text: 'Aceptar',
                                    btnClass: 'btn-green',
                                    action: function() {
                                        window.location = "@Url.Action("ingresarCheckList","CheckList")";
                                    }
                                }
                            }
                        });
                    }).catch(error => {
                        console.log("Error: " + error);
                    });
                }
                
            }
        });
    </script>
}
