
		@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Responder Check List";
    Layout = "../Shared/_Layout.cshtml";
}


@section styles
{
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
	<style>
		.accordion > .card:first-of-type {
			border-bottom: 1px; 
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
		.accordion > .card .card-header {
			margin-bottom: 0px;
		}
	</style>
}

<div class="container">
	<div class="row justify-content-center m-3">
		<div class="col-lg-12 col-sm-offset-2"> 

			<div class="wizard-container">
				<div class="card wizard-card" data-color="blue" id="wizard">
					<form action="" method="">

						<div class="wizard-header">
							<h3 class="wizard-title">
								Responder Check List
							</h3>

						</div>
						<div class="wizard-navigation text-center">
							<ul>
								<li class="mt-2 mb-2"><a href="#datosGenerales" data-toggle="tab">Datos Generales</a></li>
								<li class="text-center mt-2 mb-2"><a href="#actividades" data-toggle="tab">Actividades</a></li>
								<li class="text-center mt-2 mb-2"><a href="#planAccion" data-toggle="tab">Plan de acci&oacute;n</a></li>
							</ul>
						</div>

						<div class="tab-content">
							@RenderPage("partials/responderCheckList/datosGenerales.cshtml")
							@RenderPage("partials/responderCheckList/Actividades.cshtml")
							@RenderPage("partials/responderCheckList/planAccion.cshtml")
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts
{
	<script src="~/assets/js/jquery.bootstrap.js"></script>
	<script src="~/assets/js/jquery.validate.min.js"></script>
	<script src="~/assets/js/material-bootstrap-wizard.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

	<script>
		var responderCH = new Vue({
			el: '#app',
			data() {
				return {
					observador: '@User.Identity.GetUserName()',
					observador_id: '@User.Identity.GetUserId()',
					GetFecha: null,
					GetHora: null,
					negocios: [],
					gerencias: [],
					areas: [],
					HoldingId: null,
					NegocioId: null,
					GerenciaId: null,
					AreaId: null,
					oAnonimo: 0,
					users: [],
					Actividades: [],
					Preguntas: [],
					respuestaPregunta: [],
					HoldingName: null,
					negocioName: null,
					gerenciaName: null,
					areaName: null,
					oResponsable: null,
					fechaCumplimiento: null,
					responsableId: null,
					accion: null,
					conteo: 0,
					cantComents: 0,
					percent: 0,
					contadorP: 0,
					respondidas: [],
					respondeNO: [],
					total: 0,
					desviadas: [],
					getAcciones: [],
					getCumplimientos: [],
					arrayResponsables: [],
				}
			},
			created() {
				this.GetNegocio();
				this.GetGerencia();
				this.GetArea();
				this.getFechaActual();
				this.getUsers();
				this.getActividades();
				this.validarFinish();
				this.validarFinish2();
			},
			methods: {
				finalizar() {
					var datosGenerales1 = {
						Observador_id: this.observador_id,
						fecha: this.GetFecha,
						hora: this.GetHora,
						holding_id: this.HoldingId,
						negocio_id: this.NegocioId,
						gerencia_id: this.GerenciaId,
						area_id: this.AreaId,
						observador_nombre: this.observador
					}

					var actividades = this.respuestaPregunta;

					var datosRespuesta = {
						holding_nombre: this.HoldingName,
						negocio_nombre: this.negocioName,
						gerencia_nombre: this.gerenciaName,
						area_nombre: this.areaName,
						observador_nombre: this.observador
					}

					var data = {
						datosGenerales1,
						actividades1: this.respuestaPregunta,
						datosRespuesta
					}


					var url = "@Url.Action("CheckListSimple", "CheckList")";
					var b = $.dialog({
						icon: 'fa fa-spinner fa-spin',
						title: 'Cargando...',
						content: '',
						closeIcon: false
					});

					axios.post(url, data).then(response => {
						b.close();
						$.confirm({
							title: 'Check List!',
							content: 'Respondido con exito.',
							type: 'green',
							typeAnimated: true,
							buttons: {
								tryAgain: {
									text: 'Aceptar',
									btnClass: 'btn-green',
									action: function() {
										window.location = "@Url.Action("ingresarCheckList", "CheckList")";
									}
								}
							}
						});
					}).catch(error => {
						console.log("error: " + error);
					});

				},
				getAccion(actId) {
					var context = this;
					var valida = false;
					var accion = $('#accion' + actId).val();
					console.log(accion);
					if (context.getAcciones.length === 0) {
						context.getAcciones.push({
							accion: accion,
							actividad: actId
						});
					}else{
						context.getAcciones.forEach(function(item) {
							if (item.actividad === actId) {
								
								context.getAcciones = context.getAcciones.filter(
									function(data) {
										if (data.actividad !== item.actividad) {
											return data;
										}
									});
								
								context.getAcciones.push({
									accion: accion,
									actividad: actId
								});
								valida = true;
							}
						});
						if (valida === false) {
							context.getAcciones.push({
								accion: accion,
								actividad: actId
							});
						}
					}
				},
				getCumplimiento(actId) {
					var context = this;
					var valida = false;
					var cumplimiento = document.getElementById('fechaCumplimiento' + actId);
					var cId = cumplimiento.options[cumplimiento.selectedIndex].id;
					if (context.getCumplimientos.length === 0) {
						context.getCumplimientos.push({
							cumplimientoId: cId,
							actividadId: actId
						});	
					}else{
						context.getCumplimientos.forEach(function(item) {
							if (item.actividadId === actId) {
								
								context.getCumplimientos = context.getCumplimientos.filter(
									function(data) {
										if (data.actividadId !== item.actividadId) {
											return data;
										}
									});
								
								context.getCumplimientos.push({
									cumplimientoId: cId,
									actividadId: actId
								});
								valida = true;
							}
						});
						if (valida === false) {
							context.getCumplimientos.push({
								cumplimientoId: cId,
								actividadId: actId
							}); 							
						}
					}
				},
				getResponsables(actId) {
					var context = this;
					var valida = false;
					var value = $('#responsable' + actId).val();
					var respo = $('#responsable [value="' + value + '"]').data('id');
					if (context.arrayResponsables.length === 0) {
						context.arrayResponsables.push({
							responsable_id: respo,
							actividad: actId
						});
					} else {
						context.arrayResponsables.forEach(function(item) {
							if (item.actividad === actId) {
								context.arrayResponsables = context.arrayResponsables.filter(
									function(data) {
										if (data.actividad !== item.actividad) {
											return data;
										}
									});

								context.arrayResponsables.push({
									responsable_id: respo,
									actividad: actId
								});
								valida = true;
							}
						});
						if (valida === false) {
							context.arrayResponsables.push({
								responsable_id: respo,
								actividad: actId
							});
						}
					}
					
					console.log(respo);
					console.log(this.arrayResponsables);
				},

				getResponsable() {
					var value = $('#responsable111').val();
					var rId = $('#responsable [value="' + value + '"]').data('id');
					this.responsableId = rId;
				},
				finalizar2() {
					var context = this;
					var datosGenerales1 = {
						Observador_id: this.observador_id,
						fecha: this.GetFecha,
						hora: this.GetHora,
						holding_id: this.HoldingId,
						negocio_id: this.NegocioId,
						gerencia_id: this.GerenciaId,
						area_id: this.AreaId,
						observador_nombre: this.observador
					}

					var actividades = this.respuestaPregunta;

					var datosRespuesta = {
						holding_nombre: this.HoldingName,
						negocio_nombre: this.negocioName,
						gerencia_nombre: this.gerenciaName,
						area_nombre: this.areaName,
						observador_nombre: this.observador,
						CheckListId: @ViewBag.checkListId
					}
					//Variables para el arreglo de planes de acción
					var responsable = this.arrayResponsables;
					var accion = this.getAcciones;
					var cumplimiento = this.getCumplimientos;

					var planAccion = [];
					console.log(responsable);
					console.log(accion);
					console.log(cumplimiento);

					var valida = true;
					var r, a, c;
					responsable.forEach(function(respo) {
						r = respo.actividad;
						accion.forEach(function(acc) {
							a = acc.actividad;
							cumplimiento.forEach(function(cum) {
								c = cum.actividadId;
								if (r === a && r === c) {
									planAccion.push({
										actividad_id: c,
										responsable_id: respo.responsable_id,
										accion: acc.accion,
										cumplimiento: cum.cumplimientoId
									});
								} 
							});
						});
					});

					var totalAprobado = context.total;
					var data = {
						datosGenerales1,
						actividades1: this.respuestaPregunta,
						datosRespuesta,
						planAccion,
						totalAprobado
					}
					console.log(data);
					console.log("PLAN ACCION");
					console.log(planAccion);
			
					var url = "@Url.Action("CheckListPlanAccion", "CheckList")";
					var b = $.dialog({
						icon: 'fa fa-spinner fa-spin',
						title: 'Cargando...',
						content: '',
						closeIcon: false
					});
			
					axios.post(url, data).then(response => {
						b.close();
						$.confirm({
							title: 'Check List!',
							content: 'Respondido con exito.',
							type: 'green',
							typeAnimated: true,
							buttons: {
								tryAgain: {
									text: 'Aceptar',
									btnClass: 'btn-green',
									action: function() {
										window.location = "@Url.Action("listRespuestas", "CheckList")";
									}
								}
							}
						});
					}).catch(error => {
						console.log("error: " + error);
					});
					},
					getUsers()
					{
						var urlUser = '@Url.Action("allUsers", "User")';
						axios.get(urlUser).then(response => {
							this.users = response.data;
			
						}).catch(error => {
							console.log("error: " + error);
						})
					},
		getFechaActual()
		{
			var n = new Date();
			//Año
			var y = n.getFullYear();
			//Mes
			var m = n.getMonth() + 1;
			//Día
			var d = n.getDate();

			var h = n.getHours();
			var mi = n.getMinutes();

			//console.log("hora:" + h + ":" + mi);

			if (m < 10) {
				this.GetFecha = d + "-0" + m + "-" + y;
			} else {
				this.GetFecha = d + "-" + m + "-" + y;
			}

			if (h < 10) {
				h = "0" + h;
			}
			if (mi < 10) {
				mi = "0" + mi;
			}
			this.GetHora = h + ":" + mi;

		},
		GetNegocio()
		{
			var url = '@Url.Action("GetNegocio", "Negocio")';
			axios.get(url).then(response => {
				this.negocios = response.data;
			})

		},
		GetGerencia()
		{
			var url = '@Url.Action("GetGerencia", "Gerencia")';
			axios.get(url).then(response => {
				this.gerencias = response.data;
//                        console.log("gerencia");
//                        console.log(response.data);
			})

		},
		GetArea()
		{
			var url = '@Url.Action("GetArea", "Area")';
			axios.get(url).then(response => {
				this.areas = response.data;
//                        console.log("areas");
//                        console.log(this.areas);
			})
		},
		GetHoldingId(id)
		{
			this.HoldingId = id;
			$('#negocio').removeAttr('disabled');
			$('#negocioError').removeClass('d-none');
			for (var i = 1; i <= 3; i++) {
				$('#select' + i).removeClass("active");
			}
			$('#select' + id).addClass("active");
			$('#gerencia').attr("disabled", "disabled");
			$('#area').attr("disabled", "disabled");

			this.GerenciaId = '';
			this.NegocioId = '';

			if (this.HoldingId !== null) {
				$('#holdingError').addClass('d-none');
				if (id === 1) {
					this.HoldingName = "Esmax Dist.";
				} else if (id === 2) {
					this.HoldingName = "Esmax red";
				} else if (id === 3) {
					this.HoldingName = "Esmax ind";
				}
			}

			this.validNext();

		},
		GetNegocioId(id)
		{
			var select = document.getElementById(id);
			var nId = select.options[select.selectedIndex].id;


			if (nId === 'negocio0') {
				$('#gerencia').attr("disabled", "disabled");
				$('#area').attr("disabled", "disabled");

				this.GerenciaId = '';
				this.AreaId = '';
				this.NegocioId = '';
			} else {
				this.NegocioId = parseInt(nId);
				$('#gerencia').removeAttr('disabled');
				$('#area').attr("disabled", "disabled");
				if (this.NegocioId !== null) {
					$('#negocioError').addClass('d-none');
					$('#gerenciaError').removeClass('d-none');
					this.negocioName = $('#' + id).val();
				}
				this.GerenciaId = '';
				this.AreaId = '';
//                        console.log("negocioid");
//                        console.log(nId);
			}

			this.validNext();

		},
		GetGerenciaId(id)
		{
			var select = document.getElementById(id);
			var gId = select.options[select.selectedIndex].id;
			if (gId === 'gerencia0') {
				$('#area').attr("disabled", "disabled");

				this.AreaId = '';
				this.GerenciaId = '';
			} else {
				this.GerenciaId = parseInt(gId);
				if (this.GerenciaId !== null) {
					$('#gerenciaError').addClass('d-none');
					$('#areaError').removeClass('d-none');
					this.gerenciaName = $('#' + id).val();
				}
				$('#area').removeAttr('disabled');
//                        console.log("gerenciaid");
//                        console.log(gId);
			}
			this.validNext();
		},
		GetAreaId(id)
		{
			var select = document.getElementById(id);
			var aId = select.options[select.selectedIndex].id;
			this.AreaId = parseInt(aId);
			if (this.AreaId !== null) {
				$('#areaError').addClass('d-none');
				this.areaName = $('#' + id).val();
			}
//                    console.log("areaid");
//                    console.log(aId);

			var oId = parseInt(aId);
			//console.log("OID");
			//console.log(oId);
			//console.log(this.AreaId);

			if (!isNaN(oId)) {
				dato = this.areas.filter(function(data) {
					if (data.area_id === oId) {
						return data.responsable_id;
					}
				});
				var idResponsable = dato[0].responsable_id;

				this.idR = idResponsable;

				var id2 = toString(idResponsable);
				//console.log("userrrrr");
				var context = this;
				this.users.map(function(data) {
					if (data.Id === "" + idResponsable) {

						context.oResponsable = data;
					}
				});
			}
			//console.log(this.idR);
			//console.log(this.oResponsable);
			$('#responsable111').val(this.oResponsable.UserName);
			this.responsableId = this.oResponsable.Id;
			this.validNext();
		},
		anonimo()
		{
			var checkbox = document.getElementById('anonimo');
			checkbox.addEventListener("change", this.isAnonimo(checkbox), false);
		},
		isAnonimo(checkbox)
		{
			var checked = checkbox.checked;
			if (checked) {
				$('#observador').attr("type", "password");
				this.oAnonimo = 1;
			} else {
				$('#observador').attr("type", "text");
				this.oAnonimo = 0;
			}
			//console.log(this.oAnonimo)
		},
		validNext()
		{
			if (this.HoldingId !== null &&
				this.HoldingId !== "" &&
				!isNaN(this.HoldingId) &&
				this.NegocioId !== null &&
				this.NegocioId !== "" &&
				!isNaN(this.NegocioId) &&
				this.GerenciaId !== null &&
				this.GerenciaId !== "" &&
				!isNaN(this.GerenciaId) &&
				this.AreaId !== null &&
				this.AreaId !== "" &&
				!isNaN(this.AreaId)
			) {
				//console.log("Correcto");
				//console.log(this.NegocioId);
				$('#next').removeAttr("disabled", "disabled");

			} else {
				//console.log("Error");
				//console.log(this.NegocioId);

				$('#next').attr("disabled", "disabled");
			}

		},
		getActividades(){
			var url = "@Url.Action("getActividades", "CheckList")";
			var data = {
				id: @ViewBag.checkListId
			}

			axios.post(url, data).then(response => {
				console.log(response.data);
				var d = response.data;
				for (var i = 0; i < d.length; i++) {
					this.Actividades.push({
						ActividadId: d[i].ActividadId,
						ActividadNombre: d[i].ActividadNombre,
						CheckListId: d[i].CheckListId,
						Porcentaje: d[i].Porcentaje,
						created_at: d[i].created_at,
						aprobado: 0
					});
				}
				this.getPreguntas();
			}).catch(error => {
				console.log("error: " + error);
			});

		},
		getPreguntas(){
			var query = "Where ";
			this.Actividades.map(function(data) {
				if (query === "Where ") {
					query += "ActividadId = " + data.ActividadId;
				} else {
					query += " or ActividadId = " + data.ActividadId;
				}
			});

			var url = "@Url.Action("getPreguntas", "CheckList")";

			var data = {
				query: query
			}

			axios.post(url, data).then(response => {
				this.Preguntas = response.data;

			}).catch(error => {
				console.log("error: " + error);
			});

		},
		respuesta(id, pregunta){
			//Se quita el active de todas las opciones segun id
			$('#na' + pregunta.PreguntaId).removeClass("active");
			$('#si' + pregunta.PreguntaId).removeClass("active");
			$('#no' + pregunta.PreguntaId).removeClass("active");
			var identificador = $('#no' + pregunta.PreguntaId);

			//Se agrega active al id enviado por parametro
			$('#' + id).addClass("active");
			var comentario = $('#comentario' + pregunta.PreguntaId);
			var context = this;
			var buscador = 0;

			var na = 0;
			var si = 0;
			var no = 0;
			var responde = false;
			var rspNO = false;

			this.respondidas.forEach(function(resp) {
				if (resp.codigo === pregunta.PreguntaId) {
					responde = true;
				}
			});

			this.respondeNO.forEach(function(resp) {
				if (resp.codigo === pregunta.PreguntaId) {
					rspNO = true;
				}
			});

			if (responde) {
				console.log("Pregunta ya respondida como na");
			} else {
				if (id === "na" + pregunta.PreguntaId) {
					na = 1;
					si = 0;
					no = 0;
					var porce = 0;

					context.respuestaPregunta.forEach(function(item) {
						if (item.PreguntaId === pregunta.PreguntaId) {
							comentario.attr("disabled", "disabled");
							comentario.val("");
							item.comentario = null;
						}
					});

					context.Preguntas.forEach(function(item) {
						var pctActividad = 0;
						if (item.PreguntaId === pregunta.PreguntaId) {

							context.Actividades.forEach(function(act) {
								if (act.ActividadId === item.ActividadId) {
									if (act.aprobado === undefined) {
										act.aprobado = 0;
									}
									porce = act.aprobado;
									pctActividad = act.Porcentaje;
								}
							});
							porce = porce + ((pregunta.Procentaje * pctActividad) / 100);
							//porce = porce + pregunta.Procentaje;
							context.total = context.total + ((pregunta.Procentaje * pctActividad) / 100);
							context.Actividades.forEach(function(dato) {
								if (dato.ActividadId === pregunta.ActividadId) {
									dato.aprobado = porce;
								}
							});
						}
					});
					context.contadorP = porce;
					console.log(context.Actividades);
					comentario.attr("disabled", "disabled");
					context.respondidas.push({
						codigo: pregunta.PreguntaId,
					});
					//context.respondeNO = context.respondoNO.filter(function(r) {return r !== pregunta.PreguntaId});
					context.respondeNO = context.respondeNO.filter(
						function(data) {
							if (data.codigo !== pregunta.PreguntaId) {
								return data;
							}
						});

					if (context.respondeNO.length <= 0) {
						context.desviadas = [];
					}

					var aux;
					context.desviadas.forEach(function(item) {
						aux = 0;
						context.respondeNO.forEach(function(item2) {
							if (item2.actividadId === item.ActividadId) {
								aux ++;
							}
						});
						//console.log("MATCHES: " + aux);
						if (aux === 0) {
							//console.log("afuera del filter");
							context.desviadas = context.desviadas.filter(
								function(data) {
									if (data.ActividadId !== item.ActividadId) {
										//console.log("dentro del filter");
										return data;
									}
								});
						}
						//aux = 0;
					});
					//console.log("Desviadas: " + context.desviadas.length);

					/*console.log("RESPONDIDAS");
					console.log(context.respondidas);*/
				}
			}

			if (responde) {
				console.log("Pregunta ya respondida como si");
			} else {
				if (id === "si" + pregunta.PreguntaId) {
					na = 0;
					si = 1;
					no = 0;
					context.respuestaPregunta.forEach(function(item) {
						if (item.PreguntaId === pregunta.PreguntaId) {
							comentario.val("");
							comentario.prop("disabled", "disabled");
							item.comentario = null;
						}
					});
					context.Preguntas.forEach(function(item) {
						var pctActividad = 0;
						if (item.PreguntaId === pregunta.PreguntaId) {
							context.Actividades.forEach(function(act) {
								if (act.ActividadId === item.ActividadId) {
									if (act.aprobado === undefined) {
										act.aprobado = 0;
									}
									porce = act.aprobado;
									pctActividad = act.Porcentaje;
								}
							});
							porce = porce + ((pregunta.Procentaje * pctActividad) / 100);
							//porce = porce + pregunta.Procentaje;
							context.total = context.total + ((pregunta.Procentaje * pctActividad) / 100);
							context.Actividades.forEach(function(dato) {
								if (dato.ActividadId === pregunta.ActividadId) {
									console.log("PORCENTAJE");
									console.log(porce);
									dato.aprobado = porce;
								}
							});
						}
					});
					context.contadorP = porce;
					console.log(context.Actividades);
					comentario.attr("disabled", "disabled");
					context.respondidas.push({
						codigo: pregunta.PreguntaId,
					});

					//context.respondeNO = context.respondeNO.filter(function(r) {return r !== pregunta.PreguntaId});
					context.respondeNO = context.respondeNO.filter(function(data) {
						if (data.codigo !== pregunta.PreguntaId) {
							return data;
						}
					});

					if (context.respondeNO.length <= 0) {
						context.desviadas = [];
					}

					var aux1;
					context.desviadas.forEach(function(item) {
						aux1 = 0;
						context.respondeNO.forEach(function(item2) {
							if (item2.actividadId === item.ActividadId) {
								aux1 ++;
							}
						});
						//console.log("MATCHES: " + aux);
						if (aux1 === 0) {
							//console.log("afuera del filter");
							context.desviadas = context.desviadas.filter(
								function(data) {
									if (data.ActividadId !== item.ActividadId) {
										//console.log("dentro del filter");
										return data;
									}
								});
						}
						//aux = 0;
					});

					/*console.log("RESPONDIDAS");
					console.log(context.respondidas);*/
				}
			}

			if (rspNO) {
				console.log("Pregunta ya respondida como no");
			} else {
				if (id === "no" + pregunta.PreguntaId) {
					na = 0;
					si = 0;
					no = 1;
					comentario.removeAttr("disabled", "disabled");

					context.Actividades.forEach(function(item) {
						if (item.ActividadId === pregunta.ActividadId) {
							//item.aprobado = item.aprobado - pregunta.Procentaje;
							var ra = false;
							context.respondidas.forEach(function(r) {
								if (r.codigo === pregunta.PreguntaId) {
									ra = true;
								}
							});
							if (ra === false) {
								console.log("-");
							} else {
								item.aprobado = item.aprobado - ((pregunta.Procentaje * item.Porcentaje) / 100);
								context.total = context.total - ((pregunta.Procentaje * item.Porcentaje) / 100);
							}

							//context.respondidas = context.respondidas.filter(function(r) {return r !== pregunta.PreguntaId});
							if (responde) {
								context.respondidas = context.respondidas.filter(
									function(data) {
										if (data.codigo !== pregunta.PreguntaId) {
											return data;
										}
									});
							}

							var valida = true;
							if (context.desviadas.length <= 0) {
								valida = false;
								context.desviadas.push({
									preguntaId: pregunta.PreguntaId,
									ActividadId: item.ActividadId,
									ActividadNombre: item.ActividadNombre,
									identificador: id
								});
							} else {
								context.desviadas.forEach(function(des) {
									if (des.ActividadId === pregunta.ActividadId) {
										valida = false;
									}
								});
							}
							if (valida) {
								context.desviadas.push({
									preguntaId: pregunta.PreguntaId,
									ActividadId: item.ActividadId,
									ActividadNombre: item.ActividadNombre,
									identificador: id
								});
							}

							context.respondeNO.push({
								codigo: pregunta.PreguntaId,
								pregunta: pregunta.pregunta,
								actividadId: pregunta.ActividadId
							});
						}
					});

				}
			}

			this.respuestaPregunta.map(function(data) {
				if (data.PreguntaId === pregunta.PreguntaId) {
					data.na = na;
					data.si = si;
					data.no = no;

					buscador += 1;
				}
			});
			if (buscador === 0) {
				this.respuestaPregunta.push({
					ActividadId: pregunta.ActividadId,
					PreguntaId: pregunta.PreguntaId,
					na: na,
					si: si,
					no: no,
					comentario: null,
					pregunta: pregunta.pregunta
				});
			}
		},
		valDesvio(){
			var comentario = $('#comentario');
			$('#comentario').removeAttr("disabled,", "disabled");

		},
		comentario(pregunta)
		{
			var comentario = $('#comentario' + pregunta.PreguntaId).val();

			this.respuestaPregunta.map(function(data) {
				if (data.PreguntaId === pregunta.PreguntaId) {
					data.comentario = comentario;
				}
			});
		},
		validar()
		{

		},
		validarFinish()
		{
			setInterval(() => {
					//console.log("------");
					var context = this;
					this.cantComents = 0;

					this.respuestaPregunta.forEach(function(item) {
						if (item.comentario !== null && item.comentario !== "") {
							context.cantComents ++;
							//console.log("Se suma 1");
						}
					});
					//console.log("Comentario: " + context.cantComents);

					if (this.respuestaPregunta.length === this.Preguntas.length) {
						context.conteo = 0;
						context.validaPlanAccion();
						if (context.conteo !== context.cantComents) {
							context.validaPlanAccion();
							$('#checkComents').removeClass("d-none");
							//$('#finish').attr("disabled", "disabled");
							$('#next2').attr("disabled", "disabled");
							//console.log("DESHABILITADO");
						} else {
							//console.log("nada");
							$('#checkComents').addClass("d-none");
							//$('#finish').removeAttr("disabled", "disabled");
							$('#next2').removeAttr("disabled", "disabled");
							//console.log("HABILITADO");
						}
					} else {
						//$('#finish').attr("disabled", "disabled");
						$('#next2').attr("disabled", "disabled");
						//console.log("DESHABILITADO");
					}
					/*if (this.respuestaPregunta.length === this.Preguntas.length) {
			        }*/
				},
				100);
		},

		validarFinish2()
		{
			var context = this;
			setInterval(() => {
					if (context.respondeNO.length !== 0) {
						console.log("sin plan de accion");
						if ((context.arrayResponsables.length === context.desviadas.length) &&
							(context.getCumplimientos.length === context.desviadas.length) &&
							(context.getAcciones.length === context.desviadas.length)) {
							$('#finish2').removeAttr("disabled", "disabled");
							console.log("todo en orden");
							//console.log("HABILITADO");
						} else {
							console.log("deshabilitado interno");
							$('#finish2').attr("disabled", "disabled");
							//console.log("DESHABILITADO");
						}
					} else {
						$('#finish2').removeAttr("disabled", "disabled");
					}

				},
				100);
		},
		getCheckList()
		{
			var url = "@Url.Action("getCheckList", "CheckList")";
			var data = {
				id: @ViewBag.checkListId
			}

			axios.post(url, data).then(response => {
				this.checkList = response.data;
			}).catch(error => {
				console.log("error: " + error);
			});
		},
		/*getCumplimiento() {
			var select = document.getElementById('fechaCumplimiento');
			var fecha = select.options[select.selectedIndex].id;
			//console.log(fecha);

			this.fechaCumplimiento = fecha;
		},*/
		validaPlanAccion()
		{
			var context = this;
			var conteo = 0;
			var finish2 = $('#finish2');

			context.respondeNO.forEach(function(item) {
				conteo ++;
				context.conteo = conteo;
			});
			//console.log("Conteo: " + conteo);
			if (conteo > 0) {
				$('#checkDesvios').addClass("d-none");
				$('#planDeAccion').removeClass("d-none");
				//$('#finish2').attr("disabled", "disabled");
			} else {
				$('#checkDesvios').removeClass("d-none");
				$('#planDeAccion').addClass("d-none");
				finish2.removeAttr("disabled", "disabled");
			}
		},
		calculoPorcentaje(id, pregunta)
		{
			var x = 0;
			var context = this;
			var url = "@Url.Action("SetPorcentaje", "CheckList")";

			//Recorro todas las preguntas
			this.Preguntas.forEach(function(item) {
				//Busco la pregunta en la bd que sea la misma que se esta respondiendo
				if (item.ActividadId === pregunta.ActividadId && item.PreguntaId === pregunta.PreguntaId) {
					//Verifico que la respuesta sea No aplica o Si (para sumar el pct)
					if (id === "na" || id === "si") {
						//Almaceno en una variable temporal la suma del pct aprobado
						x += pregunta.Procentaje;

						var data = {
							actividad: item.ActividadId,
							pregunta: item.PreguntaId
						}


						//Lo inserto en la base de datos, tabla rActividades
						axios.post(url, data).then(response => {
							context.pctsAprove = response.data;
						}).catch(error => {
							console.log("error " + error);
						});
						//Imprimo por consola el resultado
						console.log(pctsAprove);

					}
				}

			});

		}
		}
	})
    </script>
	
}


