@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Revisar Check List";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-11 mb-3">
            
            <a class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("ingresarCheckList", "CheckList")">
                <i class="fa fa-plus fa-2x mr-2"></i> Ingresar Check List
            </a>
            <a class="btn btn-secondary" style="font-size: 75%;" v-if="user.Rol === 'Administrador'" href="@Url.Action("CrearCheckList", "CheckList")">
                <i class="fa fa-edit fa-2x mr-2"></i> Crear Check List
            </a>
            <a class="btn btn-info" style="font-size: 100%;" href="@Url.Action("listRespuestas", "CheckList")">
                <i class="fa fa-list-ul fa-2x mr-2"></i> Revisar Check List
            </a>
            <a class="btn btn-secondary"style="font-size: 75%;" href="@Url.Action("graficossCheckList", "CheckList")">
                <i class="fa fa-chart-line fa-2x mr-2"></i> Gr&aacute;ficas Check List
            </a>
        </div>
        <div class="card col-lg-11 p-0">
            <div class="card-header">
                <div class="row mt-2">
                    <div class="form-group m-0 col-lg-3 col-md-12">
                        <label class="text-dark" for="categoriaListHolding">Seleccione un holding</label>
                        <select v-on:change="getHolding" class="form-control" id="categoriaListHolding">
                            <option id="0"></option>
                            <option v-for="holding in holdings" :id="holding.holding_id" :value="holding.holding_nombre">{{ holding.holding_nombre }}</option>
                        </select>
                    </div>
                    <div class="form-group m-0 col-lg-3 col-md-12">
                        <label class="text-dark" for="categoriaListNegocio">Seleccione un &aacute;rea de negocio</label>
                        <select v-on:change="getNegocio" class="form-control" id="categoriaListNegocio">
                            <option id="0"></option>
                            <option v-for="negocio in negocios" :id="negocio.negocio_id" :value="negocio.negocio_nombre">{{ negocio.negocio_nombre }}</option>
                        </select>
                    </div>
                    <div class="form-group m-0 col-lg-3 col-md-12">
                        <label class="text-dark" for="categoriaListGerencia">Seleccione una gerencia</label>
                        <select v-on:change="getGerencia" class="form-control" id="categoriaListGerencia">
                            <option id="0"></option>
                            <option v-for="gerencia in gerencias" :id="gerencia.gerencia_id" :value="gerencia.gerencia_nombre">{{ gerencia.gerencia_nombre }}</option>
                        </select>
                    </div>
                    <div class="form-group m-0 col-lg-3 col-md-12">
                        <label class="text-dark" for="categoriaListArea">Seleccione una &aacute;rea</label>
                        <select v-on:change="getArea" class="form-control" id="categoriaListArea">
                            <option id="0"></option>
                            <option v-for="area in areas" :id="area.area_id" :value="area.area_nombre">{{ area.area_nombre }}</option>
                        </select>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-3 form-group m-0" style="padding-top: 24px;">
                        <input id="startDate111" placeholder="Desde" autocomplete="off"/>
                    </div>
                    <div class="col-lg-3 form-group m-0" style="padding-top: 24px;">
                        <input id="endDate111" placeholder="Hasta" autocomplete="off"/>
                    </div>
                    <div class="form-group m-0 col-lg-3 col-md-12">
                        <label class="text-dark" for="categoriaList">Seleccione una categor&iacute;a</label>
                        <select v-on:change="getCategoria" class="form-control" id="categoriaList">
                            <option id="0"></option>
                            <option v-for="categoria in categorias" :id="categoria.categorias_nombre">{{ categoria.categorias_nombre }}</option>
                        </select>
                    </div>
                    <div class="col-lg-3" style="padding-top: 24px;">
                        <button v-on:click="buscar" class="form-group btn btn-primary btn-block m-0" ><i class="fa fa-search"></i> Buscar</button>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <table id="myTable2" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Folio</th>
                        <th>Nombre</th>
                        <th>Categor&iacute;a</th>
                        <th>Holding</th>
                        <th>A. Negocio</th>
                        <th>Gerencia</th>
                        <th>&Aacute;rea</th>
                        <th>Fecha</th>
                        <th>Ver</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/jquery.dataTables.min.js"></script>

    <script>

        var revisar = new Vue({
            el: '#app',
            data() {
                return{
                    revisar: [],
                    odts: [],
                    categorias: [],
                    user: null,
                    categorias_id: null,
                    respuestaS: null,
                    respuestaQuery: null,
                    holdings: null,
                    negocios: null,
                    gerencias: null,
                    areas: null,
                    holding_id: null,
                    negocio_id: null,
                    gerencia_id: null,
                    area_id: null,
                    

                }
            },
            created() {

                this.getC();

                this.holding();
                this.negocio();
                this.gerencia();
                this.area();
                
                var urlUser = '@Url.Action("getUser", "User")';

                var data = {
                    id: '@User.Identity.GetUserId()'
                }

                axios.post(urlUser, data).then(response => {
                    this.user = response.data;
                }).catch(error => {
                    console.log("error: " + error);
                })
            },
            methods: {
                holding() {
                    var url = '@Url.Action("GetHolding", "Holding")';

                    axios.get(url).then(response => {
                        this.holdings = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                negocio() {
                    var url = '@Url.Action("GetNegocio", "Negocio")';

                    axios.get(url).then(response => {
                        this.negocios = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                gerencia() {
                    var url = '@Url.Action("GetGerencia", "Gerencia")';

                    axios.get(url).then(response => {
                        this.gerencias = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                area() {
                    var url = '@Url.Action("GetArea", "Area")';

                    axios.get(url).then(response => {
                        this.areas = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getHolding() {
                    var select = document.getElementById("categoriaListHolding");
                    var cId = $('#categoriaListHolding').val();
                    if (cId === 0) {
                        this.holding_id = "0";
                    } else {
                        this.holding_id = cId;
                    }
                },
                getNegocio() {
                    var select = document.getElementById("categoriaListNegocio");
                    var cId = $('#categoriaListNegocio').val();
                    if (cId === 0) {
                        this.negocio_id = "0";
                    } else {
                        this.negocio_id = cId;
                    }
                },
                getGerencia() {
                    var select = document.getElementById("categoriaListGerencia");
                    var cId = $('#categoriaListGerencia').val();
                    if (cId === 0) {
                        this.gerencia_id = "0";
                    } else {
                        this.gerencia_id = cId;
                    }
                },
                getArea() {
                    var select = document.getElementById("categoriaListArea");
                    var cId = $('#categoriaListArea').val();
                    if (cId === 0) {
                        this.area_id = "0";
                    } else {
                        this.area_id = cId;
                    }
                },
                getRespuesta(cId) {
                    var url = '@Url.Action("allRespuestas", "RespuestaOdt")';

                    axios.get(url).then(response => {
                        this.revisar = response.data;
                        console.log("revisar");
                        console.log(cId);
                        
                        this.getOdtC(cId);
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getRespuesta2() {
                    var url = '@Url.Action("allRespuestas", "RespuestaOdt")';

                    axios.get(url).then(response => {
                        this.revisar = response.data;
                        
                        this.getOdt();
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getC() {
                    var urlCategorias = '@Url.Action("getCategorias", "CheckList")';
                    axios.get(urlCategorias).then(response => {
                        this.categorias = response.data;
                        console.log("categorias");
                        console.log(this.categorias);
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                findCategorias() {
                    var urlCategorias = '@Url.Action("getCategorias", "CheckList")';
                    axios.get(urlCategorias).then(response => {
                        this.categorias = response.data;
                        console.log("categorias");
                        console.log(this.categorias);
                        this.getOdt();
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },

                formatDate(date) {
                    var fecha = date,
                        patron = "/Date(",
                        valor = "",
                        nuevo = fecha.replace(patron, valor),
                        patron2 = ")/",
                        valor2 = "",
                        nuevo2 = nuevo.replace(patron2, valor2);
                    console.log(nuevo2);
                    var int = parseInt(nuevo2);
                    var d = new Date(int);
                    var monthNames = [
                        "Enero", "Febrero", "Marzo",
                        "Abril", "Mayo", "Junio", "Julio",
                        "Agosto", "Septiembre", "Octubre",
                        "Noviembre", "Diciembre"
                    ];
                    var day = d.getDate();
                    var monthIndex = d.getMonth();
                    var year = d.getFullYear();

                    return day + '/' + monthNames[monthIndex] + '/' + year;

                },
                getTable() {

                    $('#myTable2').DataTable().clear().draw();
                    $('#myTable2').DataTable().destroy();
                    var tabla = $('#myTable2').DataTable({
                        language: {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ning&uacute;n dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        }
                    });
                    

                    //tabla.destroy();

                    var context = this;

                    this.respuestaQuery.map(function(o) {
                        tabla.row.add([
                            o.respuestaCheckListId,
                            o.CheckListNombre,
                            o.categorias_nombre,
                            o.holding_nombre,
                            o.negocio_nombre,
                            o.gerencia_nombre,
                            o.area_nombre,
                            context.formatDate(o.created_at),
                            '<a href="@Url.Action("ver", "CheckList")/' +
                            o.respuestaCheckListId +
                            '" target="_blank"><button class="btn btn-outline-primary" style="border-radius: 50%"><i class="fa fa-eye"></i></button></a>'
                        ]);
                    });

                    tabla.draw();
                },
                getCategoria() {
                    var select = document.getElementById("categoriaList");
                    var cId = select.options[select.selectedIndex].id;
                    if (cId === 0) {
                        this.categorias_id = "0";
                    } else {
                        this.categorias_id = cId;
                    }
                    
                },
                buscar() {
                    var fechaIni = $('#startDate111').val();
                    var fechafin = $('#endDate111').val();
                    var cId = this.categorias_id;
                    var holding = this.holding_id;
                    var negocio = this.negocio_id;
                    var gerencia = this.gerencia_id;
                    var area = this.area_id;
                    var query = "Where ";

                    if (fechaIni !== "") {
                        query = query + "created_at >= '" + fechaIni + "' ";
                        if (fechafin !== "") {
                            query = query + "and created_at <= '" + fechafin + "' ";
                        }
                    }

                    if (cId !== null && cId !== "0") {
                        if (query !== "Where ") {
                            query = query + "and categorias_nombre = '" + cId + "' ";
                        } else {
                            query = query + "categorias_nombre = '" + cId + "' ";
                        }
                    }

                    if (holding !== null && holding !== "") {
                        if (query !== "Where ") {
                            query = query + "and holding_nombre = '" + holding + "' ";
                        } else {
                            query = query + "holding_nombre = '" + holding + "' ";
                        }
                    }
                    
                    if (negocio !== null && negocio !== "") {
                        if (query !== "Where ") {
                            query = query + "and negocio_nombre = '" + negocio + "' ";
                        } else {
                            query = query + "negocio_nombre = '" + negocio + "' ";
                        }
                    }
                    
                    if (gerencia !== null && gerencia !== "") {
                        if (query !== "Where ") {
                            query = query + "and gerencia_nombre = '" + gerencia + "' ";
                        } else {
                            query = query + "gerencia_nombre = '" + gerencia + "' ";
                        }
                    }
                    
                    if (area !== null && area !== "") {
                        if (query !== "Where ") {
                            query = query + "and area_nombre = '" + area + "' ";
                        } else {
                            query = query + "area_nombre = '" + area + "' ";
                        }
                    }

                    if (query !== "Where ") {
                        this.getRespuestaQuery(query);
                        console.log(query);
                    } else {
                        this.getRespuestaSinQuery();
                    }

                    console.log(this.holding_id);
                    console.log(this.negocio_id);
                    console.log(this.gerencia_id);
                    console.log(this.area_id);


                },
                getRespuestaQuery(query) {

                    var url = "@Url.Action("findRespuestaQuery","CheckList")";
                    var data= {
                        query: query
                    }
                    axios.post(url, data).then(response => {
                        this.respuestaQuery = response.data;
                        console.log("respuestaQuery");
                        console.log(this.respuestaQuery);

                        this.getTable();
                    }).catch(error => {
                        console.log("error: " + error);
                    })

                },
                getRespuestaSinQuery() {

                    var url = "@Url.Action("findRespuestaSinQuery","CheckList")";
                    
                    axios.get(url).then(response => {
                        this.respuestaQuery = response.data;
                        console.log("respuestaSinQuery");
                        console.log(this.respuestaQuery);

                        this.getTable();
                    }).catch(error => {
                        console.log("error: " + error);
                    })

                },
            },
            updated() {
                $('#startDate111').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                    maxDate: function () {
                        return $('#endDate111').val();
                    }
                });
                $('#endDate111').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                    minDate: function () {
                        return $('#startDate111').val();
                    }
                });
            }
        })


    </script>
}