
@{
    ViewBag.Title = "Ver Check List";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container mt-3 mb-5">
     <div class="row justify-content-center">
         <div class="col-lg-10">
             
             <div class="card shadow p-0">
                 <div class="card-header text-center">
                     <div class="row">
                         <div class="col-lg-2 text-left">
                             <h4>Folio: {{ respuesta.respuestaCheckListId }}</h4>
                         </div>
                 <div class="col-lg-8">
                     <h4>{{ respuesta.CheckListNombre }}</h4>
                 </div>
                 <div class="col-lg-2 text-right">
                     <h4><img width="50" src="~/Content/logopaso.png"/></h4>
                 </div>
             </div>
             
             </div>
                 <div class="card-body ml-5">
                     <div class="row ">
                         <div class="col-lg-2 mt-1 p-0 ml-4">Informante</div>
                         <div v-if="datosGenerales.anonimo === 0" class="col-lg-8">
                             <input class="form-group form-control m-0 ml-0" v-model="respuesta.observador_nombre" disabled/>
                         </div>
                         <div v-if="datosGenerales.anonimo === 1" class="col-lg-8">
                             <input type="password" class="form-group form-control m-0 ml-0" id="" v-model="respuesta.observador_nombre" disabled/>
                         </div>
                     </div>
                     <div class="row mt-3">
                         <div class="col-lg-2 mt-1 p-0 ml-4">Holding</div>
                         <div class="col-lg-3">
                             <input class="text-uppercase form-group form-control m-0 ml-0" v-model="respuesta.holding_nombre" id="" disabled/>
                         </div>
                         <div class="col-lg-1 mt-1 p-0 mr-0">Negocio</div>
                         <div class="col-lg-4 ml-0">
                             <input class="text-uppercase form-group form-control m-0 ml-0" v-model="respuesta.negocio_nombre" id="" disabled/>
                         </div>
                     </div>
                     <div class="row mt-3">
                         <div class="col-lg-2 mt-1 p-0 ml-4">Gerencia</div>
                         <div class="col-lg-3 ">
                             <input class="text-uppercase form-group form-control m-0 ml-0" v-model="respuesta.gerencia_nombre" id="" disabled/>
                         </div>
                         <div class="col-lg-1 mt-1 p-0">&Aacute;rea</div>
                         <div class="col-lg-4 ">
                             <input class="text-uppercase form-group form-control m-0 ml-0" v-model="respuesta.area_nombre" id="" disabled/>
                         </div>
                     </div>
                     <div class="row mt-3 mb-5">
                         <div class="col-lg-2 mt-1 p-0 ml-4">Fecha</div>
                         <div class="col-lg-3 ">
                             <input required id="" disabled v-model="fecha"  class="text-uppercase form-group form-control m-0"/>
                         </div>
                         <div class="col-lg-1 mt-1 p-0 mr-0">Hora</div>
                         <div class="col-lg-4 ml-0">
                             <input class="form-group form-control m-0 ml-0" v-model="datosGenerales.hora" disabled/>
                         </div>
                     </div>
                 </div>
             </div>



             <div class="card shadow mt-3 p-0">
                 <div class="card-header text-center">
                     <h4>Actividades</h4>
                 </div>
                 <div class="card-body pt-0">
                     <div class="row justify-content-center">
                         <div class="card p-0 mt-3 shadow-sm col-lg-12" v-for="actividad in Actividades">
                             <div class="card-header" >
                                 <h6>{{ actividad.ActividadNombre }}</h6>
                             </div>
                             <div class="card-body">
                                 <table class="table">
                                     <thead>
                                     <tr>
                                         <th style="width: 50%">Pregunta</th>
                                         <th>N/A</th>
                                         <th>SI</th>
                                         <th>NO</th>
                                         <th>Comentario</th>
                                     </tr>
                                     </thead>
                                     <tbody>
                             
                                     <tr v-for="o in rActividades" v-if="o.ActividadId === actividad.ActividadId">
                                         <td style="font-size: 14px;">{{ o.pregunta }}</td>
                                         <td v-if="o.na === 0"><i class="fa fa-square"></i></td>
                                         <td v-if="o.na === 1"><i class="fa fa-check"></i></td>
                                         <td v-if="o.si === 0"><i class="fa fa-square"></i></td>
                                         <td v-if="o.si === 1"><i class="fa fa-check"></i></td>
                                         <td v-if="o.no === 0"><i class="fa fa-square"></i></td>
                                         <td v-if="o.no === 1"><i class="fa fa-check"></i></td>
                                         <td style="font-size: 14px;">{{ o.comentario }}</td>
                                     </tr>
                             
                                     </tbody>
                                 </table>
                             </div>
                         </div>

                     </div>
                 </div>
             </div>
             @*<div v-for="actividad in Actividades">
                 <div v-for="p in planes" v-if="p.actividad_id === actividad.ActividadId">
                     <h6 style="font-weight: bold">{{ actividad.ActividadId }}.- {{ actividad.ActividadNombre }}</h6>
                     <div class="row">
                         <div>Preguntas con desvio </div>
                         <div v-for="res in rActividades" v-if="p.actividad_id === res.ActividadId && res.no === 1">
                             <h6>{{ res.PreguntaId }}.- {{ res.pregunta }}</h6>
                         </div>
                         <div>Accion: </div>
                         <h6>{{p.accion}}</h6>
                         <div>Responsable: </div>
                         <h6>{{p.responsable_id}}</h6>
                         <div>Fecha cumplimiento: </div>
                         <h6>{{p.cumplimiento}}</h6>
                     </div>
                 </div>      
             </div>*@
             
             <div class="card shadow mt-3 p-0 pt-0">
                 <div class="card-header text-center">
                     <h4>Plan de acci&oacute;n</h4>
                 </div>
                 <div class="card-body">
                     <div class="row justify-content-center" v-for="actividad in Actividades">
                         <div class="card shadow-sm col-lg-12 pt-0 mt-2"  v-for="p in planes" v-if="p.actividad_id === actividad.ActividadId">
                             <div class="card-header p-2" >
                                 <h6 style="font-weight: bold">{{ actividad.ActividadId }}.- {{ actividad.ActividadNombre }}</h6>
                             </div>
                             <div class="card-body">
                                 @*<div v-for="res in rActividades" v-if="p.actividad_id === res.ActividadId && res.no === 1">*@
                                 <div class="row justify-content-center">
                                     <div class="col-lg-4 col-md-12">
                                         <h6 style="font-weight: bold">Preguntas con desvio </h6>
                                     </div>
                                     <div class="col-lg-8 col-md-12">
                                         <div v-for="res in rActividades" v-if="p.actividad_id === res.ActividadId && res.no === 1">
                                             <h6>{{ res.PreguntaId }}.- {{ res.pregunta }}</h6>
                                         </div>
                                     </div>
                                 </div>
                                 <br/>
                                 <div class="row justify-content-center">
                                     <div class="col-lg-4 col-md-12">
                                         <h6 style="font-weight: bold">Acci&oacute;n </h6>
                                     </div>
                                     <div class="col-lg-8 col-md-12">
                                         <div>
                                             <h6>{{p.accion}}</h6>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="row justify-content-center">
                                     <div class="col-lg-4 col-md-12">
                                         <h6 style="font-weight: bold">Responsable </h6>
                                     </div>
                                     <div class="col-lg-8 col-md-12">
                                         <div>
                                             <h6>{{p.responsable_id}}</h6>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="row justify-content-center">
                                     <div class="col-lg-4 col-md-12">
                                         <h6 style="font-weight: bold">Fecha de cumplimiento</h6>
                                     </div>
                                     <div class="col-lg-8 col-md-12">
                                         <div>
                                             <h6>{{p.cumplimiento}}</h6>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
                 
                
             
         </div>
    </div>
</div>

@section scripts
{
    <script>
        var verCheckList = new Vue({
            el: '#app',
            data() {
                return{
                    idCheckList: @ViewBag.CheckListId,
                    respuesta: null,
                    fecha: null,
                    antecedentes_id: null,
                    datosGenerales: null,
                    descripcion: null,
                    responsable: null,
                    holding_name: null,
                    negocio_name: null,
                    gerencia_name: null,
                    empresa_name: null,
                    cierre: null,
                    files: [],
                    cumplimiento: null,
                    rActividades: [],
                    Actividades: [],
                    planAccion: null,
                    fechaCum: null,
                    planes: [],
                    datosPlanes:[],

                }
            },
            created() {
                this.getCheckList();
            },
            mounted() {
                this.seccionPDA();
                this.getPlanes();
                this.cargarDatos();
            },
            methods: {
                seccionPDA() {
                    /*var accion = "";
                    //var context = this;
                    accion = document.getElementById('accionPlan');
                    console.log("Plan de accion abajo!");
                    console.log(this.planAccion);*/
                    var conteo = 0;
                    console.log("----------------");
                    console.log(this.idCheckList);
                    console.log(this.respuesta);
                    console.log(this.fecha);
                    console.log(this.antecedentes_id);
                    console.log(this.datosGenerales);
                    console.log(this.descripcion);
                    console.log(this.responsable);
                    console.log(this.negocio_name);
                    console.log(this.gerencia_name);
                    console.log(this.empresa_name);
                    console.log(this.files);
                    console.log(this.cierre);
                    console.log(this.cumplimiento);
                    console.log(this.rActividades);
                    console.log(this.Actividades);
                    console.log(this.planAccion);
                    console.log(this.fechaCum);

                    this.rActividades.forEach(function(item) {
                        if (item.no === 1) {
                            conteo ++;
                        }

                        if (conteo > 0) {
                            console.log("Tiene desvios");
                        } else {
                            console.log("No tiene plan de accion");
                        }
                    });
                },
                getCheckList() {
                    var url = '@Url.Action("findCheckList", "CheckList")';
                    var data = this.idCheckList;
                    axios.post(url,
                        {
                            id: data
                        }).then(response => {
                        this.respuesta = response.data;
                        console.log("RESPUESTA");
                        console.log(this.respuesta);
                        this.getDatosGenerales();
                        this.getrActividades(this.respuesta.respuestaCheckListId);
                        this.getPlanAccion(this.respuesta.respuestaCheckListId);


                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                formatDate(date) {
                    var fecha = date,
                        patron = "/Date(",
                        valor = "",
                        nuevo = fecha.replace(patron, valor),
                        patron2 = ")/",
                        valor2 = "",
                        nuevo2 = nuevo.replace(patron2, valor2);
                    console.log(nuevo2);
                    var int = parseInt(nuevo2);
                    var d = new Date(int);
                    var monthNames = [
                        "Enero", "Febrero", "Marzo",
                        "Abril", "Mayo", "Junio", "Julio",
                        "Agosto", "Septiembre", "Octubre",
                        "Noviembre", "Diciembre"
                    ];
                    var day = d.getDate();
                    var monthIndex = d.getMonth();
                    var year = d.getFullYear();

                    return day + '/' + monthNames[monthIndex] + '/' + year;

                },
                getDatosGenerales() {
                    var url = '@Url.Action("getDatosGenerales", "CheckList")';
                    var antecedentes_id = this.respuesta.datosGeneralesCheckListId;
                    axios.post(url,
                        {
                            id: antecedentes_id
                        }).then(response => {
                        this.datosGenerales = response.data;
                        this.fecha = this.formatDate(this.datosGenerales.fecha);
//                        this.getResponsable(this.antecedentes.responsable_id);
//                        this.getHolding();
//                        this.getNegocio(this.antecedentes.negocio_id);
//                        this.getGerencia(this.antecedentes.gerencia_id);
//                        this.cumplimiento = this.formatDate(this.antecedentes.fecha_cumplimiento);
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getrActividades(idCheckList) {
                    var url = '@Url.Action("rActividades", "CheckList")';
                    var context = this;
                    axios.post(url,
                        {
                            id: idCheckList
                        }).then(response => {
                        this.rActividades = response.data;

                        this.rActividades.map(function(data) {
                            context.dActividades(data.ActividadId);
                        })

                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                dActividades(id) {
                    var url = '@Url.Action("Actividades", "CheckList")';

                    axios.post(url,
                        {
                            id: id
                        }).then(response => {
                        var count = 0;
                        this.Actividades.map(function(data) {
                            if (data.ActividadId === response.data.ActividadId) {
                                count ++;
                            }
                        })

                        if (count === 0) {
                            this.Actividades.push(response.data);
                        }


                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getPlanAccion(id) {
                    var url = '@Url.Action("planAccion", "CheckList")';
                    var context = this;
                    axios.post(url,
                        {
                            id: id
                        }).then(response => {

                        this.planAccion = response.data;
                        context.responsableId(context.planAccion.responsable_id);
                        context.fechaCum = context.formatDate(context.planAccion.cumplimiento);
                    }).catch(error => {
                        console.log("error: " + error);
                    });
                },
                getPlanes() {
                    var context = this;
                    console.log("CHECKLIST ID---");
                    var respuestaCheckListId = this.idCheckList;
                    console.log(respuestaCheckListId);

                    var url = '@Url.Action("getPlanes", "CheckList")';

                    axios.post(url, { respuestaCheckListId: respuestaCheckListId }).then(response => {
                        context.planes = response.data;
                        
                        context.planes.forEach(function(item) {
                            item.cumplimiento = context.formatDate(item.cumplimiento);
                        });
                        
                    }).catch(error => {
                        console.log("error: " + error);
                    });
                    
                    
                },
                responsableId(id) {
                    var url = '@Url.Action("getUser", "User")';
                    var context = this;
                    axios.post(url,
                        {
                            id: id
                        }).then(response => {

                        this.responsable = response.data;

                    }).catch(error => {
                        console.log("error: " + error);
                    });
                }
            },
        })
    </script>
}
