﻿@using Esmax.Models
@using Microsoft.AspNet.Identity
@using Esmax.Models
@model LoginViewModel

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/assets/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.css"/>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
    
    @RenderSection("styles", required: false)
    
    @* <script src="~/Content/Idiomas/bootstrap-datepicker.es.min.js" charset="UTF-8"></script> *@

    <link rel="stylesheet" type="text/css" href="~/assets/css/estilosLayout.css"/>
</head>
<body class="pt-0" >
@if (Request.IsAuthenticated)
{
    <div class="wrapper">
        <!-- Sidebar -->
        
        @RenderPage("partials/Sidebar.cshtml")

        <!-- Contenido de pagina -->

        <div class="container-fluid body-content pr-0 pl-0">
            <div id="content">
                <nav class="navbar shadow-sm navbar-expand-lg navbar-white">
                    <button type="button" id="sidebarCollapse" class="navbar-btn navbar-brand ml-3" style="border: none; background: none;">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    
               
                    <a href="@Url.Action("Index", "Home")" class="navbar-btn navbar-brand ml-3" ><i class=" fa fa-home" style="color: rgb(37,35,123)"></i></a>
                
                    <div class="collapse navbar-collapse" id="navbarNav">
                        
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-nav ml-auto"}))
                            {
                                @Html.AntiForgeryToken()

                                <ul class="navbar-nav ml-auto">
                                    
                                    <li class="nav-item dropdown mr-5" id="Notification">
                                        <a class="nav-link" href="#" id="navbarDropdownNotification" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-bell fa-lg" style="color: rgb(37, 35, 123); "></i>
                                            <div v-if="contador !== 0" style="border: 3px solid red; border-radius: 50%; position: absolute; width: 15px; height: 15px; top: 3px; right: 0px; background: red; color: white; font-size: 8px;">
                                                <span style="position: absolute; top: -6px; right: auto; left: 1px;">{{contador}}</span>
                                            </div>
                                            
                                        </a>
                                        <div id="not" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownNotification">
                                            <div v-if="contador === 0" class="p-2 text-center">No tienes notificaciones nuevas</div>
                                            <div v-for="notificacion in notificaciones" >
                                                <a href="#" v-on:click="planAccionVer(notificacion)" v-if="notificacion.estado === 'noLeido'" class="row p-2" style="alignment: center;">
                                                    <div v-if="notificacion.modulo === 1" class="col-lg-3">
                                                        <img src="~/Content/Notificaciones/1.png" width="70" height="70"/>
                                                    </div>
                                                    <div v-if="notificacion.modulo === 2" class="col-lg-3">
                                                        <img src="~/Content/Notificaciones/2.png" width="70" height="70"/>
                                                    </div>
                                                    <div v-if="notificacion.modulo === 3" class="col-lg-3">
                                                        <img src="~/Content/Notificaciones/3.png" width="70" height="70"/>
                                                    </div>
                                                    <div v-if="notificacion.modulo === 5" class="col-lg-3">
                                                        <img src="~/Content/Notificaciones/5.png" width="70" height="70"/>
                                                    </div>
                                                    <div class="col-lg-7 p-0">
                                                        <h6 style="font-size: 12px;">{{ notificacion.descripcion }}</h6>
                                                    </div>
                                                    <div class="col-lg-2" style="height: 70px; padding-top: 20px;">
                                                        <img src="~/Content/Notificaciones/estadoNoLeido.png" height="15"/>
                                                    </div>
                                                </a>
                                                @* <a :href="'@Url.Action("ver","MplanAccion")/' + notificacion.plan_accion_id" v-if="notificacion.estado === 'Leido'" class="row p-2" style="alignment: center; background: rgba(1, 1, 1, 0.2)"> *@
                                                @*     <div class="col-lg-3"> *@
                                                @*         <img :src="'/Content/Notificaciones/' + notificacion.modulo + '.png'" width="70" height="70"/> *@
                                                @*     </div> *@
                                                @*     <div class="col-lg-7 p-0"> *@
                                                @*         <h6 style="font-size: 12px;">{{ notificacion.descripcion }}</h6> *@
                                                @*     </div> *@
                                                @*     <div class="col-lg-2" style="height: 70px; padding-top: 20px;"> *@
                                                @*         <img src="~/Content/Notificaciones/estadoLeido.png" height="15"/> *@
                                                @*     </div> *@
                                                @* </a> *@
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li class="nav-item dropdown mr-5">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @User.Identity.GetUserName()
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="@Url.Action("ModificarCuenta", "User")">Modificar cuenta</a>
                                            <a class="dropdown-item" href="@Url.Action("ChangePassword", "Manage")">Cambiar contraseña</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                                        </div>
                                    </li>
                                </ul>
                            }
                        }
                        else
                        {
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active mr-3">
                                    @Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})
                                </li>
                                <li class="nav-item active">
                                    @Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})
                                </li>
                            </ul>
                        }
                    </div>
                </nav>
            </div>
            <div id="app">
                @RenderBody()
            </div>
            

            
        </div>
    </div>   
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


@Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/axios.js"></script>
<script src="~/assets/js/jquery.zoom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script type="text/javascript" src="~/assets/DataTables/DataTables-1.10.18/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="~/assets/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
@RenderSection("scripts", required: false)

<script>

    var menu = new Vue({
        el: '#sidebar',
        data() {
            return {
                userid: '@User.Identity.GetUserId()',
                user: null,
                
            }
        },
        created() {
            this.getUser();
            

        },

        methods: {
            getUser() {
                var url = '@Url.Action("getUser", "User")';
                var data = {
                    id: this.userid
                }

                axios.post(url, data).then(response => {
                    this.user = response.data;
                }).catch(error => {
                    console.log("error: " + error);
                })
            },
            
        },
    });
    
    var menu = new Vue({
        el: '#Notification',
        data() {
            return {
                userid: '@User.Identity.GetUserId()',
                notificaciones: [],
                contador: 0,
            }
        },
        created() {
            this.getNotification();
            this.updatedNotification();
            
        },

        methods: {
            planAccionVer(notificacion) {

                if (notificacion.cierre === 0 || notificacion.cierre === null) {
                    var url = "@Url.Action("ver","MplanAccion", new {id = "PARAMETRO"})";
                    window.location = url.replace("PARAMETRO", notificacion.plan_accion_id);
                }else if (notificacion.cierre === 1) {
                    var url2 = "@Url.Action("verRsms","RSMS", new {id = "PARAMETRO"})";
                    window.location = url2.replace("PARAMETRO", notificacion.rsms);
                }else if (notificacion.cierre === 2) {
                    var url3 = "@Url.Action("responderRTA","RTA", new {id = "PARAMETRO"})";
                    window.location = url3.replace("PARAMETRO", notificacion.rta);
                }
                
            },
            getNotification() {
                var url = '@Url.Action("getNotification", "User")';
                var data = {
                    id: this.userid
                };

                axios.post(url, data).then(response => {
                    this.notificaciones = response.data;
                    var i = 0;
                    //console.log("notificaciones");
                    //console.log(this.notificaciones);
                    this.notificaciones.map(function(data) {
                        if (data.estado === "noLeido") {
                            i += 1;
                        }
                    })
                    this.contador = i;
                   // console.log("contador noleidos");
                    //console.log(this.contador);

                    var localContador = parseInt(localStorage.getItem("contador"));


                    //console.log("localContador");
                    //console.log(localContador);
                    if (localContador > this.contador) {
                        //console.log("MAYOR");
                        localStorage.setItem("contador", this.contador);
                    }else if (this.contador !== localContador || isNaN(localContador) || this.contador > localContador) {
                        
                        var total = this.contador - localContador;
                        //console.log("TOTAL");
                        //console.log(total);
                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "newestOnTop": false,
                            "progressBar": true,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        if (total === 1) {
                            toastr.info('Tienes ' + total + " nueva notificacion");
                            //console.log("SI 1");
                        } else {
                            toastr.info('Tienes ' + total + " nuevas notificaciones");
                            //console.log("SI +1");
                        }
                        
                        localStorage.setItem("contador", this.contador);
                    }

                    //alertify.success('Success message');

                }).catch(error => {
                    console.log("error: " + error);
                })
                    
            },
            updatedNotification() {
                setInterval(() => {
                    this.getNotification();
                }, 5000);
            }
 
        },
        updated() {
            //alertify.success("Tiene " + this.contador + " notificaciones nuevas");
        }
    });
    $(document).ready(function() {
        $('#startDate111').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            maxDate: function () {
                return $('#endDate111').val();
            }
        });
        $('#endDate111').datepicker({
            uiLibrary: 'bootstrap4',
            iconsLibrary: 'fontawesome',
            minDate: function () {
                return $('#startDate111').val();
            }
        });
    });

    $(document).ready(function() {
        $('#sidebarCollapse').on('click',
            function() {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
    });

    var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
    $('#fecha').datepicker({
        buttonImage: false,
        buttonImageOnly: false,
        buttonText: false,
        showButtonPanel: false,
        uiLibrary: 'bootstrap4',
        format: 'dd-mm-yyyy',
        showRightIcon: false
//        dayNames: ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"],
//        dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],   
    });
    $('#fecharsms').datepicker({
        buttonImage: false,
        buttonImageOnly: false,
        buttonText: false,
        showButtonPanel: false,
        uiLibrary: 'bootstrap4',
        format: 'dd-mm-yyyy',
//        minDate: today,
        showRightIcon: false
//        dayNames: ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"],
//        dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],   
    });
    $('#fecha_ing').datepicker({
        buttonImage: false,
        buttonImageOnly: false,
        buttonText: false,
        showButtonPanel: false,
        uiLibrary: 'bootstrap4',
        format: 'dd-mm-yyyy',
//        minDate: today,
        showRightIcon: false
//        dayNames: ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"],
//        dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],   
    });
    $('#fecha_nac').datepicker({
        buttonImage: false,
        buttonImageOnly: false,
        buttonText: false,
        showButtonPanel: false,
        uiLibrary: 'bootstrap4',
        format: 'dd-mm-yyyy',
//        minDate: today,
        showRightIcon: false
    });

    var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
    $('#fechaAnali').datepicker({
        buttonImage: false,
        buttonImageOnly: false,
        buttonText: false,
        showButtonPanel: false,
        uiLibrary: 'bootstrap4',
        format: 'dd-mm-yyyy',
        pickerPosition: 'top-left',
        showRightIcon: false
    });
    var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
    $('#fecharta').datepicker({
        buttonImage: false,
        buttonImageOnly: false,
        buttonText: false,
        showButtonPanel: false,
        uiLibrary: 'bootstrap4',
        format: 'dd-mm-yyyy',
        pickerPosition: 'top-left',
        showRightIcon: false
    });
    var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
    $('#fecharta2').datepicker({
        buttonImage: false,
        buttonImageOnly: false,
        buttonText: false,
        showButtonPanel: false,
        uiLibrary: 'bootstrap4',
        format: 'dd-mm-yyyy',
        pickerPosition: 'top-left',
        showRightIcon: false
    });
    $('#startDate').datepicker({
        uiLibrary: 'bootstrap4',
        iconsLibrary: 'fontawesome',
        maxDate: function () {
            return $('#endDate').val();
        }
    });
    $('#endDate').datepicker({
        uiLibrary: 'bootstrap4',
        iconsLibrary: 'fontawesome',
        minDate: function () {
            return $('#startDate').val();
        }
    });
    $('#startDate1').datepicker({
        uiLibrary: 'bootstrap4',
        iconsLibrary: 'fontawesome',
        maxDate: function () {
            return $('#endDate1').val();
        }
    });
    $('#endDate1').datepicker({
        uiLibrary: 'bootstrap4',
        iconsLibrary: 'fontawesome',
        minDate: function () {
            return $('#startDate1').val();
        }
    });
    $('#startDate2').datepicker({
        uiLibrary: 'bootstrap4',
        iconsLibrary: 'fontawesome',
        maxDate: function () {
            return $('#endDate2').val();
        }
    });
    $('#endDate2').datepicker({
        uiLibrary: 'bootstrap4',
        iconsLibrary: 'fontawesome',
        minDate: function () {
            return $('#startDate2').val();
        }
    });
    
</script>

</body>
</html>