@using System.Drawing
@using System.Web.UI.WebControls
@using Microsoft.AspNet.Identity
@model Esmax.Models.RegisterViewModel
@{
    ViewBag.Title = "Graficos RSMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-11 mb-3 mt-3">
                    
            <a class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("IngresarRsms", "RSMS")">
                <i class="fa fa-plus fa-2x mr-2"></i>  Ingresar RSMS
            </a>
            <a class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("RevisarRSMS","RSMS")">
                <i class="fa fa-list-ul fa-2x mr-2"></i> Revisar RSMS
            </a>
            <a class="btn btn-info" style="font-size: 100%;" href="@Url.Action("GraficosRSMS","RSMS")">
                <i class="fa fa-chart-line fa-2x mr-2"></i> Gr&aacute;ficas RSMS
            </a>
        </div>
        
        <div class="col-lg-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row mb-5">
                        <div class="col-lg-4">
                            <input id="startDate" autocomplete="off" placeholder="Desde"/>
                        </div>
                        <div class="col-lg-4">
                            <input id="endDate" autocomplete="off" placeholder="Hasta"/>
                        </div>
                        <div class="col-lg-4">
                            <button class="btn btn-primary btn-block" v-on:click="getRespuesta">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-6 mt-5">
            <div class="card shadow-sm">
                <h5 class="text-center mt-2">Tipo</h5>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div id="canvastipo" class="card-body">
                    <canvas id="charttipo"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mt-5">
            <div class="card shadow-sm">
                <h5 class="text-center mt-2">Causales</h5>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div id="canvascausal" class="card-body">
                    <canvas id="chartcausal"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-7 mt-5">
            <div class="card shadow-sm">
                <h5 class="text-center mt-2">Nivel de criticidad</h5>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div id="canvascriticidad" class="card-body">
                    <canvas id="chartcriticidad"></canvas>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6 mt-5">
            <div class="card shadow-sm">
                <h5 class="text-center mt-2">Holdings m&aacute;s respondidas</h5>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div id="canvas4" class="card-body">
                    <canvas id="myChart4"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mt-5">
            <div class="card shadow-sm">
                <h5 class="text-center mt-2">Areas de negocio m&aacute;s respondidas</h5>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div id="canvas5" class="card-body">
                    <canvas id="myChart5"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mt-5">
            <div class="card shadow-sm">
                <h5 class="text-center mt-2">Gerencias m&aacute;s respondidas</h5>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div id="canvas3" class="card-body">
                    <canvas id="myChart3"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mt-5">
            <div class="card shadow-sm">
                <h5 class="text-center mt-2">Areas m&aacute;s respondidas</h5>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div id="canvas6" class="card-body">
                    <canvas id="myChart6"></canvas>
                </div>
            </div>
        </div>
        
        <div class="col-lg-12">
            <div class="card shadow-sm mt-5 mb-5">
                <div class="card-body">
                    <table id="tablauser" class="table table-hover">
                        <thead>
                        <tr>
                            <th style="width: 50%">Nombre de Usuario</th>
                            <th style="width: 50%">Total de RSMS</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/assets/js/jquery.zoom.js"></script>

            

    <script>
        $(document).ready(function(){
            $('#img').zoom();
        });
        
        var graficos = new Vue({
            el: '#app',
            data() {
                return {
                    seguridad: [],
                    medio_ambiente: [],
                    salud: [],
                    tipo: [],
                    accion_insegura: [],
                    condicion_insegura: [],
                    evento_positivo: [],
                    causal: [],
                    leve: [],
                    moderado: [],
                    inaceptable: [],
                    criticidad:[],
                    
                    
                    respuesta: [],
                    respuestaGerencia: [],
                    respuestaOdt: [],
                    respuestaNegocio: [],
                    respuestaHolding: [],
                    respuestaArea: [],
                    user: null,
                    usuarios: [],
                    
                }
            },
            created() {
                this.getUser();
                
            },
            methods: {
                getUser() {
                    var urlUser = '@Url.Action("getUser", "User")';

                    var data = {
                        id: '@User.Identity.GetUserId()'
                    }

                    axios.post(urlUser, data).then(response => {
                        this.user = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getRespuesta() {
                    
                    var desde = new Date($('#startDate').val());
                    var hasta = new Date($('#endDate').val());
                    var data = {
                        desde: desde,
                        hasta: hasta
                    }
                    
                    
                    console.log("SEGURIDAD MEDIO AMBIENTE Y SALUD");
                    console.log(this.seguridad);
                    console.log(this.medio_ambiente);
                    console.log(this.salud);
                    this.getseguridad(data);
                    this.getaccioninsegura(data);
                    this.getleve(data);
                    this.getRespuestaGerencia(data);
                    this.getRespuestaHolding(data);
                    this.getRespuestaNegocio(data);
                    this.getRespuestaArea(data);
                    this.getUsuariosResponden(data);
                    
                },
                
                formatDate(date) {
                    var fecha = date,
                        patron = "/Date(",
                        valor = "",
                        nuevo = fecha.replace(patron, valor),
                        patron2 = ")/",
                        valor2 = "",
                        nuevo2 = nuevo.replace(patron2, valor2);
                    console.log(nuevo2);
                    var int = parseInt(nuevo2);
                    var d = new Date(int);
                    var monthNames = [
                        "01", "02", "03",
                        "04", "05", "06", 
                        "07", "08", "09", 
                        "10", "11", "12"
                    ];
                    var day = d.getDate();
                    var monthIndex = d.getMonth();
                    var year = d.getFullYear();

                    return  year + '/' +  monthNames[monthIndex] + '/' + day;

                },
                
                getseguridad(data) {
                    var url = '@Url.Action("getSeg", "RSMS")';
                    
                    axios.post(url, data).then(response => {
                        this.seguridad = response.data;
                        if (this.seguridad.length === 0) {
                            this.seguridad = 0;
                            this.getmedioambiente(data);
                        } else {
                            this.seguridad = this.seguridad[0].total;
                            this.getmedioambiente(data);
                        }
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                getmedioambiente(data) {
                    var url = '@Url.Action("getMed", "RSMS")';
                    
                    axios.post(url, data).then(response => {
                        this.medio_ambiente = response.data;
                        if (this.medio_ambiente.length === 0) {
                            this.medio_ambiente = 0;
                            this.getsalud(data);
                        } else {
                            this.medio_ambiente = this.medio_ambiente[0].total;
                            this.getsalud(data);
                        }
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                getsalud(data) {
                    var url = '@Url.Action("getSal", "RSMS")';
                    
                    axios.post(url, data).then(response => {
                        this.salud = response.data;
                        if (this.salud.length === 0) {
                            this.salud = 0;
                            this.getTipo();
                        } else {
                            this.salud = this.salud[0].total;
                            this.getTipo();
                        }
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                getTipo() {
                    
                        var label = [];
                        var count = [];
                        var coloresBarra = ['#2496D4', '#3AB54A', '#245CA9'];
                        var i = 0;
                        
                        var conjunto = [];
                        if (this.seguridad.length !== 0) {
                            conjunto.push({
                                label: "Seguridad",
                                total: this.seguridad
                        })
                        } else {
                            conjunto.push({
                                label: "Seguridad",
                                total: 0
                            })
                        }
                        if (this.medio_ambiente.length !== 0) {
                            conjunto.push({
                                label: "Medio ambiente",
                                total: this.medio_ambiente
                            })
                        } else {
                            conjunto.push({
                                label: "Medio ambiente",
                                total: 0
                            })
                        }
                        if (this.salud.length !== 0) {
                            conjunto.push({
                                label: "Salud",
                                total: this.salud
                            })
                        } else {
                            conjunto.push({
                                label: "Salud",
                                total: 0
                            })
                        }
                        conjunto.map(function(data) {
                            label.push(data.label);
                            console.log("LABEL");
                            console.log(label);
                            count.push(data.total)
                                
                        })
                        console.log("CONJUNTO FINAL");
                        console.log(conjunto);
                        this.getGraphic("charttipo", "canvastipo", label, count, "pie", "Tipos mas usados", coloresBarra);
                },
                
                getaccioninsegura(data) {
                    var url = '@Url.Action("getAin", "RSMS")';
                    axios.post(url, data).then(response => {
                        this.accion_insegura = response.data;
                        if (this.accion_insegura.length === 0) {
                            this.accion_insegura = 0;
                            this.getcondicioninsegura(data);
                        } else {
                            this.accion_insegura = this.accion_insegura[0].total;
                            console.log("ACCION INSEGURA!!!!!");
                            console.log(this.accion_insegura);
                            this.getcondicioninsegura(data);
                        }
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                getcondicioninsegura(data) {
                    console.log(" ENTRANDO EN ...... CONDICION INSEGURA!!!!!");
                    var url = '@Url.Action("getCin", "RSMS")';
                    axios.post(url, data).then(response => {
                        this.condicion_insegura = response.data;
                        if (this.condicion_insegura.length === 0) {
                            this.condicion_insegura = 0;
                            this.geteventopositivo(data);
                        } else {
                            this.condicion_insegura = this.condicion_insegura[0].total;
                            console.log("CONDICION INSEGURA!!!!!");
                            console.log(this.condicion_insegura);
                            this.geteventopositivo(data);
                        }
                        
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                geteventopositivo(data) {
                    var url = '@Url.Action("getEve", "RSMS")';
                    axios.post(url, data).then(response => {
                        this.evento_positivo = response.data;
                        if (this.evento_positivo.length === 0) {
                            console.log("SIN DATOS EVENTO POSITIVO!!!!!");
                            this.evento_positivo = 0;
                            this.getCausal();
                        } else {
                            this.evento_positivo=this.evento_positivo[0].total
                            console.log("EVENTO POSITIVO!!!!!");
                            console.log(this.evento_positivo);
                            this.getCausal();
                        }
                        
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                getCausal() {
                    
                        var label = [];
                        var count = [];
                        var coloresBarra = ['#2496D4', '#3AB54A', '#245CA9'];
                        var i = 0;
                        
                        var conjunto = [];
                        if (this.accion_insegura.length !== 0) {
                            conjunto.push({
                                label: "Accion insegura",
                                total: this.accion_insegura
                        })
                        } else {
                            conjunto.push({
                                label: "Accion insegura",
                                total: 0
                            })
                        }
                        if (this.condicion_insegura.length !== 0) {
                            conjunto.push({
                                label: "Condicion insegura",
                                total: this.condicion_insegura
                            })
                        } else {
                            conjunto.push({
                                label: "Condicion insegura",
                                total: 0
                            })
                        }
                        if (this.evento_positivo.length !== 0) {
                            conjunto.push({
                                label: "Evento positivo",
                                total: this.evento_positivo
                            })
                        } else {
                            conjunto.push({
                                label: "Evento positivo",
                                total: 0
                            })
                        }
                        conjunto.map(function(data) {
                            label.push(data.label);
                            console.log("LABEL");
                            console.log(label);
                            count.push(data.total)
                                
                        })
                        console.log("CONJUNTO DESDE CAUSAL");
                        console.log(conjunto);
                        this.getGraphic("chartcausal", "canvascausal", label, count, "pie", "Causales m&aacute;s frecuentes", coloresBarra);
                },
                
                getleve(data) {
                    var url = '@Url.Action("getLev", "RSMS")';
                    axios.post(url, data).then(response => {
                        this.leve = response.data;
                        if (this.leve.length === 0) {
                            this.leve = 0;
                            this.getmoderado(data);
                        } else {
                            this.leve = this.leve[0].total;
                            this.getmoderado(data);
                        }
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                getmoderado(data) {
                    var url = '@Url.Action("getMod", "RSMS")';
                    axios.post(url, data).then(response => {
                        this.moderado = response.data;
                        if (this.moderado.length === 0) {
                            this.moderado = 0;
                            this.getinaceptable(data);
                        } else {
                            this.moderado = this.moderado[0].total;
                            this.getinaceptable(data);
                        }
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                getinaceptable(data) {
                    var url = '@Url.Action("getIna", "RSMS")';
                    axios.post(url, data).then(response => {
                        this.inaceptable = response.data;
                        if (this.inaceptable.length === 0) {
                            this.inaceptable = 0;
                            this.getCriticidad();
                        } else {
                            this.inaceptable=this.inaceptable[0].total
                            this.getCriticidad();
                        }
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                getCriticidad() {
                    
                        var label = [];
                        var count = [];
                        var coloresBarra = ['#2496D4', '#3AB54A', '#245CA9'];
                        var i = 0;
                        
                        var conjunto = [];
                        if (this.leve.length !== 0) {
                            conjunto.push({
                                label: "Leve",
                                total: this.leve
                        })
                        } else {
                            conjunto.push({
                                label: "Leve",
                                total: 0
                            })
                        }
                        if (this.moderado.length !== 0) {
                            conjunto.push({
                                label: "Moderado",
                                total: this.moderado
                            })
                        } else {
                            conjunto.push({
                                label: "Moderado",
                                total: 0
                            })
                        }
                        if (this.inaceptable.length !== 0) {
                            conjunto.push({
                                label: "Grave",
                                total: this.inaceptable
                            })
                        } else {
                            conjunto.push({
                                label: "Grave",
                                total: 0
                            })
                        }
                        conjunto.map(function(data) {
                            label.push(data.label);
                            console.log("LABEL");
                            console.log(label);
                            count.push(data.total)
                                
                        })
                        console.log("CONJUNTO DESDE CAUSAL");
                        console.log(conjunto);
                        this.getGraphic("chartcriticidad", "canvascriticidad", label, count, "pie", "Nivel de criticidad", coloresBarra);
                },
                
                getUsuariosResponden(data) {
                    var url = '@Url.Action("getUsuariosResponden", "RSMS")';
                   
                    axios.post(url, data).then(response => {
                        this.usuarios = response.data;
                        this.getTable();
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                getTable() {
                    $('#tablauser').DataTable().clear().draw();
                    $('#tablauser').DataTable().destroy();
                    var tabla = $('#tablauser').DataTable({
                        language: {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ning&oacute;n dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de MAX registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        }
                    });

                    this.usuarios.map(function(u) {
                       
                        tabla.row.add([
                            u.nombre_user,
                            u.total,
                        ]);
                    });
                    tabla.draw();
                },
               
                getRespuestaHolding(data) {
                    var url = '@Url.Action("getRespuestaHolding", "RSMS")';
                    
                    axios.post(url, data).then(response => {
                        this.respuestaHolding = response.data;
                        
                        var label = [];
                        var count = [];
                        var colores = ['#2496D4', '#3AB54A', '#245CA9', '#25AFAF'];
                        var coloresBarra = [];
                        var i = 0;
                    
                        this.respuestaHolding.map(function(data) {
                            label.push(data.nombre);
                            count.push(data.total);
                            coloresBarra.push(colores[i]);
                            i += 1;
                            if (i >= colores.length ) {
                                i = 0;
                            }
                        })
                        this.getGraphic("myChart4", "canvas4", label, count, "bar", "Holding que responden", coloresBarra);
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                getRespuestaNegocio(data) {
                    var url = '@Url.Action("getRespuestaNegocio", "RSMS")';
                    
                    axios.post(url, data).then(response => {
                        this.respuestaNegocio = response.data;
                        
                        var label = [];
                        var count = [];
                        var colores = ['#2496D4', '#3AB54A', '#245CA9', '#25AFAF'];
                        var coloresBarra = [];
                        var i = 0;
                    
                        this.respuestaNegocio.map(function(data) {
                            label.push(data.nombre);
                            count.push(data.total);
                            coloresBarra.push(colores[i]);
                            i += 1;
                            if (i >= colores.length ) {
                                i = 0;
                            }
                        })
                        this.getGraphic("myChart5", "canvas5", label, count, "bar", "Areas de negocios que responden", coloresBarra);
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                getRespuestaGerencia(data) {
                    var url = '@Url.Action("getRespuestaGerencia", "RSMS")';
                   
                    axios.post(url, data).then(response => {
                        this.respuestaGerencia = response.data;

                        var label = [];
                        var count = [];
                        var colores = ['#2496D4', '#3AB54A', '#245CA9', '#25AFAF'];
                        var coloresBarra = [];
                        var i = 0;
                    
                        this.respuestaGerencia.map(function(data) {
                            label.push(data.nombre);
                            count.push(data.total);
                            coloresBarra.push(colores[i]);
                            i += 1;
                            if (i >= colores.length ) {
                                i = 0;
                            }
                        })
                        
                        this.getGraphic("myChart3", "canvas3", label, count, "bar", "Gerencias que responden", coloresBarra);
                    }).catch(error => {
                        console.log("error: " + error);
                    });
                },
                getRespuestaArea(data) {
                    var url = '@Url.Action("getRespuestaArea", "RSMS")';
                   
                    axios.post(url, data).then(response => {
                        this.respuestaArea = response.data;

                        var label = [];
                        var count = [];
                        var colores = ['#2496D4', '#3AB54A', '#245CA9', '#25AFAF'];
                        var coloresBarra = [];
                        var i = 0;
                    
                        this.respuestaArea.map(function(data) {
                            label.push(data.nombre);
                            count.push(data.total);
                            coloresBarra.push(colores[i]);
                            i += 1;
                            if (i >= colores.length ) {
                                i = 0;
                            }
                        })
                        
                        this.getGraphic("myChart6", "canvas6", label, count, "bar", "Areas que responden", coloresBarra);
                    }).catch(error => {
                        console.log("error: " + error);
                    });
                },
                getGraphic(id, idCanvas, label, count, tipo, titulo, coloresBarra) {
                    
                    $('#' + id).remove();

                    $('#' + idCanvas).append('<canvas id="' + id + '"></canvas>');
                    
                    var ctx = document.getElementById('' + id);
                    
                   
                    var myChart = new Chart(ctx,
                        {
                            type: '' + tipo,
                            data: {
                                labels: label,
                                datasets: [
                                    {
                                        label: '' + titulo,
                                        data: count,
                                        backgroundColor: coloresBarra,
                                        borderWidth: 1
                                    }
                                ]
                            },
                            options: {
                                tooltips: {
                                   
                                },
                                scales: {
                                    yAxes: [
                                        {
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }
                                    ]
                                }
                            }
                        });
                    myChart.update();
                },
            },
            updated() {
                $('#startDate').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                    maxDate: function () {
                        return $('#endDate').val();
                    }
                });
                $('#endDate').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                    minDate: function () {
                        return $('#startDate').val();
                    }
                });
            }
        })

    </script>
}