@using System.Drawing
@using System.Web.UI.WebControls
@using Esmax.Controllers
@using Microsoft.AspNet.Identity
@model Esmax.Models.RegisterViewModel
@{
    ViewBag.Title = "Ingresar RSMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-11 col-sm-offset-2">
            <div class="col-lg-11 mb-3 mt-3">
                <a class="btn btn-info" style="font-size: 100%;" href="@Url.Action("IngresarRsms", "RSMS")">
                    <i class="fa fa-plus fa-2x mr-2"></i>  Ingresar RSMS
                </a>
                @* MODIFICACION BOTONES BENJA 23/04 *@
                <a class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("RevisarRSMS","RSMS")">
                    <i class="fa fa-list-ul fa-2x mr-2"></i> Revisar RSMS
                </a>
                <a class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("GraficosRSMS","RSMS")">
                    <i class="fa fa-chart-line fa-2x mr-2"></i> Gr&aacute;ficas RSMS
                </a>
            </div>

            <div class="wizard-container">
                <div class="card wizard-card" data-color="blue" id="wizard">
                    <form action="@Url.Action("Load2","RSMS")" method="POST" enctype="multipart/form-data">
                        <div class="wizard-header">
                            <h3 class="wizard-title">
                                Ingresar RSMS
                            </h3>
                        </div>
                        <div class="wizard-navigation text-center " id="wizarddd">
                            <ul>
                                <li class="mt-2 mb-2"><a href="#categorizacion" onclick="return false"  data-toggle="tab">Categorizaci&oacute;n</a></li>
                                <li class="text-center mt-2 mb-2"><a href="#antecedentes" onclick="return false"  data-toggle="tab" >Antecedentes</a></li>
                                <li class="mt-2 mb-2"><a href="#descripcion" onclick="return false"   data-toggle="tab">Descripcion</a></li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            @RenderPage("partials/categorizacion.cshtml")
                            @RenderPage("partials/antecedentes.cshtml")
                            @RenderPage("partials/descripcion.cshtml")
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/assets/js/jquery.bootstrap.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/material-bootstrap-wizard.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>


    <script>
        var ingresarOdt = new Vue({
            el: '#app',
            data() {
                return{
                    negocios: [],
                    gerencias: [],
                    areas: [],
                    HoldingId: null,
                    NegocioId: null,
                    GerenciaId: null,
                    AreaId: null,
                    EmpresaId: null,
                    observador: '@User.Identity.GetUserName()',
                    observador_id: '@User.Identity.GetUserId()',
                    observadoId: null,
                    observado_nombre: null,
                    GetFecha1: null,
                    oAnonimo: 0,
                    users: [],
                    oResponsable: [],
                    idR: null,
                    GetContratista: null,
                    cierre: null,
                    GetDescripcion: null,
                    file: null,
                    seg: 0,
                    med: 0,
                    sal: 0,
                    ain: 0,
                    cin: 0,
                    lev: 0,
                    mod: 0,
                    ina: 0,
                    eve: 0,
                    ec: null,
                    cumplimiento: null,
                    file1: [],
                    infAnonimo: 0,
                    
                }
            },
            created() {
                this.GetNegocio();
                this.GetGerencia();
                this.GetArea();
                this.getUsers();
                this.getFechaActual();
                this.Getdescripcion();
                this.getValid();
            },
            methods: {
                getFechaActual() {
                    var n = new Date();
                    //Año
                    var y = n.getFullYear();
                    //Mes
                    var m = n.getMonth() + 1;
                    //Día
                    var d = n.getDate();

                    var h = n.getHours();
                    var mi = n.getMinutes();

                    

                    if (m < 10) {
                        this.GetFecha1 = d + "-0" + m + "-" + y;
                    } else {
                        this.GetFecha1 = d + "-" + m + "-" + y;
                    }
                 },
                getUsers() {
                    var urlUser = '@Url.Action("allUsers", "User")';
                    axios.get(urlUser).then(response => {
                        this.users = response.data;
                        
                        document.getElementById("observador1").value = this.observador_id;
                        document.getElementById("nombre_informante1").value = this.observador;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                GetObservado() {
                    var value = $('#obs').val();
                    var oId = $('#observado [value="' + value + '"]').data('id');
                    if (isNaN(oId) || oId === null) {
                        $('#obsError').removeClass('d-none');
                        this.observado_nombre = null;
                        
                        
                    } else {
                        $('#obsError').addClass('d-none');
                        var user = this.users.filter(function(u) {
                            if (oId.toString() === u.Id) {
                                return u;
                            }
                        });
                        this.observado_nombre = user[0].UserName;
                        document.getElementById("observado_nombre1").value = this.observado_nombre;

                    }
                    
                },
                anonimo() {
                    var checkbox = document.getElementById('anonimo');
                    checkbox.addEventListener("change", this.isAnonimo(checkbox), false);
                },
                isAnonimo(checkbox) {
                    var checked = checkbox.checked;
                    if (checked) {
                        $('#obsv').attr("type", "password");
                        this.oAnonimo = 1;
                        document.getElementById("anonimo1").value = "1"
                    } else {
                        $('#obsv').attr("type", "text");
                        this.oAnonimo = 0;
                        document.getElementById("anonimo1").value = "0"

                    }
                    
                },
                GetNegocio() {
                    var url = '@Url.Action("GetNegocio", "Negocio")';
                    axios.get(url).then(response => {
                        this.negocios = response.data;
                    })
                },
                GetGerencia() {
                    var url = '@Url.Action("GetGerencia", "Gerencia")';
                    axios.get(url).then(response => {
                        this.gerencias = response.data;
                       
                    })
                },
                GetArea() {
                    var url = '@Url.Action("GetArea", "Area")';
                    axios.get(url).then(response => {
                        this.areas = response.data;
                        
                    })
                },
                GetHoldingId(id) {
                    this.HoldingId = id;
                    $('#negocio').removeAttr('disabled');
                    for (var i = 1; i <= 3; i++) {
                        $('#select' + i).removeClass("active");
                    }
                    $('#select' + id).addClass("active");
                    var nomh = null;
                    if (this.HoldingId===1) {
                        nomh = "Esmax Distr";
                    }else if (this.HoldingId === 2) {
                        nomh = "Esmax red";
                    }else if (this.HoldingId === 3) {
                        nomh = "Esmax ind";
                    }
                    document.getElementById("holding_nombre1").value = nomh;
                    document.getElementById("holding1").value = this.HoldingId;
                    $('#gerencia').attr("disabled", "disabled");
                    $('#area').attr("disabled", "disabled");

                    this.GerenciaId = null;
                    this.NegocioId = null;
                    
                },
                Eventopositivo() {

                    var ain = $('#ain');
                    var cin = $('#cin');
                    var eve = $('#eve');
                    var lev = $('#lev');
                    var mod = $('#mod');
                    var ina = $('#ina');

                    var seg1 = $('#1');
                    var med1 = $('#2');
                    var sal1 = $('#3');
                    var ain1 = $('#4');
                    var cin1 = $('#5');
                    var eve1 = $('#6');
                    var lev1 = $('#7');
                    var mod1 = $('#8');
                    var ina1 = $('#9');
                    var next = $('#nextcat');

                    if ($('#6').hasClass('next')) {
                        $('#6').removeClass('next');
                        this.eve = 1;
                        this.ain = 0;
                        this.cin = 0;
                        this.lev = 0;
                        this.mod = 0;
                        this.ina = 0;
                        $('#no').addClass("d-none");
                        } else {
                        $('#6').addClass('next');
                        this.eve = 0;
                        document.getElementById("evento").value="0"
                        $('#no').removeClass("d-none");
                    }
                    lev1.addClass("next");
                    mod1.addClass("next");
                    ina1.addClass("next");
                    ain.removeClass("active");
                    cin.removeClass("active");
                    lev.removeClass("active");
                    mod.removeClass("active");
                    ina.removeClass("active");
                    $('#lev').attr("disabled", "disabled");
                    $('#mod').attr("disabled", "disabled");
                    $('#ina').attr("disabled", "disabled");
                    cin.addClass("st");
                    $('#4').addClass("next");
                    ain.addClass("st");
                    $('#5').addClass("next");

//                    if ((!seg1.hasClass("next") || !med1.hasClass("next") || !sal1.hasClass("next")) &&
//                        (!ain1.hasClass("next") || !cin1.hasClass("next")) &&
//                        (!lev1.hasClass("next") || !mod1.hasClass("next") || !ina1.hasClass("next"))) {
//                        next.removeAttr("disabled");
//                    }
//                    if ((seg1.hasClass("next") || med1.hasClass("next") || sal1.hasClass("next")) &&
//                        (ain1.hasClass("next") || cin1.hasClass("next")) &&
//                        (lev1.hasClass("next") || mod1.hasClass("next") || ina1.hasClass("next"))) {
//                        $('#nextcat').attr("disabled");
//                    }
                    if ((!seg1.hasClass("next") || !med1.hasClass("next") || !sal1.hasClass("next")) &&
                        !eve1.hasClass("next")) {
                        $('#nextcat').removeAttr("disabled","disabled");
                    }else{
                        $('#nextcat').attr("disabled","disabled");
                    }
                },
                insegura(id) {
                    var eve = $('#eve');
                    var lev = $('#lev');
                    var mod = $('#mod');
                    var ina = $('#ina');
                    var ain = $('#ain');
                    var cin = $('#cin');
                    var next = $('#nextcat');
                    var seg = $('#seg ');
                    var med = $('#med');
                    var sal = $('#sal');
                    
                    var seg1 = $('#1');
                    var med1 = $('#2');
                    var sal1 = $('#3');
                    var ain1 = $('#4');
                    var cin1 = $('#5');
                    var eve1 = $('#6');
                    var lev1 = $('#7');
                    var mod1 = $('#8');
                    var ina1 = $('#9');
                    
                   if ($('#'+id).hasClass('next')) {
                        $('#'+id).removeClass('next');
                        $('#no').removeClass("d-none");
                        $('#customRadio0').removeAttr("checked");
                        
                    } else {
                        $('#'+id).addClass('next');
                    }

                    eve.removeClass("active");
                    $('#6').addClass("next");
                    lev.removeAttr("disabled");
                    mod.removeAttr("disabled");
                    ina.removeAttr("disabled");
                    
                    if (id===4) {
                        if ($('#ain').hasClass("st")) {
                        $('#ain').removeClass("st");
                        this.ain = 1;
                        this.eve = 0;
                        document.getElementById("ainsegura").value="1"
                        document.getElementById("evento").value="0"
                    } else {
                        $('#ain').addClass("st");
                        this.ain = 0;
                        document.getElementById("ainsegura").value="0"
                    }
                    }
                    if(id===5){
                        if ($('#cin').hasClass("st")) {
                            $('#cin').removeClass("st");
                            this.cin = 1;
                            this.eve = 0;
                            document.getElementById("cinsegura").value="1"
                            document.getElementById("evento").value="0"
                            
                        } else {
                            $('#cin').addClass("st");
                            this.cin = 0;
                            
                            document.getElementById("cinsegura").value="0"
                        }
                    }
                       
                    if (ain.hasClass("st") && cin.hasClass("st")) {
                        $('#lev').attr("disabled", "disabled");
                        $('#lev').removeClass("active");
                        $('#7').addClass("next");
                        $('#8').addClass("next");
                        $('#9').addClass("next");
                        $('#mod').attr("disabled", "disabled");
                        $('#mod').removeClass("active");
                        $('#ina').attr("disabled", "disabled");
                        $('#ina').removeClass("active");
                    } else {
                        $('#lev').removeAttr("disabled", "disabled");
                        $('#mod').removeAttr("disabled", "disabled");
                        $('#ina').removeAttr("disabled", "disabled");
                    }

                    if ((!seg1.hasClass("next") || !med1.hasClass("next") || !sal1.hasClass("next")) &&
                        (!ain1.hasClass("next") || !cin1.hasClass("next")) &&
                        (!lev1.hasClass("next") || !mod1.hasClass("next") || !ina1.hasClass("next"))) {
                        $('#nextcat').removeAttr("disabled", "disabled");
                    } else {
                        $('#nextcat').attr("disabled", "disabled");
                    }
//                    if ((!seg1.hasClass("next") || !med1.hasClass("next") || !sal1.hasClass("next")) &&
//                        !eve1.hasClass("next")) {
//                        $('#nextcat').removeAttr("disabled","disabled");
//                    }
//                    if ((seg1.hasClass("next") || med1.hasClass("next") || sal1.hasClass("next")) &&
//                        eve1.hasClass("next")) {
//                        $('#nextcat').attr("disabled"); 
//                    }
                },
                leve() {
                    var mod = $('#mod');
                    var ina = $('#ina');
                    var eve1 = $('#6');
                    var lev1 = $('#7');
                    var mod1 = $('#8');
                    var ina1 = $('#9');
                    var ain1 = $('#4');
                    var cin1 = $('#5');
                    var seg1 = $('#1');
                    var med1 = $('#2');
                    var sal1 = $('#3');
                    var next = $('#nextcat');


                    if ($('#7').hasClass('next')) {
                        $('#7').removeClass('next');
                        this.lev = 1;
                        this.mod = 0;
                        this.ina = 0;
                        this.eve = 0;

                    } else {
                        $('#7').addClass('next');
                        this.lev = 0;
                    }

                    mod.removeClass("active");
                    mod1.addClass("next");
                    ina.removeClass("active");
                    ina1.addClass("next");
                    if ((!seg1.hasClass("next") || !med1.hasClass("next") || !sal1.hasClass("next")) &&
                        (!ain1.hasClass("next") || !cin1.hasClass("next")) &&
                        (!lev1.hasClass("next") || !mod1.hasClass("next") || !ina1.hasClass("next"))) {
                        $('#nextcat').removeAttr("disabled");
                    }
                    if ((seg1.hasClass("next") && med1.hasClass("next") && sal1.hasClass("next")) ||
                        (ain1.hasClass("next") && cin1.hasClass("next")) && eve1.hasClass("next") ||
                        (lev1.hasClass("next") && mod1.hasClass("next") && ina1.hasClass("next"))) {
                        $('#nextcat').attr("disabled", "disabled");
                    }
                    if ((!seg1.hasClass("next") || !med1.hasClass("next") || !sal1.hasClass("next")) &&
                        !eve1.hasClass("next")) {
                        $('#nextcat').removeAttr("disabled");
                    }
                    },
                moderado() {
                    var lev = $('#lev');
                    var ina = $('#ina');
                    var eve1 = $('#6');
                    var lev1 = $('#7');
                    var mod1 = $('#8');
                    var ina1 = $('#9');
                    var ain1 = $('#4');
                    var cin1 = $('#5');
                    var seg1 = $('#1');
                    var med1 = $('#2');
                    var sal1 = $('#3');
                    var next = $('#nextcat');


                    if ($('#8').hasClass('next')) {
                        $('#8').removeClass('next');
                        this.mod = 1;
                        this.lev = 0;
                        this.ina = 0;
                        this.eve = 0;
                    } else {
                        $('#8').addClass('next');
                        this.mod = 0;
                    }

                    lev.removeClass("active");
                    lev1.addClass("next");
                    ina.removeClass("active");
                    ina1.addClass("next");
                    if ((!seg1.hasClass("next") || !med1.hasClass("next") || !sal1.hasClass("next")) &&
                        (!ain1.hasClass("next") || !cin1.hasClass("next")) &&
                        (!lev1.hasClass("next") || !mod1.hasClass("next") || !ina1.hasClass("next"))) {
                        $('#nextcat').removeAttr("disabled");
                    }
                    if ((seg1.hasClass("next") && med1.hasClass("next") && sal1.hasClass("next")) ||
                        (ain1.hasClass("next") && cin1.hasClass("next")) && eve1.hasClass("next") ||
                        (lev1.hasClass("next") && mod1.hasClass("next") && ina1.hasClass("next"))) {
                        $('#nextcat').attr("disabled", "disabled");
                    }
                    if ((!seg1.hasClass("next") || !med1.hasClass("next") || !sal1.hasClass("next")) &&
                        !eve1.hasClass("next")) {
                        $('#nextcat').removeAttr("disabled");
                    }
                },
                inaceptable() {
                    var mod = $('#mod');
                    var lev = $('#lev');
                    var eve1 = $('#6');
                    var lev1 = $('#7');
                    var mod1 = $('#8');
                    var ina1 = $('#9');
                    var ain1 = $('#4');
                    var cin1 = $('#5');
                    var seg1 = $('#1');
                    var med1 = $('#2');
                    var sal1 = $('#3');
                    var next = $('#nextcat');


                    if ($('#9').hasClass('next')) {
                        $('#9').removeClass('next');
                        this.ina = 1;
                        this.lev = 0;
                        this.mod = 0;
                        this.eve = 0;
                    } else {
                        $('#9').addClass('next');
                        this.ina = 0;
                    }

                    mod.removeClass("active");
                    mod1.addClass("next");
                    lev.removeClass("active");
                    lev1.addClass("next");
                    if ((!seg1.hasClass("next") || !med1.hasClass("next") || !sal1.hasClass("next")) &&
                        (!ain1.hasClass("next") || !cin1.hasClass("next")) &&
                        (!lev1.hasClass("next") || !mod1.hasClass("next") || !ina1.hasClass("next"))) {
                        $('#nextcat').removeAttr("disabled");
                    }
                    if ((seg1.hasClass("next") && med1.hasClass("next") && sal1.hasClass("next")) ||
                        (ain1.hasClass("next") && cin1.hasClass("next")) && eve1.hasClass("next") ||
                        (lev1.hasClass("next") && mod1.hasClass("next") && ina1.hasClass("next"))) {
                        $('#nextcat').attr("disabled", "disabled");
                    }
                    if ((!seg1.hasClass("next") || !med1.hasClass("next") || !sal1.hasClass("next")) &&
                        !eve1.hasClass("next")) {
                        $('#nextcat').removeAttr("disabled");
                    }
                },
                nextcat(id) {
                    var seg1 = $('#1');
                    var med1 = $('#2');
                    var sal1 = $('#3');
                    var ain1 = $('#4');
                    var cin1 = $('#5');
                    var eve1 = $('#6');
                    var lev1 = $('#7');
                    var mod1 = $('#8');
                    var ina1 = $('#9');
                    var next = $('#nextcat');

                    if ($('#' + id).hasClass('next')) {
                        $('#' + id).removeClass('next');
                        if (id === 1) {
                            this.seg = 1;
                            document.getElementById("seguridad").value = "1";
                        }else if(id === 2) {
                            this.med = 1;
                            document.getElementById("medioambiente").value = "1";
                        }else if (id === 3) {
                            this.sal = 1;
                            document.getElementById("salud").value = "1";
                        }
                    } else {
                        $('#' + id).addClass('next');
                        if (id === 1) {
                            this.seg = 0;
                            document.getElementById("seguridad").value = "0";
                        }else if(id === 2) {
                            this.med = 0;
                            document.getElementById("medioambiente").value = "0";
                        }else if (id === 3) {
                            this.sal = 0;
                            document.getElementById("salud").value = "0";
                        }
                    }
                    if ((!seg1.hasClass("next") || !med1.hasClass("next") || !sal1.hasClass("next")) &&
                        (!ain1.hasClass("next") || !cin1.hasClass("next")) &&
                        (!lev1.hasClass("next") || !mod1.hasClass("next") || !ina1.hasClass("next"))) {
                        $('#nextcat').removeAttr("disabled","disabled");

                    }else {
                        $('#nextcat').attr("disabled");
                    }
                    if ((!seg1.hasClass("next") || !med1.hasClass("next") || !sal1.hasClass("next")) &&
                        !eve1.hasClass("next")) {
                        $('#nextcat').removeAttr("disabled", "disabled");
                    } else {
                        $('#nextcat').attr("disabled");
                    }
                    if (seg1.hasClass("next") && med1.hasClass("next") && sal1.hasClass("next")) {
                        $('#nextcat').attr("disabled","disabled");
                    }
                    },
                GetNegocioId(id) {
                    var select = document.getElementById(id);
                    var nId = select.options[select.selectedIndex].id;
                    if (nId === 'negocio0') {
                        $('#gerencia').attr("disabled", "disabled");
                        $('#area').attr("disabled", "disabled");

                        this.GerenciaId = null;
                        this.NegocioId = null;
                    } else {
                        this.NegocioId = parseInt(nId);
                        
                        
                        var idn = parseInt(nId);
                        var nomNegocio = null;
                        var nNegocio = this.negocios.filter(function(data) {
                            if (data.negocio_id === idn) {
                                nomNegocio = data.negocio_nombre;
                                return data.negocio_nombre;
                            }
                        })
                        document.getElementById("negocio_nombre1").value = nomNegocio;
                        
                        
                        document.getElementById("negocio1").value = this.NegocioId;
                        $('#gerencia').removeAttr('disabled');
                        $('#area').attr("disabled", "disabled");
                        this.GerenciaId = null;
                        
                    }
                    

                },
                validNext() {

                    if (this.HoldingId !== null && this.NegocioId !== null &&
                        this.GerenciaId !== null && this.AreaId !== null) {
                            $('#next0').removeAttr("disabled", "disabled");
                            
                        } else {
                            $('#next0').attr("disabled", "disabled");
                        }                    
                },
                getValid() {
                    setInterval(() => {
                            this.validNext();
                        },
                        100);
                },
                GetGerenciaId(id) {
                    var select = document.getElementById(id);
                    var gId = select.options[select.selectedIndex].id;
                    if (gId === 'gerencia0') {
                        $('#area').attr("disabled", "disabled");

                        this.AreaId = null;
                        this.GerenciaId = null;
                    } else {
                        this.GerenciaId = parseInt(gId);
                        
                        var idg = parseInt(gId);
                        var nomGerencia = null;
                        var nGerencia = this.gerencias.filter(function(data) {
                            if (data.gerencia_id === idg) {
                                nomGerencia = data.gerencia_nombre;
                                return data.gerencia_nombre;
                            }
                        })
                        document.getElementById("gerencia_nombre1").value = nomGerencia;
                        
                        document.getElementById("gerencia1").value = this.GerenciaId;
                        
                        $('#area').removeAttr('disabled');
                        this.AreaId = null;
                      
                    }
                    
                },
                GetAreaId(id) {
                    var select = document.getElementById(id);
                    var aId = select.options[select.selectedIndex].id;
                    var ida = parseInt(aId);

                    if (aId === "area0") {
                        this.AreaId = null;
                    } else {
                        this.AreaId = ida;
                    }
                   
                    
                    
                    var nomArea = null;
                    var nArea = this.areas.filter(function(data) {
                        if (data.area_id === ida) {
                            nomArea = data.area_nombre;
                            return data.area_nombre;
                            }
                    })

                    document.getElementById("area_nombre1").value = nomArea;
                    document.getElementById("area1").value = this.AreaId;

                    var oId = parseInt(aId);
                    dato = this.areas.filter(function(data) {
                        if (data.area_id === oId) {
                            return data.responsable_id;
                        }
                    });
                    var idResponsable = dato[0].responsable_id;
                    this.idR = idResponsable;
                    var id2 = toString(idResponsable);
                    
                    this.oResponsable = this.users.filter(function(data) {
                        if (data.Id === "" + idResponsable) {

                            return data;
                        }
                    });

                   
                    document.getElementById("responsable1").value = idResponsable;
                    $('#responsable').val(this.oResponsable[0].UserName);
                    



                },
                GetEmpresaId() {
                   if(this.EmpresaId!==null && this.EmpresaId!==""){
                       document.getElementById("empresa1").value = this.EmpresaId;
                       $('#contratistaid').removeAttr("disabled");
                       $('#contratistaid').attr("required");
                       }
                   if(this.EmpresaId===null || this.EmpresaId===""){
                       document.getElementById("empresa1").value = this.EmpresaId;
                       $('#contratistaid').attr("disabled", "disabled");
//                       $('#contratistaid').val('');
                       this.GetContratista = null;

                   }
                  
                    
                },
                Getinvolucrado() {
                    
                    document.getElementById("contratista1").value = this.GetContratista;
                   
                },
                GetFecha_ant() {
                    document.getElementById("fecharsms1").value = this.GetFecha;
                },
                Getdescripcion() {
                    document.getElementById("desc").value = this.GetDescripcion;
                },
                getfile() {
                    this.file = this.$refs.file.files[0];
                    document.getElementById("archivo").value = this.file;
                },
                finalizar() {

                    //CATEGORIZACION
                    var seg = this.seg;
                    var med = this.med;
                    var sal = this.sal;
                    var ain = this.ain;
                    var cin = this.cin;
                    var eve = this.eve;
                    var lev = this.lev;
                    var mod = this.mod;
                    var ina = this.ina;
                    
                    //ANTECEDENTES
                    var inf = @User.Identity.GetUserId();
                    var anonimo = this.oAnonimo;
                    var holdingId = this.HoldingId;
                    var negocioId = this.NegocioId;
                    var gerenciaId = this.GerenciaId;
                    var areaId = this.AreaId;
                    var responsableId = this.oResponsable[0].Id;
                    var observado = this.observado_nombre;
                    var empresa = this.EmpresaId;
                    var fecha = this.GetFecha1;
                    var holding = "";
                    var negocio = "";
                    var gerencia = "";
                    var area = "";
                    if (holdingId === 1) {
                        holding = "Esmax Dist.";
                    }
                    if (holdingId === 2) {
                        holding = "Esmax Red";
                    }
                    if (holdingId === 3) {
                        holding = "Esmax Ind.";
                    }
                    var n = "";
                    var g = "";
                    var a = "";
                    this.negocios.map(function(data) {
                        if (data.negocio_id === negocioId) {
                             n = data.negocio_nombre;
                        }
                    })
                            
                    this.gerencias.filter(function(data) {
                                if (data.gerencia_id === gerenciaId) {
                                    g = data.gerencia_nombre;
                                }
                            })
                                                        
                    this.areas.filter(function(data) {
                                if (data.area_id === areaId) {
                                    a = data.area_nombre;
                                }
                            })

                    negocio = n;
                    gerencia = g;
                    area = a;
                    
                    


                    //DESCRIPCION
                    var cierre = this.cierre;
                    var descripcion = this.GetDescripcion;
                    var file = this.file1;

                    var formData = new FormData();
                    
                    for( var i = 0; i < this.file1.length; i++ ){
                        var file1 = this.file1[i];

                        formData.append('file' + i, file1);
                    }
                    var inf_nombre = '@User.Identity.GetUserName()';
                    formData.append('seguridad', seg);
                    formData.append('medioambiente', med);
                    formData.append('salud', sal);
                    formData.append('ainsegura', ain);
                    formData.append('cinsegura', cin);
                    formData.append('evento',  eve);
                    formData.append('leve',  lev);
                    formData.append('moderado',  mod);
                    formData.append('inaceptable',  ina);
                    formData.append('informante',  inf);
                    formData.append('anonimo',  anonimo);
                    formData.append('fecharsms1',  fecha);
                    formData.append('holding',  holdingId);
                    formData.append('negocio',  negocioId);
                    formData.append('gerencia',  gerenciaId);
                    formData.append('area',  areaId);
                    formData.append('responsable1',  responsableId);
                    formData.append('empresa',  empresa);
                    formData.append('nombre_informante', inf_nombre);
                    formData.append('observado_nombre', observado );
                    formData.append('cierre',  cierre);
                    formData.append('desc',  descripcion);
                    formData.append('holding_nombre',  holding);
                    formData.append('negocio_nombre',  negocio);
                    formData.append('gerencia_nombre',  gerencia);
                    formData.append('area_nombre',  area);

                    var url = "@Url.Action("Load2","RSMS")";

                    var a = $.dialog({
                        icon: 'fa fa-spinner fa-spin',
                        title: 'Cargando...',
                        content: '',
                        closeIcon: false
                    });
                    axios.post(url,
                        formData,
                        {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }).then(response => {
                        a.close();
                        $.confirm({
                            title: 'RSMS',
                            content: 'Creado con exito.',
                            type: 'green',
                            typeAnimated: true,
                            buttons: {
                                tryAgain: {
                                    text: 'Aceptar',
                                    btnClass: 'btn-green',
                                    action: function(){
                                        window.location = "@Url.Action("RevisarRSMS","RSMS")";
                                    }
                                },
                            }
                        });
                    }).catch(error => {
                        console.log("error: " + error);
                    });
                },
                upload(id) {
                    var url2 = '@Url.Action("Load2", "RSMS")';
                    var data3 = {
                        id: id
                    }
                    var data = new FormData();
                    data.append('file', this.file);
                    data.append('categorizacion', categorizacion);
                    axios.post(url2,
                        {
                            data,
                            data3
                        },
                        {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }).then(response => {
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                holding(id) {
                    for (var i = 1; i <= 3; i++) {
                        $('#select' + i).removeClass("active");
                    }
                    $('#select' + id).addClass("active");
                },
                reload1() {
                    this.ec = $('input:radio[name=customRadio12]:checked').val();
                    if (this.ec === "1") {
                        this.EmpresaId = null;
                        this.GetContratista = null;
                        $('#obss').removeClass("d-none");
                        $('#obs').attr("required","required");
                        $('#empressa').addClass("d-none");
                        $('#invol').addClass("d-none");
                        $('#empresaid').removeAttr("required");
                    }
                    if (this.ec === "0") {
                        this.observado_nombre = null;
                        $('#obss').addClass("d-none");
                        $('#obs').removeAttr("required");
                        $('#empressa').removeClass("d-none");
                        $('#invol').removeClass("d-none");
                        $('#empresaid').attr("required","required");
                    }
                    
                },
                reload3() {
                    this.cierre = $('input:radio[name=customRadio1]:checked').val();
                    document.getElementById("cierre").value = this.cierre;
                    
                },
                datos() {
                    var fecha = $('#fecharsms').val();
                    this.GetFecha1 = fecha;
                },
                handleFileUpload() {
                    var uploadedFiles = this.$refs.file.files;

                    /*
                      Adds the uploaded file to the files array
                    */
                    for (var i = 0; i < uploadedFiles.length; i++) {
                        this.file1.push(uploadedFiles[i]);
                    }
                    //document.getElementById("file11").value = this.file1;
                },
                addFiles() {
                    this.$refs.file.click();
                },
                removeFile( key ) {
                    this.file1.splice(key, 1);
                },
                


            },
            updated() {
               
            }
        });
    </script>
}







