@using System.Drawing
@using System.Web.UI.WebControls
@using Microsoft.AspNet.Identity
@model Esmax.Models.RegisterViewModel
@{
    ViewBag.Title = "Revisar RSMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <link href="~/Content/bootstrap-select.css"/>
    <link rel="stylesheet" type="text/css" href="~/assets/MultiselectMaster/css/bootstrap-multiselect.css"/>
}
@* CAMBIOS BENJA 23/04 *@
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-11 mb-3 mt-3">
                    
            <a class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("IngresarRsms", "RSMS")">
                <i class="fa fa-plus fa-2x mr-2"></i>  Ingresar RSMS
            </a>
            <a class="btn btn-info" style="font-size: 100%;" href="@Url.Action("RevisarRSMS","RSMS")">
                <i class="fa fa-list-ul fa-2x mr-2"></i> Revisar RSMS
            </a>
            <a class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("GraficosRSMS","RSMS")">
                <i class="fa fa-chart-line fa-2x mr-2"></i> Gr&aacute;ficas RSMS
            </a>
        </div>
        <div class="card col-lg-11 p-0">
            <div class="card-header">
                
                <div class="row mt-2">
                    <div class="form-group m-0 col-lg-3 col-md-12">
                        <label class="text-dark" for="categoriaListHolding">Seleccione un holding</label>
                        <select v-on:change="getHolding" class="form-control" id="categoriaListHolding">
                            <option id="0">Todos los holdings</option>
                            <option v-for="holding in holdings" :id="holding.holding_id" :value="holding.holding_nombre">{{ holding.holding_nombre }}</option>
                        </select>
                    </div>
                    <div class="form-group m-0 col-lg-3 col-md-12">
                        <label class="text-dark" for="categoriaListNegocio">Seleccione un &aacute;rea de negocio</label>
                        <select v-on:change="getNegocio" class="form-control" id="categoriaListNegocio">
                            <option id="0">Todas las areas de negocio</option>
                            <option v-for="negocio in negocios" :id="negocio.negocio_id" :value="negocio.negocio_nombre">{{ negocio.negocio_nombre }}</option>
                        </select>
                    </div>
                    <div class="form-group m-0 col-lg-3 col-md-12">
                        <label class="text-dark" for="categoriaListGerencia">Seleccione una gerencia</label>
                        <select v-on:change="getGerencia" class="form-control" id="categoriaListGerencia">
                            <option id="0">Todas las gerencias</option>
                            <option v-for="gerencia in gerencias" :id="gerencia.gerencia_id" :value="gerencia.gerencia_nombre">{{ gerencia.gerencia_nombre }}</option>
                        </select>
                    </div>
                    <div class="form-group m-0 col-lg-3 col-md-12">
                        <label class="text-dark" for="categoriaListArea">Seleccione una &aacute;rea</label>
                        <select v-on:change="getArea" class="form-control" id="categoriaListArea">
                            <option id="0">Todas las areas</option>
                            <option v-for="area in areas" :id="area.area_id" :value="area.area_nombre">{{ area.area_nombre }}</option>
                        </select>
                    </div>
                    <div class="form-group m-0 col-lg-3 col-md-12">
                        <label class="text-dark">Seleccione Categorias</label>
                        <select id="tipo" multiple="multiple">
                            <optgroup label="Tipo RSMS">
                                <option id="1" value="Seguridad">Seguridad</option>
                                <option id="2" value="Medio ambiente">Medio ambiente</option>
                                <option id="3" value="Salud">Salud</option>
                            </optgroup>
                            <optgroup label="Causal">
                                <option id="4" value="Accion Insegura">Accion Insegura</option>
                                <option id="5" value="Condicion Insegura">Condici&oacute;n Insegura</option>
                                <option id="6" value="Evento Positivo">Evento Positivo</option>
                            </optgroup>
                            <optgroup label="Criticidad">
                                <option id="7" value="Leve">Leve</option>
                                <option id="8" value="Moderado">Moderado</option>
                                <option id="9" value="Inaceptable">Grave</option>
                            </optgroup>
                        </select>
                    </div>
                   
                        <div class="col-lg-3 form-group" style="padding-top: 3px;">
                            <input id="startDate111" placeholder="Desde" autocomplete="off"/>
                        </div>
                        <div class="col-lg-3 form-group" style="padding-top: 3px;">
                            <input id="endDate111" placeholder="Hasta" autocomplete="off"/>
                        </div>
                        <div class="col-lg-3">
                            <button v-on:click="buscar" class="form-group btn btn-primary btn-block"><i class="fa fa-search"></i> Buscar</button>
                        </div>
                    
                   
                   
                </div>

                
            </div>

            <div class="card-body">
                <table id="tablarsms" class="table table-hover">
                    <thead>
                    <tr>
                        <th style="width: 10%;font-size: 12px; ">Folio</th>
                        <th style="width: 10%;font-size: 12px;">Tipo</th>
                        <th style="width: 10%;font-size: 12px;">Causal</th>
                        <th style="width: 10%;font-size: 12px;">Nivel</th>
                        <th style="width: 11%;font-size: 12px;">Fecha</th>
                        <th style="width: 30%;font-size: 12px;">Creado por</th>
                        <th style="width: 10%;font-size: 12px;">Holding</th>
                        <th style="width: 10%;font-size: 12px;">Negocio</th>
                        <th style="width: 10%;font-size: 12px;">Gerencia</th>
                        <th style="width: 10%;font-size: 12px;">&Aacute;rea</th>
                        <th style="width: 10%;font-size: 12px;">Ver</th>
                    </tr>
                    </thead>
                    <tbody style="font-size: 12px;">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script src="~/Scripts/i18n/defaults-es_CL.js"></script>
    <script type="text/javascript" src="~/assets/MultiselectMaster/js/bootstrap-multiselect.js"></script>


    <style type="text/css">
        #tipo li.multiselect-selected a label {
            color: #17a2b8;
            font-weight: bold;
            
        }
      
    </style>
    <script>
        
            $(document).ready(function() {
                $('#tipo').multiselect({
//                    buttonText: function(options, select) {
//                        return 'Selecccione Categorias';
//                    },
                    buttonTitle: function(options, select) {
                        var labels = [];
                        options.each(function () {
                            labels.push($(this).text());
                        });
                        return labels.join('');
                    },
                    buttonContainer: '<div class="btn-group form-control p-0" id="tipo" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #ced4da; background: #fff; overflow: inherit; text-overflow: inherit;" />',
                    buttonWidth: '220px',
                    dropRight: true,
                    selectedClass: 'multiselect-selected',
                    nonSelectedText: 'Ninguno seleccionado',
                    nSelectedText: 'Seleccionados',
                    allSelectedText: 'Todos seleccionados'
                });
                
            });
     

        var revisar = new Vue({
            el: '#app',
            data() {
                return{
                    revisar: [],
                    respuesta: [],
                    holdings: [],
                    negocios: [],
                    gerencias: [],
                    areas: [],
                    holding_id: null,
                    negocio_id: null,
                    gerencia_id: null,
                    area_id: null,
                    tipo: null,
                    causal: null,
                    nivel: null,
                }
            },
            created() {
                this.getFiltros();
                var url = '@Url.Action("allrsms", "RespuestaRSMS")';

                axios.get(url).then(response => {
                    this.revisar = response.data;
                    console.log("revisar");
                    console.log(this.revisar);

                    this.getOdt();
                }).catch(error => {
                    console.log("error: " + error);
                })
            },
            methods: {
                cambios() {
                    var datos = $('#tipo');
                    console.log(datos);
                },
                getFiltros() {
                    var url = '@Url.Action("GetHolding", "Holding")';

                    axios.get(url).then(response => {
                        this.holdings = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                    var url = '@Url.Action("GetNegocio", "Negocio")';

                    axios.get(url).then(response => {
                        this.negocios = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                    var url = '@Url.Action("GetGerencia", "Gerencia")';

                    axios.get(url).then(response => {
                        this.gerencias = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                    var url = '@Url.Action("GetArea", "Area")';

                    axios.get(url).then(response => {
                        this.areas = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },

                getHolding() {
                    var select = document.getElementById("categoriaListHolding");
                    var cId = $('#categoriaListHolding').val();
                    if (cId === "Todos los holdings") {
                        this.holding_id = "";
                    } else {
                        this.holding_id = cId;
                    }
                },
                getNegocio() {
                    var select = document.getElementById("categoriaListNegocio");
                    var cId = $('#categoriaListNegocio').val();
                    if (cId === "Todas las areas de negocio") {
                        this.negocio_id = "";
                    } else {
                        this.negocio_id = cId;
                    }
                },
                getGerencia() {
                    var select = document.getElementById("categoriaListGerencia");
                    var cId = $('#categoriaListGerencia').val();
                    if (cId === "Todas las gerencias") {
                        this.gerencia_id = "";
                    } else {
                        this.gerencia_id = cId;
                    }
                },
                getArea() {
                    var select = document.getElementById("categoriaListArea");
                    var cId = $('#categoriaListArea').val();
                    if (cId === "Todas las areas") {
                        this.area_id = "";
                    } else {
                        this.area_id = cId;
                    }
                },
                buscar() {
                    var fechaIni = $('#startDate111').val();
                    var fechafin = $('#endDate111').val();
                    var holding = this.holding_id;
                    var negocio = this.negocio_id;
                    var gerencia = this.gerencia_id;
                    var area = this.area_id;
                    var seg = 0;
                    var med = 0;
                    var sal = 0;
                    var ain = 0;
                    var cin = 0;
                    var eve = 0;
                    var lev = 0;
                    var mod = 0;
                    var ina = 0;
                    
                    var datos = document.getElementById("tipo").selectedOptions;
                    
                    var query = "Where ";

                    if (fechaIni !== "") {
                        query = query + "fecha1 >= '" + fechaIni + "' ";
                        if (fechafin !== "") {
                            query = query + "and fecha1 <= '" + fechafin + "' ";
                        }
                    }


                    if (holding !== null && holding !== "") {
                        if (query !== "Where ") {
                            query = query + "and holding_nombre = '" + holding + "' ";
                        } else {
                            query = query + "holding_nombre = '" + holding + "' ";
                        }
                    }

                    if (negocio !== null && negocio !== "") {
                        if (query !== "Where ") {
                            query = query + "and negocio_nombre = '" + negocio + "' ";
                        } else {
                            query = query + "negocio_nombre = '" + negocio + "' ";
                        }
                    }

                    if (gerencia !== null && gerencia !== "") {
                        if (query !== "Where ") {
                            query = query + "and gerencia_nombre = '" + gerencia + "' ";
                        } else {
                            query = query + "gerencia_nombre = '" + gerencia + "' ";
                        }
                    }

                    if (area !== null && area !== "") {
                        if (query !== "Where ") {
                            query = query + "and area_nombre = '" + area + "' ";
                        } else {
                            query = query + "area_nombre = '" + area + "' ";
                        }
                    }
                    
                    for (var i = 0; i < datos.length; i++) {
                        if (datos[i].value === "Seguridad") {
                            seg = 1;
                            query = query + this.getQuery(query,"seguridad1",seg);
                        }
                        if (datos[i].value === "Medio ambiente") {
                            med = 1;
                            query = query + this.getQuery(query,"medio_ambiente1",med);
                        }
                        if (datos[i].value === "Salud") {
                            sal = 1;
                            query = query + this.getQuery(query,"salud1",sal);
                        }
                        if (datos[i].value === "Accion Insegura") {
                            ain = 1;
                            query = query + this.getQuery(query,"accion_insegura1",ain);
                        }
                        if (datos[i].value === "Condición Insegura") {
                            cin = 1;
                            query = query + this.getQuery(query,"condicion_insegura1",cin);
                        }
                        if (datos[i].value === "Evento Positivo") {
                            eve = 1;
                            query = query + this.getQuery(query,"evento_positivo1",eve);
                        }
                        if (datos[i].value === "Leve") {
                            lev = 1;
                            query = query + this.getQuery(query,"leve1",lev);
                        }
                        if (datos[i].value === "Moderado") {
                            mod = 1;
                            query = query + this.getQuery(query,"moderado1",mod);
                        }
                        if (datos[i].value === "Inaceptable") {
                            ina = 1;
                            query = query + this.getQuery(query,"inaceptable1",ina);
                        }
                    }
                    
                    

                    if (query !== "Where ") {
                        this.getRespuestaQuery(query);
                        console.log(query);
                    } else {
                        this.getRespuestaSinQuery();
                        console.log(query);
                    }
                },
                getQuery(query, parametro, valor) {
                    var consulta = "";
                    if (valor !== 0 && valor !== "") {
                        if (query !== "Where ") {
                            consulta = "and " + parametro + " = '" + valor + "' ";
                        } else {
                            consulta = "" + parametro + "= '" + valor + "' ";
                        }
                    }
                    return consulta;
                },
                getRespuestaQuery(query) {
                    var rsms = '@Url.Action("allrsmsWithQuery", "RespuestaRSMS")';
                    axios.post(rsms,
                        {
                            query: query
                        }).then(response => {
                        this.rsmss = response.data;
                        console.log("rsmss");
                        console.log(this.rsmss);
                        this.getTable();
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getRespuestaSinQuery() {
                    var rsms = '@Url.Action("allrsms", "RespuestaRSMS")';
                    axios.get(rsms).then(response => {
                        this.rsmss = response.data;
                        console.log("rsmss");
                        console.log(this.rsmss);
                        this.getTable();
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getRsms(idR) {
                    var url = '@Url.Action("buscarrsms", "RespuestaRSMS")';
                    axios.post(url,
                        {
                            id: idR
                        }).then(response => {
                        this.respuesta = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getOdt() {
                    var rsms = '@Url.Action("allrsms", "RespuestaRSMS")';
                    axios.get(rsms).then(response => {
                        this.rsmss = response.data;
                        console.log("rsmss");
                        console.log(this.rsmss);
                        //this.getTable();
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                formatDate(date) {
                    var fecha = date,
                        patron = "/Date(",
                        valor = "",
                        nuevo = fecha.replace(patron, valor),
                        patron2 = ")/",
                        valor2 = "",
                        nuevo2 = nuevo.replace(patron2, valor2);
                    console.log(nuevo2);
                    var int = parseInt(nuevo2);
                    var d = new Date(int);
                    var monthNames = [
                        "Enero", "Febrero", "Marzo",
                        "Abril", "Mayo", "Junio", "Julio",
                        "Agosto", "Septiembre", "Octubre",
                        "Noviembre", "Diciembre"
                    ];
                    var day = d.getDate();
                    var monthIndex = d.getMonth();
                    var year = d.getFullYear();

                    return day + '/' + monthNames[monthIndex] + '/' + year;

                },
                getTable() {

                    $('#tablarsms').DataTable().clear().draw();
                    $('#tablarsms').DataTable().destroy();
                    var tabla = $('#tablarsms').DataTable({
                        language: {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ning&uacute;n dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        }
                    });

                    var context = this;
                    this.rsmss.map(function(r) {
                        var ma = "";
                        var seg = "";
                        var salud = "";
                        var ain = "";
                        var cin = "";
                        var eve = "";
                        var nivel = "No aplica";
                        if (r.seguridad1 === 1) {
                            seg = "Seguridad, ";
                        }
                        if (r.medio_ambiente1 === 1) {
                            ma = "Medio ambiente, ";
                        }
                        if (r.salud1 === 1) {
                            salud = "Salud, ";
                        }
                        if (r.accion_insegura1 === 1) {
                            ain = "Accion insegura, ";
                        }
                        if (r.condicion_insegura1 === 1) {
                            cin = "Condicion insegura ";
                        }
                        if (r.evento_positivo1 === 1) {
                            eve = "Evento positivo ";
                        }
                        if (r.leve1 === 1) {
                            nivel = "Leve";
                        }
                        if (r.moderado1 === 1) {
                            nivel = "Moderado";
                        }
                        if (r.inaceptable1 === 1) {
                            nivel = "Grave";
                        }
                        tabla.row.add([
                            r.respuestarsms_id,
                            seg + ma + salud,
                            ain + cin + eve,
                            nivel,
                            context.formatDate(r.fecha1),
                            r.informante_nombre,
                            r.holding_nombre,
                            r.negocio_nombre,
                            r.gerencia_nombre,
                            r.area_nombre,
                            '<a href="@Url.Action("verRsms", "RSMS")/' +
                            r.respuestarsms_id +
                            '" target="_blank"><button class="btn btn-outline-primary" style="border-radius: 50%"><i class="fa fa-eye"></i></button></a>'
                        ]);
                    });

                    tabla.draw();
                }
            }
        })
    </script>
}