@using System.Drawing
@using System.Web.UI.WebControls
@using Microsoft.AspNet.Identity
@model Esmax.Models.RegisterViewModel
@{
    ViewBag.Title = "Ingresar RSMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}  
    <div class="container mt-3 mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card shadow p-0">
                    <div class="card-header text-center">
                        <div class="row">
                            <div class="col-lg-2 text-left">
                                <h4>{{idresRsms}}</h4>
                            </div>
                            <div class="col-lg-8">
                                <h4>Reporte Seguridad Medio Ambiente y Salud</h4>
                            </div>
                            <div class="col-lg-2 text-right">
                                <h4><img width="50" src="~/Content/logopaso.png"/></h4>
                            </div>
                        </div>
                     
                    </div>
                    <div class="card-body justify-content-center">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-4 col-md-12 pr-0 pl-0">
                                    <p class="d-block mb-0">RSMS:</p>
                                    <div class="btn-group mb-3  " data-toggle="buttons" id="tiposRsso">
                                        <a id="1" style="pointer-events: none">
                                            <button v-if="respuesta.seguridad1 === 1" class="btn btn-outline-info active"  style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-shield-alt fa-2x mt-2"></i>
                                                <p style="font-size: small">Seguridad</p>
                                            </button>
                                            <button v-if="respuesta.seguridad1 === 0" class="btn btn-outline-info"  style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-shield-alt fa-2x mt-2"></i>
                                                <p style="font-size: small">Seguridad</p>
                                            </button>
                                        </a>
                                        <a id="2" style="pointer-events: none">
                                            <button v-if="respuesta.medio_ambiente1 === 1" class="btn btn-outline-info active"  style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-tree fa-2x mt-2"></i>
                                                <p style="font-size: small">Medio Ambiente</p></button>
                                            <button v-if="respuesta.medio_ambiente1 === 0" class="btn btn-outline-info"  style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-tree fa-2x mt-2"></i>
                                                <p style="font-size: small">Medio Ambiente</p></button>
                                        </a>
                                        <a id="3"  style="pointer-events: none">
                                            <button v-if="respuesta.salud1 === 1" class="btn btn-outline-info active" id="sal"style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-medkit fa-2x mt-2"></i>
                                                <p style="font-size: small">Salud</p></button>
                                            <button v-if="respuesta.salud1 === 0" class="btn btn-outline-info" id="sal"style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-medkit fa-2x mt-2"></i>
                                                <p style="font-size: small">Salud</p></button>
                                        </a>
                                        <i class="fa fa-arrow-right  sepIconarrow" style="margin-top: 12%; margin-right: 15px"></i>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 p-0">
                                    <p class="d-block mb-0">Causal:</p>
                                    <div class="btn-group mb-3 " data-toggle="buttons" id="causal">
                                        <a id="4" style="pointer-events: none">
                                            <button v-if="respuesta.accion_insegura1 === 1" class="btn btn-outline-info active" id="ain" style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-times-circle fa-2x mt-2"></i>
                                                <p class="mb-0" style="font-size: small">Acci&oacute;n insegura</p>
                                            </button>
                                            <button v-if="respuesta.accion_insegura1 === 0" class="btn btn-outline-info" id="ain" style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-times-circle fa-2x mt-2"></i>
                                                <p class="mb-0" style="font-size: small">Acci&oacute;n insegura</p>
                                            </button>
                                        </a>
                                        <a id="5" style="pointer-events: none">
                                            <button v-if="respuesta.condicion_insegura1 === 1" class="btn btn-outline-info active" id="cin" style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-exclamation-triangle fa-2x mt-2"></i>
                                                <p class="mb-0" style="font-size: small">Condici&oacute;n insegura</p></button>
                                            <button v-if="respuesta.condicion_insegura1 === 0" class="btn btn-outline-info" id="cin" style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-exclamation-triangle fa-2x mt-2"></i>
                                                <p class="mb-0" style="font-size: small">Condici&oacute;n insegura</p></button>
                                        </a>
                                        <a id="6" style="pointer-events: none">
                                            <button v-if="respuesta.evento_positivo1 === 1" class="btn btn-outline-info active" id="eve" style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-plus-circle fa-2x mt-2"></i>
                                                <p class="mb-0"style="font-size: small">Evento positivo</p></button>
                                            <button v-if="respuesta.evento_positivo1 === 0" class="btn btn-outline-info" id="eve" style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-plus-circle fa-2x mt-2"></i>
                                                <p class="mb-0"style="font-size: small">Evento positivo</p></button>
                                        </a>
                                        <i class="fa fa-arrow-right  sepIconarrow" style="margin-top: 12%; margin-right: 15px"></i>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 p-0">
                                    <p class="d-block mb-0">Nivel de criticidad:</p>
                                    <div class="btn-group mb-3 " data-toggle="buttons" id="criticidad">
                                        <a id="7" style="pointer-events: none">
                                            <button v-if="respuesta.leve1 === 1" class="btn btn-outline-info active" id="lev" style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-angle-up fa-2x mt-2"></i>
                                                <p class=""style="font-size: small">Leve</p>
                                            </button>
                                            <button v-if="respuesta.leve1 === 0" class="btn btn-outline-info" id="lev" style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-angle-up fa-2x mt-2"></i>
                                                <p class=""style="font-size: small">Leve</p>
                                            </button>
                                        </a>
                                        <a id="8" style="pointer-events: none">
                                            <button v-if="respuesta.moderado1 === 1" class="btn btn-outline-info active" id="mod" style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-angle-double-up fa-2x mt-2"></i>
                                                <p class=""style="font-size: small">Moderado</p></button>
                                            <button v-if="respuesta.moderado1 === 0" class="btn btn-outline-info" id="mod" style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 90px; max-height: 95px; min-height: 90px;"><i class="fa fa-angle-double-up fa-2x mt-2"></i>
                                                <p class=""style="font-size: small">Moderado</p></button>
                                        </a>
                                        <a id="9" style="pointer-events: none">
                                            <button v-if="respuesta.inaceptable1 === 1" class="btn btn-outline-info active" id="ina" style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 96px; max-height: 95px; min-height: 90px;"><i class="fa fa-exclamation-circle fa-2x mt-2"></i>
                                                <p class=""style="font-size: small">Grave</p></button>
                                            <button v-if="respuesta.inaceptable1 === 0" class="btn btn-outline-info" id="ina" style="border-style: solid; border: 1px solid #dfe4e4; min-width: 90px; max-width: 96px; max-height: 95px; min-height: 90px;"><i class="fa fa-exclamation-circle fa-2x mt-2"></i>
                                                <p class=""style="font-size: small">Grave</p></button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow p-0 mt-3">
                    <div class="card-header text-center">
                        <h5>Antecedentes</h5> 
                    </div>
                        <div class="row justify-content-center mt-5 ">
                            <div class="col-lg-12">
                                <div class="card-body ml-5">
                                    <div class="row ">
                                        <div class="col-lg-2 mt-1 p-0 ml-4">Informante</div>
                                        <div v-if="respuesta.anonimo === 0" class="col-lg-8">
                                            <input class="form-group form-control m-0 ml-0" id="" v-model="respuesta.informante_nombre" disabled/>
                                        </div>
                                        <div v-if="respuesta.anonimo === 1" class="col-lg-8">
                                            <input type="password" class="form-group form-control m-0 ml-0" id="" v-model="respuesta.informante_nombre" disabled/>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-2 mt-1 p-0 ml-4">Holding</div>
                                        <div class="col-lg-3">
                                            <input class="text-uppercase form-group form-control m-0 ml-0" v-model="holding_name" id="" disabled/>
                                        </div>
                                        <div class="col-lg-1 mt-1 p-0 mr-0">Negocio</div>
                                        <div class="col-lg-4 ml-0">
                                            <input class="text-uppercase form-group form-control m-0 ml-0" v-model="negocio_name.negocio_nombre" id="" disabled/>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-2 mt-1 p-0 ml-4">Gerencia</div>
                                        <div class="col-lg-3 ">
                                            <input class="text-uppercase form-group form-control m-0 ml-0" v-model="gerencia_name.gerencia_nombre" id="" disabled/>
                                        </div>
                                        <div class="col-lg-1 mt-1 p-0">&Aacute;rea</div>
                                        <div class="col-lg-4 ">
                                            <input class="text-uppercase form-group form-control m-0 ml-0" v-model="respuesta.area_nombre" id="" disabled/>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-2 mt-1 p-0 ml-4">Responsable</div>
                                        <div class="col-lg-8">
                                            <input class="form-control" v-model="responsable.UserName" name="responsable" id="responsable" disabled/>
                                        </div>
                                    </div>
                                    <div class="row mt-3" v-if="antecedentes.empresa_id !== '' && antecedentes.empresa_id !== 'null'">
                                        <div class="col-lg-2 mt-1 p-0 ml-4">Empresa contratista</div>
                                        <div class="col-lg-8 ">
                                            <input class="text-uppercase form-group form-control m-0 ml-0" v-model="antecedentes.empresa_id"  disabled/>
                                        </div>
                                    </div>
                                    <div class="row mt-3 mb-5">
                                        <div class="col-lg-2 mt-1 p-0 ml-4">Fecha</div>
                                        <div class="col-lg-3 ">
                                            <input required id="" disabled v-model="fecha" class="text-uppercase form-group form-control m-0"/>
                                        </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="card shadow p-0 mt-3">
                    <div class="card-header text-center">
                        <h5>Descripci&oacute;n</h5> 
                    </div>
                    <div class="row justify-content-center mt-5 ">
                        <div class="col-lg-12">
                            <div class="card-body ml-5">
                                <div class="row">
                                    <div class="col-lg-3 mr-0" >Cierre inmediato</div>
                                    <input class="text-uppercase form-group form-control m-0 col-lg-1 ml-0 mr-2" style="left: -30px" v-model="cierre" id="" disabled/>
                                    <div class="col-lg-3 mt-1 p-0" style="left: -10px" v-if="cumplimiento!==null">Fecha de Cumplimiento</div>
                                    <div class="col-lg-3 mr-0">
                                        <input required id="" disabled v-if="cumplimiento!==null" v-model="cumplimiento" style="left: -9px" class="text-uppercase form-group form-control m-0"/>
                                    </div>
                                    <div class="form-group col-lg-10">Descripci&oacute;n
                                        <textarea class="form-control" id="exampleFormControlTextarea3" v-model="descripcion.detalle" disabled rows="7"></textarea>
                                    </div>
                                    
                                    <div class=" col-lg-12 mt-3" style="font-weight: bold">Descargar evidencia:</div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Archivo</th>
                                            <th>Descargar</th>
                                            
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="file in files">
                                            <td style="width: 80%">{{ file.nombre_archivo }}</td>
                                            <td><a :href="'@Url.Action("download","RespuestaRSMS")/' + file.id_archivo"><button class="btn btn-outline-primary"><i class="fa fa-download fa-lg"></i></button></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section scripts
{
    <script>
        var verRsms = new Vue({
            el: '#app',
            data() {
                return{
                    idresRsms: @ViewBag.RsmsId,
                    respuesta: null,
                    fecha: null,
                    antecedentes_id: null,
                    antecedentes: null,
                    descripcion: null,
                    responsable: null,
                    holding_name: null,
                    negocio_name: null,
                    gerencia_name: null,
                    empresa_name: null,
                    cierre: null,
                    files: [],
                    cumplimiento: null,
            }
            },
            created() {
                this.getRsms(this.idresRsms);
                this.getEstado();

            },
            mounted() {


            },
            methods: {
                getEstado() {
                    var url = "@Url.Action("actualizarEstado","RSMS")";
                    var data = {
                        id: this.idresRsms
                    }
                    axios.post(url, data).then(response => {
                        
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getRsms(idR) {
                    var url = '@Url.Action("buscarrsms", "RespuestaRSMS")';
                    axios.post(url,
                        {
                            id: idR
                        }).then(response => {
                        this.respuesta = response.data;
                        console.log("RESPUESTA");
                        console.log(this.respuesta);
                        this.fecha = this.formatDate(this.respuesta.fecha1);
                        this.getAntecedentes();
                        this.getDescripcion();
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                formatDate(date) {
                    var fecha = date,
                        patron = "/Date(",
                        valor = "",
                        nuevo = fecha.replace(patron, valor),
                        patron2 = ")/",
                        valor2 = "",
                        nuevo2 = nuevo.replace(patron2, valor2);
                    console.log(nuevo2);
                    var int = parseInt(nuevo2);
                    var d = new Date(int);
                    var monthNames = [
                        "Enero", "Febrero", "Marzo",
                        "Abril", "Mayo", "Junio", "Julio",
                        "Agosto", "Septiembre", "Octubre",
                        "Noviembre", "Diciembre"
                    ];
                    var day = d.getDate();
                    var monthIndex = d.getMonth();
                    var year = d.getFullYear();

                    return day + '/' + monthNames[monthIndex] + '/' + year;

                },
                getFiles(id) {
                    var url = '@Url.Action("getFiles", "RespuestaRSMS")';
                    
                    axios.post(url,
                        {
                            id: id
                        }).then(response => {
                        this.files = response.data;

                        console.log("files");
                        console.log(this.files);

                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getAntecedentes() {
                    var url = '@Url.Action("getAntecedentes", "RespuestaRSMS")';
                    var antecedentes_id = this.respuesta.antecedentes_id;
                    axios.post(url,
                        {
                            id: antecedentes_id
                        }).then(response => {
                        this.antecedentes = response.data;
                        console.log("antecedentes");
                        console.log(this.antecedentes);
                        this.getResponsable(this.antecedentes.responsable_id);
                        this.getHolding();
                        this.getNegocio(this.antecedentes.negocio_id);
                        this.getGerencia(this.antecedentes.gerencia_id);
                        this.cumplimiento = this.formatDate(this.antecedentes.fecha_cumplimiento);
                        }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getHolding() {
                    var holding = this.antecedentes.holding_id;
                    if (holding === 1) {
                        this.holding_name = "Esmax Distr.";
                    }
                    if (holding === 2) {
                        this.holding_name = "Esmax red";
                    }
                    if (holding === 3) {
                        this.holding_name = "Esmax ind";
                    }
                },
                getResponsable(id) {
                    var url = '@Url.Action("getUser", "User")';
                    axios.post(url,
                        {
                            id: id
                        }).then(response => {
                        this.responsable = response.data;
                        console.log("responsable");
                        console.log(this.responsable);
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },

                getNegocio(id) {
                    var url = '@Url.Action("getNegocio", "RespuestaRSMS")';
                    axios.post(url,
                        {
                            id: id
                        }).then(response => {
                        this.negocio_name = response.data;
                        console.log("negocio nombre");
                        console.log(this.negocio_name);
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },

                getGerencia(id) {
                    var url = '@Url.Action("getGerencia", "RespuestaRSMS")';
                    axios.post(url,
                        {
                            id: id
                        }).then(response => {
                        this.gerencia_name = response.data;
                        console.log("gerencia nombre");
                        console.log(this.gerencia_name);
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
               getDescripcion() {
                    var url = '@Url.Action("getDescripcion", "RespuestaRSMS")';
                    var descripcion_id = this.respuesta.descripcion_id;
                    axios.post(url,
                        {
                            id: descripcion_id
                        }).then(response => {
                        this.descripcion = response.data;
                        console.log("descripcion");
                        console.log(this.descripcion);
                        if (this.descripcion.cierre === 1) {
                            this.cierre = "Si";
                        }
                        if (this.descripcion.cierre === 0) {
                            this.cierre = "No";
                        }
                        this.getFiles(this.descripcion.descripcion_id);
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
            },
        })
    </script>
}
