﻿@using Esmax.Models
@using Microsoft.AspNet.Identity
@model LoginViewModel
@{
        ViewBag.Title = "Iniciar sesión";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="row">
    
    <div class="col-md-8">
        <div class="card">
        <h2 align="center">@ViewBag.Title.</h2>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                <h4 align="center">Use una cuenta local para iniciar sesión.</h4>
                <hr/>
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    @Html.LabelFor(m => m.Chave, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Chave, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Chave, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class=" btn btn-primary">Iniciar sesión</button>
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Registrar como nuevo usuario", "Register", null, new {@class = "btn btn-secondary"})
                </p>
                @* Habilite esta opción después de habilitar la confirmación de la cuenta para la función de restablecimiento de contraseña
                    <p>
                        @Html.ActionLink("¿Ha olvidado su contraseña?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
        </div>
    @* <div class="col-md-4"> *@
    @*     <section id="socialLoginForm"> *@
    @*         @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl }) *@
    @*     </section> *@
    @* </div> *@
</div>

@section Scripts1 {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/axios.js"></script>

    <script>
        var menu=new Vue({
            el:'#sidebar',
            data() {
                return {
                    userid: '@User.Identity.GetUserId()',
                    user: null,
                } 
            },
            created() {
                this.getUser();
                $(document).ready(function() {
                    $('#sidebarCollapse').on('click',
                        function() {
                            $('#sidebar').toggleClass('active');
                            $(this).toggleClass('active');
                        });
                });
            },
            methods: {
                getUser() {
                    var url='@Url.Action("getUser", "User")';
                    var data = {
                        id: this.userid
                    }
                    axios.post(url, data).then(response => {
                        this.user = response.data;
                        console.log(this.userid);
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },   
            },
        })
    </script>
}