@{
    ViewBag.Title = "Modificar Odt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center m-3">
        <div class="col-lg-12 col-sm-offset-2 ">

            <div class="wizard-container">
                <div class="card wizard-card" data-color="blue" id="wizard">
                    <form action="" method="">

                        <div class="wizard-header">
                            <h3 class="wizard-title">
                                Modificar Observaci&oacute;n de Trabajo
                            </h3>

                        </div>
                        <div class="wizard-navigation text-center">
                            <ul>
                                <li class="mt-2 mb-2"><a href="#odt" data-toggle="tab">Descripci&oacute;n</a></li>
                                <li class="text-center mt-2 mb-2"><a href="#tareas" data-toggle="tab">Grupos Condiciones</a></li>
                                <li class="mt-2 mb-2"><a href="#preguntas" data-toggle="tab">Observaciones</a></li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            @RenderPage("partials/ModificarOdt/paso1.cshtml")
                            @RenderPage("partials/ModificarOdt/paso2.cshtml")
                            @RenderPage("partials/ModificarOdt/paso3.cshtml")
                        </div>
                        <div class="wizard-footer p-2">
                            <div class="float-right pr-2">
                                <input type='button' class='btn btn-next btn-fill btn-info btn-wd' name='next' value='Siguiente'/>
                                <input type='button' class='btn btn-finish btn-fill btn-info btn-wd' name='finish' v-on:click="finalizar" value='Finalizar'/>
                            </div>
                            <div class="float-left pl-2">
                                <input type='button' class='btn btn-secondary btn-previous btn-fill' name='previous' value='Atras'/>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/assets/js/jquery.bootstrap.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/material-bootstrap-wizard.js"></script>
    <script>
        var modificar = new Vue({
            el: '#app',
            data() {
                return {
                    odtid: @ViewBag.id,
                    odt: null,
                    titulo: null,
                    descripcion: null,
                    categorias: [],
                    odtCategoria: null,
                    categorias_id: null,
                    titulo: null,
                    descripcion: null,
                    tareas_titulo: null,
                    tareas: [],
                    subTareas: [],
                    tareasSelect: [],
                    tareaId: null,
                    sub_tareas_nombre: null,
                    niveles_titulo: null,
                    niveles_codigo: null,
                    niveles_id: null,
                    niveles: [],
                    subNiveles: [],
                    nivelSelect: [],
                    nivelId: null,
                    sub_niveles_nombre: null,
                    sub_niveles_codigo: null,
                    codigo: null,
                    STSeleccionadas: [],
                    SNSeleccionadas: [],
                    tareasIngresadas: [],
                    obsIngresadas: [],
                    tId: null,
                    stId: null,
                    taid: null,
                    nid: null,
                    sbid: null,
                }
            },
            created() {
                this.getOdt();
                this.getCategorias();
                this.getTareas();
                this.getNiveles();
                this.getCondiciones();
                this.getObservaciones();
                console.log(this.odtid);
            },
            methods: {
                getCategorias() { //Obtiene todas las categorias existentes en la base de datos
                    var urlCategorias =
                        '@Url.Action("getCategorias", "Categorias")'; //Primero se crea una variable para almacenar la url donde buscar los datos
                    axios.get(urlCategorias).then(
                        response => { //axios.get se le debe pasar la url anteriormente creada, este trabaja con un sistema de promesas
                            //esto quiere decir si le entrego algo, me devuelve algo, con then me entrega datos si esta todo correcto
                            this.categorias = response.data; // en este punto le asigno a la variable categorias el response.data, osea la data de la respuesta
                        }).catch(error => { //con catch me entrega datos si este tuvo problemas, osea el error
                        console.log("error: " + error); //mando un mensaje por consola del error
                    })
                },
                
                getOdt() {
                    var url = '@Url.Action("editOdt", "Odts")';
                    
                    var data1 = { id: this.odtid };
                    
                    axios.post(url, data1).then(response => {
                        this.odt = response.data;
                        console.log(this.odt);
                        this.titulo = this.odt[0].odts_tipo;
                        this.descripcion = this.odt[0].odts_descripcion;
                        this.odtCategoria = this.odt[0].categorias_id;
                        this.categorias_id = this.odt[0].categorias_id;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                categoryId() {
                    var select = document.getElementById('category');
                    //var selectedOption = this.options[select.selectedIndex];
                    this.categorias_id = select.options[select.selectedIndex].value

                },
                getTareas() {
                    var urlTarea =  '@Url.Action("getTareas", "Tareas")';
                    axios.get(urlTarea).then(response => {
                        this.tareas = response.data;
                        console.log(response.data);
                    });

                    var urlSubTareas =  '@Url.Action("getSubTareas", "SubTareas")';;
                    axios.get(urlSubTareas).then(response => {
                        this.subTareas = response.data;

                    });
                },
                getCondiciones() {

                    var url = '@Url.Action("getTareasId", "Tareas")';
                    var data = { id: this.odtid };
                    
                    axios.post(url, data).then(response => {
                        this.tareasIngresadas = response.data;
                        var dato = [];
                        this.tareasIngresadas.map(function(d) {
                            dato.push(d);
                        })
                        this.tareasSelect = dato;
                        console.log("tareas");
                        console.log(response.data);
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getObservaciones() {
                    var url = '@Url.Action("getObsId", "Niveles")';
                    var data = { id: this.odtid };
                    
                    axios.post(url, data).then(response => {
                        this.obsIngresadas = response.data;
                        var dato = [];
                        this.obsIngresadas.map(function(d) {
                            dato.push(d);
                        })
                        this.nivelSelect = dato;
                        console.log("niveles");
                        console.log(response.data);
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                addTarea() { //Metodo para insertar una tarea en la base de datos
                    console.log("tarea"); //ignorar
                    var addTarea = '@Url.Action("addTarea", "Tareas")'; // url para insertar la tarea, esto esta compuesto por controlador y su metodo, se debe dejar de esta manera: (arroba sin parentecis)Url.Action("metodo", "controlador")
                    var tarea =
                    { // se define una variable de tipo objeto, este almacena los datos a enviar, tener cuidado, almacenar la misma estructura a la de la base de datos ej: var data = { estructura: dato }
                        tareas_titulo: this.tareas_titulo,
                    }
                    console.log(tarea);
                    axios.post(addTarea,//axios.post recibe una url ademas del objeto de datos a almacenar
                        tarea
                    ).then(response => {// acá se programa toda la logica si la respuesta es correcta
                        $('#modalTarea').modal('hide');
                       
                        this.getTareas();
                        this.showTask(response.data);
                        this.tareas_titulo = '';
                    }).catch(error => {// en caso de error mostrar por consola
                        console.log("No se pudo guardar la tarea: " + error);
                    })
                },
                showTask(tarea) {
                    //se llama al metodo getTasks para actualizar los datos
                    this.getTareas();
                    var valor = 0;
                    var id = tarea.tareas_id;
                    this.tareasSelect.map(function(datos) {
                        if (datos.tareas_id === id) {
                            return valor = 1;
                        }
                    });
                    if (valor !== 1) {
                        //Se inserta en el array los nuevos datos de la tarea seleccionada
                        this.tareasSelect.push(tarea);
                    }
                    var context = this;
                    //agregar los sub tareas del tarea seleccionado a un arreglo de subtareasseleccionadas
                    var datos = [];
                    this.subTareas.map(function(data) {
                        if (data.tareas_id === tarea.tareas_id) {
                            context.STSeleccionadas.push(data);
                        }

                    })

                    console.log("subtareas");
                    console.log(this.subTareas);
                    console.log(this.STSeleccionadas);

                },
                descartarTarea(tarea) {
                    var index = this.tareasSelect.indexOf(tarea);
                    this.tareasSelect.splice(index, 1);


                },
                getIdTarea(id) {
                    this.tareaId = id;
                },
                addSubTarea() {
                    console.log(this.tareasSelect);
                    var urlSubTarea =  '@Url.Action("addSubTarea", "SubTareas")';
                    var SubTarea = {
                        sub_tareas_nombre: this.sub_tareas_nombre,
                        tareas_id: this.tareaId
                    }

                    axios.post(urlSubTarea, SubTarea).then(response => {
                        $('#createSubtask').modal('hide');
                        this.sub_tareas_nombre = '';
                        this.getTareas();
                        this.STSeleccionadas.push(response.data);
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                descartarSubTarea(subTarea) {// eliminar datos de un arreglo de objetos
                    var index = this.subTareas.indexOf(subTarea);//se obtiene el indice en base al dato pasado por parametro
                    this.subTareas.splice(index, 1);//splice elimina, recive el indice del elemento a eliminar y la cantidad de veces a eliminar si existen mas de una coincidencia

                    this.STSeleccionadas = this.STSeleccionadas.filter(function(data) {// otro metodo para eliminar, un arreglo se iguala al mismo arreglo pero retornando los datos que no son iguales a la busqueda
                        if (data.sub_tareas_id !== subTarea.sub_tareas_id) {
                            return data;
                        }
                    })
                },
                getNiveles() {
                    var urlNiveles = '@Url.Action("getNiveles", "Niveles")';
                    axios.get(urlNiveles).then(response => {
                        this.niveles = response.data;
                    });

                    var urlSubNiveles =  '@Url.Action("getSubNiveles", "SubNiveles")';
                    axios.get(urlSubNiveles).then(response => {
                        this.subNiveles = response.data;
                    });
                },
                addNivel() {
                    var addNivel =  '@Url.Action("addNivel", "Niveles")';
                    var nivel = {
                        niveles_titulo: this.niveles_titulo,
                        niveles_codigo: this.niveles_codigo
                    }

                    axios.post(addNivel,
                        nivel
                    ).then(response => {
                        $('#createLevel').modal('hide');
                       
                        this.getNiveles();
                        this.showNivel(response.data);
                        this.niveles_titulo = '';
                        this.niveles_codigo = '';
                    }).catch(error => {
                        console.log("No se pudo crear la observación: " + error);
                    })
                },
                modificarNivel() {
                    var modificarNivel =  '@Url.Action("modificarNivel", "Niveles")';
                    var nivel = {
                        niveles_titulo: this.niveles_titulo,
                        niveles_codigo: this.niveles_codigo,
                        niveles_id: this.niveles_id
                    }

                    axios.post(modificarNivel,nivel).then(response => {
                        $('#editLevel').modal('hide');
                       
                        this.getNiveles();
                        this.getObservaciones();
                        this.niveles_titulo = '';
                        this.niveles_codigo = '';
                    }).catch(error => {
                        console.log("No se pudo crear la observación: " + error);
                    })
                },
                modificarSubNivel() {
                    var modificarSubNivel =  '@Url.Action("modificarSubNivel", "SubNiveles")';
                    var sub = {
                        sub_niveles_nombre: this.sub_niveles_nombre,
                        sub_niveles_codigo: this.sub_niveles_codigo,
                        sub_niveles_id: this.sbid,
                        niveles_id: this.nid
                    }

                    axios.post(modificarSubNivel,sub).then(response => {
                        $('#editSubNivel').modal('hide');
                       
                        this.getNiveles();
                        this.getObservaciones();
                        this.sub_niveles_nombre = '';
                        this.sub_niveles_codigo = '';
                        this.sbid = '';
                        this.nid = '';
                    }).catch(error => {
                        console.log("No se pudo crear la observación: " + error);
                    })
                },
                editarTarea(Tarea) {
                    this.tareas_titulo = Tarea.tareas_titulo;
                    
                    this.tId = Tarea.tareas_id;
                },
                editarSubTarea(SubTarea) {
                    this.sub_tareas_nombre = SubTarea.sub_tareas_nombre;
                    this.taid = SubTarea.tareas_id;
                    this.stId = SubTarea.sub_tareas_id;
                },
               
                modificarSubTarea() {
                    var modificarSubTarea =  '@Url.Action("modificarSubTarea", "SubTareas")';
                    var sub = {
                        sub_tareas_nombre: this.sub_tareas_nombre,
                        sub_tareas_id: this.stId,
                        tareas_id: this.taid
                    }

                    axios.post(modificarSubTarea,sub).then(response => {
                        $('#editSubTarea').modal('hide');
                       
                        this.getTareas();
                        this.sub_tareas_nombre = '';
                        this.stId = '';
                        this.taid = '';
                    }).catch(error => {
                        console.log("No se pudo crear la Condicion: " + error);
                    })
                },
                modificarCondiciones() {
                    var modificarCondiciones =  '@Url.Action("modificarCondiciones", "Tareas")';
                    var condicion = {
                        tareas_titulo: this.tareas_titulo,
                        tareas_id: this.tId
                    }

                    axios.post(modificarCondiciones,condicion).then(response => {
                        $('#editTarea').modal('hide');
                       
                        this.getTareas();
                        this.getCondiciones();
                        this.tareas_titulo = '';
                        this.tId = '';
                    }).catch(error => {
                        console.log("No se pudo crear la Condicion: " + error);
                    })
                },
                showNivel(nivel) {
                    //se llama al metodo getTasks para actualizar los datos
                    this.getNiveles();
                    var valor = 0;
                    var id = nivel.niveles_id;
                    this.nivelSelect.map(function(datos) {
                        if (datos.niveles_id === id) {
                            return valor = 1;
                        }
                    });
                    if (valor !== 1) {
                        //Se inserta en el array los nuevos datos de la tarea seleccionada
                        this.nivelSelect.push(nivel);
                    }

                    //agregar los sub niveles del nivel seleccionado a un arreglo de subtareasseleccionadas
                    var datos = [];
                    this.subNiveles.map(function(data) {
                        if (data.niveles_id === nivel.niveles_id) {
                            datos.push(data);
                        }
                    })

                    this.SNSeleccionadas = datos;
                },
                getIdNivel(id, codigo) {
                    this.nivelId = id;
                    this.codigo = codigo;
                },
                addSubNivel() {
                    var urlSubNivel =  '@Url.Action("addSubNivel", "SubNiveles")';
                    var SubNivel = {
                        sub_niveles_nombre: this.sub_niveles_nombre,
                        sub_niveles_codigo: this.sub_niveles_codigo,
                        niveles_id: this.nivelId
                    }

                    axios.post(urlSubNivel, SubNivel).then(response => {
                        $('#createSubNivel').modal('hide');
                        this.sub_niveles_nombre = '';
                        this.sub_niveles_codigo = '';
                        this.getNiveles();
                        this.SNSeleccionadas.push(response.data);
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                descartarNivel(nivel) {
                    var index = this.nivelSelect.indexOf(nivel);
                    this.nivelSelect.splice(index, 1);
                },
                descartarSubNivel(subNivel) {
                    var index = this.subNiveles.indexOf(subNivel);
                    this.subNiveles.splice(index, 1);

                    this.SNSeleccionadas = this.SNSeleccionadas.filter(function(data) {
                        if (data.sub_niveles_id !== subNivel.sub_niveles_id) {
                            return data;
                        }
                    })
                },
                editarNivel(nivel) {
                    this.niveles_titulo = nivel.niveles_titulo;
                    this.niveles_codigo = nivel.niveles_codigo;
                    this.niveles_id = nivel.niveles_id;
                },
                editarSubNivel(sub) {
                    this.sub_niveles_nombre = sub.sub_niveles_nombre;
                    this.sub_niveles_codigo = sub.sub_niveles_codigo;
                    this.nid = sub.niveles_id;
                    this.sbid = sub.sub_niveles_id;
                },
                
                finalizar() {
                    var urlOdt =  '@Url.Action("modificarOdt", "Odts")';
                   
                    var odt = {
                        odts_tipo: this.titulo,
                        odts_descripcion: this.descripcion,
                        categorias_id: this.categorias_id,
                        odts_id: this.odtid
                    }

                    axios.post(urlOdt,odt).then(response => {
                        window.location.reload();
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
            }
        })
    </script>
}
