@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Ingresar ODT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-11 mb-3">
            
            <a class="btn btn-info" style="font-size: 100%;" href="@Url.Action("revisar", "Odts")">
                <i class="fa fa-plus fa-2x mr-2"></i> Ingresar ODT
            </a>
            <a class="btn btn-secondary" style="font-size: 75%;" v-if="user.Rol === 'Administrador'" href="@Url.Action("index", "Odts")">
                <i class="fa fa-edit fa-2x mr-2"></i> Crear ODT
            </a>
            <a class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("listRespuestas", "RespuestaOdt")">
                <i class="fa fa-list-ul fa-2x mr-2"></i> Revisar ODT
            </a>
            <a class="btn btn-secondary"style="font-size: 75%;" href="@Url.Action("GraficosOdt", "Odts")">
                <i class="fa fa-chart-line fa-2x mr-2"></i> Gr&aacute;ficas ODT
            </a>
        </div>
        <div class="card col-lg-11 pt-0">
            <div class="card-header mt-0">
                <div class="row mt-2">
                    <div class="form-group m-0 col-lg-6 col-md-12">
                        <label class="text-dark" for="categoriaList">Seleccione una categor&iacute;a</label>
                        <select v-on:change="getCategoria" class="form-control" id="categoriaList">
                            <option id="0"></option>
                            <option v-for="categoria in categoriasA" :id="categoria.categorias_id">{{ categoria.categorias_nombre }}</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <button v-on:click="getOdt" class="form-group btn btn-primary btn-block"><i class="fa fa-search"></i> Buscar</button>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <table id="example" class="table mt-5 table-responsive">
                    <thead>
                    <tr>
                        <th>Identificador</th>
                        <th style="width: 50%">Nombre</th>
                        <th style="width: 5%">Categor&iacute;a</th>
                        <th style="width: 25%">Acciones</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/jquery.dataTables.min.js"></script>



    <script>


        var ert = new Vue({
            el: '#app',
            data() {
                return{
                    odts: [],
                    categorias: [],
                    user: null,
                    categoriasA: [],
                    categorias_id: null,
                }
            },
            created() {
                this.getOdt();
                this.getC();
            },
            mounted() {
                
            },
            methods: {
                getOdt() {
                    var cId = this.categorias_id;
                    if (cId === null || cId === "0") {
                        var urlOdt = '@Url.Action("getOdt", "Odts")';
                        axios.get(urlOdt).then(response => {
                            this.odts = response.data;
                            console.log("odt");
                            console.log(this.odts);
                            this.getUser();

                        }).catch(error => {
                            console.log("error: " + error);
                        });
                    } else {
                        var urlOdtC = '@Url.Action("findOdtWhereCategorias", "Odts")';
                        var data = {
                            id: cId
                        }
                        axios.post(urlOdtC, data).then(response => {
                            this.odts = response.data;
                            console.log("odt");
                            console.log(this.odts);
                            this.getUser();

                        }).catch(error => {
                            console.log("error: " + error);
                        });
                    }
                    
                },
                getUser() {
                    var urlUser = '@Url.Action("getUser", "User")';

                    var data = {
                        id: '@User.Identity.GetUserId()'
                    }

                    axios.post(urlUser, data).then(response => {
                        this.user = response.data;
                        this.getCategorias();

                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getTable() {

                    $('#example').DataTable().clear().draw();
                    $('#example').DataTable().destroy();
                    var tabla = $('#example').DataTable({
                        language: {
                            "sProcessing":     "Procesando...",
                            "sLengthMenu":     "Mostrar _MENU_ registros",
                            "sZeroRecords":    "No se encontraron resultados",
                            "sEmptyTable":     "Ningún dato disponible en esta tabla",
                            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix":    "",
                            "sSearch":         "Buscar:",
                            "sUrl":            "",
                            "sInfoThousands":  ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst":    "Primero",
                                "sLast":     "Último",
                                "sNext":     "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        }
                    });
                    var cat = this.categorias;
                    if (this.user.Rol === 'Administrador') {
                        this.odts.map(function(o) {
                            cat.map(function(c) {
                                if (c.categorias_id === o.categorias_id) {
                                    if (o.estado === 'habilitado') {
                                        tabla.row.add([
                                            o.odts_id,
                                            o.odts_tipo,
                                            c.categorias_nombre,
                                            '<a href="@Url.Action("ingresarOdt", "Odts")/' +
                                            o.odts_id +
                                            '"><button class="btn btn-outline-success" style="border-radius: 50%"><i class="fa fa-check"></i></button></a><a href="@Url.Action("modificarOdt", "Odts")/' +
                                            o.odts_id +
                                            '" class="ml-3"><button class="btn btn-outline-primary" style="border-radius: 50%"><i class="fa fa-edit"></i></button></a><a href="@Url.Action("deshabilitar", "Odts")/' +
                                            o.odts_id +
                                            '" class="ml-3"><button class="btn btn-outline-danger" style="border-radius: 50%"><i class="fa fa-times"></i></button></a>',
                                        ]);
                                    }
                                }
                            })


                        });
                    } else if (this.user.Rol === 'Gestor' || this.user.Rol === 'Observador') {
                        this.odts.map(function(o) {
                            cat.map(function(c) {
                                if (c.categorias_id === o.categorias_id) {
                                    if (o.estado === 'habilitado') {
                                        tabla.row.add([
                                            o.odts_id,
                                            o.odts_tipo,
                                            c.categorias_nombre,
                                            '<a href="@Url.Action("ingresarOdt", "Odts")/' +
                                            o.odts_id +
                                            '"><button class="btn btn-outline-success" style="border-radius: 50%"><i class="fa fa-check"></i></button></a>',
                                            '',
                                        ]);
                                    }
                                }
                            })
                        });
                    }

                    tabla.draw();

                },
                getCategorias() {
                    var urlCategorias = '@Url.Action("getCategorias", "Categorias")';


                    axios.get(urlCategorias).then(response => {
                        this.categorias = response.data;
                        console.log("categorias");
                        console.log(this.categorias);
                        this.getTable();

                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                Eliminar(odt) {
                    var urlHab = '@Url.Action("deshabilitar", "Odts")';
                    var data = {
                        id: odt
                    }
                    axios.post(urlHab, data).then(response => {
                        this.getOdt();
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getC() {
                    var urlCategorias = '@Url.Action("getCategorias", "Categorias")';
                    axios.get(urlCategorias).then(response => {
                        this.categoriasA = response.data;
                        console.log("categorias");
                        console.log(this.categoriasA);
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                findCategorias() {
                    var urlCategorias = '@Url.Action("getCategorias", "Categorias")';
                    axios.get(urlCategorias).then(response => {
                        this.categorias = response.data;
                        console.log("categorias");
                        console.log(this.categorias);
                        this.getOdt();
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getCategoria() {
                    var select = document.getElementById("categoriaList");
                    var cId = select.options[select.selectedIndex].id;
                    if (cId === 0) {
                        this.categorias_id = "0";
                    } else {
                        this.categorias_id = cId;
                    }
                    
                },
            },
            updated() {
                
            }


        })

    </script>
}
