<div class="accordion justify-content-center mt-5" id="GrupoObservaciones">
	<div class="card p-0" v-for="nivels in nivelSelect">
		<div class="card-header row p-2" id="headingOne" style="padding: 0px;">
			<h2 class="mb-0 col-lg-7">
				<button class="btn btn-link btn-block text-left text-decoration-none " type="button" style="background-color: transparent; color: #000000;" data-toggle="collapse" :data-target="'#collapseOne' + nivels.niveles_id" aria-expanded="true" aria-controls="collapseOne">
					{{ nivels.niveles_codigo }}.- {{ nivels.niveles_titulo }}

				</button>
			
			</h2>
			<div class="btn-group mr-2 float-right col-lg-2 btn-group-sm mb-2 offset-2" role="group" aria-label="First group">
				<button type="button" class="btn btn-outline-danger" v-on:click="descartarNivel(nivels)"><i class="fa fa-times"></i></button>
			</div>
		</div>

		<div :id="'collapseOne' + nivels.niveles_id" class="collapse" aria-labelledby="headingOne" data-parent="#GrupoObservaciones">
			<div class="card-body p-0">
				<table class="table table-hover">
					<tbody>
					<tr v-for="sub in subNiveles" v-if="sub.niveles_id === nivels.niveles_id">

						<td class="col">{{ sub.sub_niveles_codigo }}.- {{ sub.sub_niveles_nombre }}</td>
						<td class="col">
							<div class="btn-group mr-2 float-right btn-group-sm" role="group" aria-label="First group">
								<button type="button" class="btn btn-outline-danger" v-on:click="descartarSubNivel(sub)"><i class="fa fa-times"></i></button>
							</div>
						</td>

					</tr>
				
					</tbody>
				</table>
				<button
					type="button"
					data-toggle="modal"
					data-target="#createSubNivel"
					v-on:click="getIdNivel(nivels.niveles_id, nivels.niveles_codigo)"
					class="btn  btn-success float-right mb-2 mr-2"
					style="border-radius: 50%; width: 40px; height: 40px;">
					<i class="fa fa-plus"></i>
				</button>
			</div>
		</div>
	</div>
</div>

