<div class="modal fade" id="editLevel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="createLevel">Editar Observaci&oacute;n</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nivels_title">Nombre del grupo de la observaci&oacute;n</label>
                    <input required type="text" class="form-control" id="nivels_title" name="niveles_titulo" v-model="niveles_titulo">
                </div>
                <div class="form-group">
                    <label for="nivels_code">C&oacute;digo</label>
                    <input required type="text" class="form-control" id="nivels_code" name="niveles_codigo" v-model="niveles_codigo">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button  type="button" class="btn btn-primary" v-on:click="addNivel">Modificar</button>
            </div>
        </div>
    </div>
</div>

