@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Graficos plan de accion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">     
    <div class="row justify-content-center">
        <div class=" col-lg-11 mt-3 mb-3" style="padding-left: 15px">
            <a class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("calendar", "MplanAccion")">
                <i class="fa fa-list-ul fa-2x mr-2"></i> Calendario
            </a>
            <a class="btn btn-secondary" style="font-size: 75%;" v-if="user.Rol === 'Administrador'" href="@Url.Action("ingresarPlanAccion","MplanAccion")">
                <i class="fa fa-plus fa-2x mr-2"></i> Crear plan de acci&oacute;n
            </a>
            <a class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("revisar","MplanAccion")">
                <i class="fa fa-edit fa-2x mr-2"></i> Revisar plan de acci&oacute;n
            </a>
            <a class="btn btn-info"style="font-size: 100%;" href="@Url.Action("GraficosPlanAccion", "MplanAccion")">
                <i class="fa fa-chart-line fa-2x mr-2"></i> Gr&aacute;ficas plan de acci&oacute;n
            </a>
        </div>
        <div class="col-lg-11">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row mb-5">
                        <div class="col-lg-4">
                            <input id="startDate" autocomplete="off" placeholder="Desde"/>
                        </div>
                        <div class="col-lg-4">
                            <input id="endDate" autocomplete="off" placeholder="Hasta"/>
                        </div>
                        <div class="col-lg-4">
                            <button class="btn btn-primary btn-block" v-on:click="buscar">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 mt-5">
            <div class="card shadow-sm">
                <h5 class="text-center mt-2">M&oacute;dulo que genera m&aacute;s planes de acci&oacute;n</h5>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div id="canvas1" class="card-body">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-12 mt-5 mb-5">
            <div class="card shadow-sm">
                <h5 class="text-center mt-2">Responsables con planes de acci&oacute;n abiertas</h5>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div id="canvas2" class="card-body">
                    <canvas id="myChart2"></canvas>
                </div>
            </div>
        </div>
        
        <div class="col-lg-12 mt-5 mb-5">
            <div class="card shadow-sm">
                <h5 class="text-center mt-2">Responsables con planes de acci&oacute;n cerradas</h5>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div id="canvas3" class="card-body">
                    <canvas id="myChart3"></canvas>
                </div>
            </div>
        </div>
                
        <div class="col-lg-12 mt-5 mb-5">
            <div class="card shadow-sm">
                <h5 class="text-center mt-2">Responsables con planes de acci&oacute;n (Abiertas y cerradas)</h5>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div id="canvas4" class="card-body">
                    <canvas id="myChart4"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/assets/js/jquery.zoom.js"></script>

            

    <script>
        $(document).ready(function(){
            $('#img').zoom();
        });
        
        var graficos = new Vue({
            el: '#app',
            data() {
                return {
                    respuesta: [],
                    odts: [],
                    respuestaCausa: [],
                    respuestaGerencia: [],
                    respuestaOdt: [],
                    respuestaNegocio: [],
                    respuestaHolding: [],
                    respuestaArea: [],
                    user: null,
                    usuarios: [],
                    usuariosH: [],
                    usuariosC: [],
                    respuestaModulo: []
                }
            },
            created() {
                this.getUser();
            },
            methods: {
                getUser() {
                    var urlUser = '@Url.Action("getUser", "User")';

                    var data = {
                        id: '@User.Identity.GetUserId()'
                    }

                    axios.post(urlUser, data).then(response => {
                        this.user = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                buscar() {
                    
                    var desde = new Date($('#startDate').val());
                    var hasta = new Date($('#endDate').val());
                    
                    var data = {
                        desde: desde,
                        hasta: hasta
                    };

                    this.getOdtRespuesta(data);
                    this.getUsuariosResponden(data);
                    this.getUsuariosHabilitados(data);
                    this.getUsuariosCerrados(data);
                    
                },
                getOdtRespuesta(data) {
                    var url = '@Url.Action("getModulos", "MplanAccion")';
                    
                    axios.post(url, data).then(response => {
                        this.respuestaModulo = response.data;
                        
                        var label = [];
                        var count = [];
                        var colores = ['#2496D4', '#3AB54A', '#245CA9', '#25AFAF'];
                        var coloresBarra = [];
                        var i = 0;
                        console.log("respuesta");
                        console.log(this.respuestaModulo);
                        this.respuestaModulo.map(function(data) {
                            if (data.modulo === 1) {
                                label.push("ODT");
                                count.push(data.total);
                            }
                            if (data.modulo === 2) {
                                label.push("RSMS");
                                count.push(data.total);
                            }
                            if (data.modulo === 3) {
                                label.push("PLAN DE ACCION");
                                count.push(data.total);
                            }
                        })
                        
                        console.log("LABEL");
                        console.log(label);
                        console.log("COUNT");
                        console.log(count);
                        
                        this.getGraphic("myChart", "canvas1", label, count, "bar", "Modulo que genera planes de accion", colores);
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                getUsuariosResponden(data) {
                    var url = '@Url.Action("getUsuariosResponsables", "MplanAccion")';
                   
                    axios.post(url, data).then(response => {
                        this.usuarios = response.data;
                        var label = [];
                        var count = [];
                        var colores = ['#2496D4', '#3AB54A', '#245CA9', '#25AFAF'];
                        var coloresBarra = [];
                        var i = 0;
                        console.log("usuarios");
                        console.log(this.usuarios);
                        this.usuarios.map(function(data) {
                           
                            label.push(data.UserName);
                            count.push(data.total);
                            coloresBarra.push(colores[i]);
                            i += 1;
                            if (i >= colores.length ) {
                                i = 0;
                            }
                        })
                        this.getGraphic("myChart4", "canvas4", label, count, "bar", "Responsables con planes de accion", coloresBarra);
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                getUsuariosHabilitados(data) {
                    var url = '@Url.Action("getUsuariosResponsablesHabilitados", "MplanAccion")';
                   
                    axios.post(url, data).then(response => {
                        this.usuariosH = response.data;
                        var label = [];
                        var count = [];
                        var colores = ['#2496D4', '#3AB54A', '#245CA9', '#25AFAF'];
                        var coloresBarra = [];
                        var i = 0;
                        console.log("usuarios");
                        console.log(this.usuarios);
                        this.usuariosH.map(function(data) {
                           
                            label.push(data.UserName);
                            count.push(data.total);
                            coloresBarra.push(colores[i]);
                            i += 1;
                            if (i >= colores.length ) {
                                i = 0;
                            }
                        })
                        this.getGraphic("myChart2", "canvas2", label, count, "bar", "Responsables con planes de accion habilitados", coloresBarra);
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                getUsuariosCerrados(data) {
                    var url = '@Url.Action("getUsuariosResponsablesCerrados", "MplanAccion")';
                   
                    axios.post(url, data).then(response => {
                        this.usuariosC = response.data;
                        var label = [];
                        var count = [];
                        var colores = ['#2496D4', '#3AB54A', '#245CA9', '#25AFAF'];
                        var coloresBarra = [];
                        var i = 0;
                        console.log("usuarios");
                        console.log(this.usuarios);
                        this.usuariosC.map(function(data) {
                           
                            label.push(data.UserName);
                            count.push(data.total);
                            coloresBarra.push(colores[i]);
                            i += 1;
                            if (i >= colores.length ) {
                                i = 0;
                            }
                        })
                        this.getGraphic("myChart3", "canvas3", label, count, "bar", "Responsables con planes de accion cerrados", coloresBarra);
                    }).catch(error => {
                        console.log("error: " + error)
                    });
                },
                getGraphic(id, idCanvas, label, count, tipo, titulo, coloresBarra) {
                    
                    $('#' + id).remove();

                    $('#' + idCanvas).append('<canvas id="' + id + '"></canvas>');
                    
                    var ctx = document.getElementById('' + id);
                    
                   
                    var myChart = new Chart(ctx,
                        {
                            type: '' + tipo,
                            data: {
                                labels: label,
                                datasets: [
                                    {
                                        label: '' + titulo,
                                        data: count,
                                        backgroundColor: coloresBarra,
                                        borderWidth: 1
                                    }
                                ]
                            },
                            options: {
                                tooltips: {
                                   
                                },
                                scales: {
                                    yAxes: [
                                        {
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }
                                    ]
                                }
                            }
                        });
                    myChart.update();
                },
            },
            updated() {
                $('#startDate').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                    maxDate: function () {
                        return $('#endDate').val();
                    }
                });
                $('#endDate').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                    minDate: function () {
                        return $('#startDate').val();
                    }
                });
            }
        })

    </script>
}