@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Ingresar Plan de accion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
}
<meta http-equiv="content-type" content="text/html; charset=UTF-8">  

<div class="container">
    <div class="row justify-content-center">
        <div class=" col-lg-11 mt-3 mb-3" style="padding-left: 15px">
            <a class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("calendar", "MplanAccion")">
                <i class="fa fa-list-ul fa-2x mr-2"></i> Calendario
            </a>
            <a class="btn btn-info" style="font-size: 100%;" href="@Url.Action("ingresarPlanAccion","MplanAccion")">
                <i class="fa fa-plus fa-2x mr-2"></i> Crear plan de acci&oacute;n
            </a>
            <a class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("revisar","MplanAccion")">
                <i class="fa fa-edit fa-2x mr-2"></i> Revisar plan de acci&oacute;n
            </a>
            <a class="btn btn-secondary"style="font-size: 75%;" href="@Url.Action("GraficosPlanAccion", "MplanAccion")">
                <i class="fa fa-chart-line fa-2x mr-2"></i> Gr&aacute;ficas plan de acci&oacute;n
            </a>
        </div>
        <div id="create" class="col-lg-11 col-sm-offset-2">
            <div class="card mb-5 shadow-sm mt-3">
                <h5 class="text-center">
                   Crear nuevo plan de acci&oacute;n
                </h5>
                <div class="pl-5 pr-5">
                    <hr/>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <form action="" method="">
                            <div class="row mt-3">
                                <div class="col-lg-3 mt-1 p-0">Responsable</div>

                                <div class="col-lg-9 ">
                                    <input
                                        list="responsable"
                                        v-on:change="getResponsable"
                                        id="resp"
                                        name="observado"
                                        class="form-group form-control m-0"
                                        placeholder="Seleccione un responsable..." required/>
                                    <datalist id="responsable">
                                        <option v-for="user in users" :data-id="user.Id" :id="user.Id" :value="user.UserName">{{user.UserName}}</option>
                                    </datalist>
                                    <span id="obsError" class="text-danger d-none">Persona observada no valida!</span>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-lg-3 mt-1 p-0">Acci&oacute;n</div>

                                <div class="col-lg-9 ">
                                    <input required type="text" class="form-group form-control m-0" v-model="accion" placeholder="Ingrese la acci&oacute;n"/>
                                </div>
                            </div>

                            <div class="row mt-3" v-for="(tarea, index) in tareas">
                                <div class="col-lg-3 mt-1 p-0">Tarea {{ index + 1 }}</div>

                                <div class="col-lg-8 ">
                                    <input required type="text" class="form-group form-control m-0" :value="tarea.tareas_descripcion" disabled placeholder="Ingrese la acci&oacute;n"/>
                                </div>
                                <div class="col-lg-1">
                                    <button type="button" class="btn btn-outline-danger btn-block" v-on:click="deleteTarea(index)"><i class="fa fa-times fa-lg"></i></button>
                                </div>
                            </div>

                            <div class="row mt-3">

                                <div class="col-lg-9 offset-lg-3 ">
                                    <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-success btn-block">Agregar nueva tarea</button>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-lg-3 mt-1 p-0">Fecha de cumplimiento</div>

                                <div class="col-lg-9 ">
                                    <select required v-on:change="getCumplimiento" id="cumplimiento" class="form-control">
                                        <option>Seleccione periodo...</option>
                                        <option id="3">3 dias</option>
                                        <option id="15">15 dias</option>
                                        <option id="30">30 dias</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <button type="button" id="guardar" v-on:click="guardar" class="btn btn-primary btn-block">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar tarea</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row mt-3">
                            <div class="col-lg-11 mt-1">Descripci&oacute;n de la tarea</div>

                            <div class="col-lg-12 ">
                                <textarea type="text" class="form-group form-control m-0" v-model="descripcion" placeholder="Ingrese la descripci&oacute;n de la tarea"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" v-on:click="addTask">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script>
        var ingresarPA = new Vue({
            el: '#app',
            data() {
                return {
                    users: [],
                    responsableId: null,
                    getCumplimientos: null,
                    accion: null,
                    tareas: [],
                    descripcion: null,
                }
            },
            created() {
                this.getUsers();
            },
            methods: {
                getUsers() {
                    var urlUser = '@Url.Action("allUsers", "User")';
                    axios.get(urlUser).then(response => {
                        this.users = response.data;

                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                addTask() {
                    if (this.descripcion !== null && this.descripcion !== "") {
                        this.tareas.push({
                            tareas_descripcion: this.descripcion
                        });
                        $('#exampleModal').modal("hide");
                        this.descripcion = null;
                        console.log(this.tareas);
                    }
                },
                deleteTarea(index) {
                    this.tareas.splice(index, 1);
                    console.log(this.tareas);
                },
                getResponsable() {
                    var value = $('#resp').val();
                    var oId = $('#responsable [value="' + value + '"]').data('id');
//                    var oId = select.options[select.selectedIndex].id;
                    if (isNaN(oId) || oId === null) {
                        $('#obsError').removeClass('d-none');
                        $('#guardar').attr("disabled", "disabled");
                    } else {
                        $('#obsError').addClass('d-none');
                        $('#guardar').removeAttr("disabled");
                        this.responsableId = parseInt(oId);
                        console.log("observadoid");
                        console.log(oId);
                    }
                },
                getCumplimiento() {
                    var select = document.getElementById('cumplimiento');
                    var cId = select.options[select.selectedIndex].id;
                    this.getCumplimientos = cId;
                    console.log("cumplimiento");
                    console.log(cId);
                    console.log(this.accion);
                },
                guardar() {
                    document.getElementById("guardar").addEventListener("click", function(event){
                        event.preventDefault()
                    });
                    
                    var planAccion = {
                        accion: this.accion,
                        responsable_id: this.responsableId,
                        cumplimiento: this.getCumplimientos
                    }

                    var tareas = this.tareas;

                    if ((this.accion === null || this.accion === "") || (this.responsableId === null || this.responsableId === "" || isNaN(this.responsableId))
                        || (this.getCumplimientos === null || this.getCumplimientos === "") || (tareas.length === 0)
                        ) {
                        $.confirm({
                            title: 'Un momento!',
                            content: 'Debe rellenar todos los campos.',
                            type: 'orange',
                            typeAnimated: true,
                            buttons: {
                                Cerrar: function () {
                                }
                            }
                        });
                    } else {
                        var url = '@Url.Action("addPlanAccion","MplanAccion")';
                        var a =$.dialog({
                            icon: 'fa fa-spinner fa-spin',
                            title: 'Cargando...',
                            content: '',
                            closeIcon: false
                        });
                        axios.post(url,
                            {
                                planAccion,
                                tareas
                            }).then(response => {
                            a.close();
                            $.confirm({
                                title: 'Plan de acci&oacute;n creado con exito',
                                content: 'Se ha enviado una alerta por correo al responsable.',
                                type: 'green',
                                typeAnimated: true,
                                buttons: {
                                    tryAgain: {
                                        text: 'Aceptar',
                                        btnClass: 'btn-green',
                                        action: function(){
                                            window.location = '@Url.Action("revisar", "MplanAccion")';
                                        }
                                    },
                                }
                            });
                        
                        }).catch(error => {
                            console.log("error: " + error);
                        })
                    }

                    
                }
            }
        });
    </script>
    
}