@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Revisar plan de accion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <link href="~/assets/MenuNotification.css"/>
    <style>
        .menu_notifications{
            background: #0b2e13;
            height: 350px;
        }
    </style>
    
}


<div class="container">
    <div class="row justify-content-center mb-5">
        <div class=" col-lg-11 mt-3 mb-3" style="padding-left: 15px">
            <a class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("calendar", "MplanAccion")">
                <i class="fa fa-list-ul fa-2x mr-2"></i> Calendario
            </a>
            <a class="btn btn-secondary" style="font-size: 75%;" v-if="user.Rol === 'Administrador'" href="@Url.Action("ingresarPlanAccion","MplanAccion")">
                <i class="fa fa-plus fa-2x mr-2"></i> Crear plan de acci&oacute;n
            </a>
            <a class="btn btn-info" style="font-size: 100%;" href="@Url.Action("revisar","MplanAccion")">
                <i class="fa fa-edit fa-2x mr-2"></i> Revisar plan de acci&oacute;n
            </a>
            <a class="btn btn-secondary"style="font-size: 75%;" href="@Url.Action("GraficosPlanAccion", "MplanAccion")">
                <i class="fa fa-chart-line fa-2x mr-2"></i> Gr&aacute;ficas plan de acci&oacute;n
            </a>
        </div>
        <div class="card shadow-sm col-lg-11 p-0">
            <div class="card-header">
                <div class="row mt-2">
                    <div class="col-lg-2">
                        <label for="folio">Folio</label>
                        <input id="folio" type="text" class="form-group form-control m-0" v-model="folio"/>
                    </div>
                    <div class="col-lg-3 form-group m-0">
                        <label for="moduloList">Seleccione un m&oacute;dulo</label>
                        <select v-on:change="getModulo" class="form-control" id="moduloList">
                            <option id="0">Todos</option>
                            <option id="1">Observaci&oacute;n de trabajo</option>
                            <option id="2">RSMS</option>
                            <option id="3">Plan de acci&oacute;n</option>
                        </select>
                    </div>
                    <div class="col-lg-3 form-group m-0">
                        <label>Fecha Inicio</label>
                        <input id="startDate111" placeholder="Desde" autocomplete="off"/>
                    </div>
                    <div class="col-lg-3 form-group m-0">
                        <label>Fecha Fin</label>
                        <input id="endDate111" placeholder="Hasta" autocomplete="off"/>
                    </div>
                    <div class="col-lg-1">
                        <button v-on:click="getPA" class="form-group btn btn-primary" style="border-radius: 50%"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="revisarPA" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Folio</th>
                        <th>Acci&oacute;n</th>
                        <th>Modulo</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Revisar</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        
        
    </div>
</div>


@section scripts{
    <script>
        
        var rev = new Vue({
            el:'#app',
            data() {
                return {
                    planAccion: [],
                    folio: null,
                    modulo: null,
                    user: null,
                    
                }
            },
            created() {
                this.getUser();
                
                $('#startDate111').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                    maxDate: function () {
                        return $('#endDate111').val();
                    }
                });
                $('#endDate111').datepicker({
                    uiLibrary: 'bootstrap4',
                    iconsLibrary: 'fontawesome',
                    minDate: function () {
                        return $('#startDate111').val();
                    }
                });
                
            },
            methods: {
                getUser() {
                    var urlUser = '@Url.Action("getUser", "User")';

                    var data = {
                        id: '@User.Identity.GetUserId()'
                    }

                    axios.post(urlUser, data).then(response => {
                        this.user = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                
                getModulo() {
                    var select = document.getElementById("moduloList");
                    var cId = select.options[select.selectedIndex].id;
                    if (cId === 0) {
                        this.modulo = "0";
                    } else {
                        this.modulo = cId;
                    }
                },
                getPA() {
                    
                    var fechaIni = $('#startDate111').val();
                    var fechafin = $('#endDate111').val();
                    var folio = this.folio;
                    var modulo = this.modulo;
                    var query = "Where ";

                    if (fechaIni !== "") {
                        query += "cumplimiento >= '" + fechaIni + "' ";
                        if (fechafin !== "") {
                            query += "and cumplimiento <= '" + fechafin + "' ";
                        }
                    }
                    
                    if (modulo !== null && modulo !== "0") {
                        if (query !== "Where ") {
                            query += "and modulo = '" + modulo + "' ";
                        } else {
                            query += "modulo = '" + modulo + "' ";
                        }
                    }
                    
                    if (folio !== null && folio !== "0" && folio !== "") {
                        if (query !== "Where ") {
                            query += "and plan_accion_id = '" + folio + "' ";
                        } else {
                            query += "plan_accion_id = '" + folio + "' ";
                        }
                    }

                    var data = {
                        query: query
                    }

                    if (query === "Where ") {
                        this.getPASinQuery();
                    } else {
                        this.getPAConQuery(data);
                    }
                    
                    
                },
                getPASinQuery() {
                    var url = '@Url.Action("allPlanAccion", "MplanAccion")';
                    axios.get(url).then(response => {
                        this.planAccion = response.data;
                        this.planAccion.sort();
                        console.log("lista");
                        console.log(this.planAccion);
                        this.getTable();
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getPAConQuery(data) {
                    var url = '@Url.Action("allPlanAccionWithQuery", "MplanAccion")';
                    axios.post(url, data).then(response => {
                        this.planAccion = response.data;
                        //this.planAccion.sort();
                        console.log("lista");
                        console.log(this.planAccion);
                        this.getTable();
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                formatDate(date) {
                    var fecha = date,
                        patron = "/Date(",
                        valor = "",
                        nuevo = fecha.replace(patron, valor),
                        patron2 = ")/",
                        valor2 = "",
                        nuevo2 = nuevo.replace(patron2, valor2);
                    console.log(nuevo2);
                    var int = parseInt(nuevo2);
                    var d = new Date(int);
                    var monthNames = [
                        "Enero", "Febrero", "Marzo",
                        "Abril", "Mayo", "Junio", "Julio",
                        "Agosto", "Septiembre", "Octubre",
                        "Noviembre", "Diciembre"
                    ];
                    var day = d.getDate();
                    var monthIndex = d.getMonth();
                    var year = d.getFullYear();

                    return day + '/' + monthNames[monthIndex] + '/' + year;

                },
                getTable() {

                    $('#revisarPA').DataTable().clear().draw();
                    $('#revisarPA').DataTable().destroy();
                    var tabla = $('#revisarPA').DataTable({
                        language: {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ning&uacute;n dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        }
                    });
                    //var cat = this.categorias;

                    //tabla.destroy();
                    var context = this;

                    this.planAccion.map(function(o) {
                        var id = @User.Identity.GetUserId();
                        
                        if (o.responsable_id === id.toString() ) {
                            var modulo = "";
                            
                            if (o.modulo === 1) {
                                modulo = "ODT";
                            }else if (o.modulo === 3) {
                                modulo = "Plan de accion";
                            }else if (o.modulo === 2) {
                                modulo = "RSMS";
                            }
                            if (o.estado === "habilitado") {
                                tabla.row.add([
                                    o.plan_accion_id,
                                    o.accion,
                                    modulo,
                                    context.formatDate(o.cumplimiento),
                                    o.estado.toUpperCase(),
                                    '<a href="@Url.Action("ver","MplanAccion")/'+ o.plan_accion_id +'"><button class="btn btn-block btn-outline-primary" ><i class="fa fa-eye"></i></button></a>'
                                ]);
                            }else if (o.estado === "cerrado") {
                                tabla.row.add([
                                    o.plan_accion_id,
                                    o.accion,
                                    modulo,
                                    context.formatDate(o.cumplimiento),
                                    o.estado.toUpperCase(),
                                    '<a href="@Url.Action("verCerrado","MplanAccion")/'+ o.plan_accion_id +'"><button class="btn btn-block btn-outline-primary" ><i class="fa fa-eye"></i></button></a>'
                                ]);
                            }
                            
                            
                        }
                        
                    });

                    tabla.draw();
                },
            }
        })
        
    </script>
}

