@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Visualizar plan de accion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
}

<div class="container mt-3 mb-5">
<div class="row justify-content-center">
<div style="margin-left: -50px; margin-right: 30px;">
    <a onclick="window.history.back();">
        
        <button type="button" class="btn btn-light shadow-sm" style="border-radius: 50%; height: 44px;">
            <i class="fa fa-arrow-left fa-lg"></i>
        </button>
    </a>

</div>
<div class="col-lg-10">
@* <div v-if="planAccionVer.estado === 'habilitado'"> *@
@* Odt *@
<div v-if="planAccionVer.modulo === 1" class="card shadow-sm p-0">
    <div class="text-center pt-4">
        <h5 >{{ nivel.niveles_codigo }}.- {{ nivel.niveles_titulo }}</h5>
    </div>
    <div class="pr-5 pl-5">
        <hr/>
    </div>

    <div class="card-body">

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-12">
                <h6 style="font-weight: bold">Observaciones con desvio </h6>
            </div>
            <div class="col-lg-8 col-md-12">
                <h6>
                    <ul class="p-0" style="list-style: none">
                        <li v-for="p in subNivel">{{ p.sub_niveles_codigo }}.- {{ p.sub_niveles_nombre }}</li>
                    </ul>
                </h6>
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-lg-4 col-md-12">
                <h6 style="font-weight: bold">Causa raiz</h6>
            </div>
            <div class="col-lg-8 col-md-12">
                <h6>{{ causa.descripcion }}</h6>
            </div>
        </div>
        <div id="Causa" class="row justify-content-center mt-2">
            <div class="col-lg-4 col-md-12">
                <h6 style="font-weight: bold">Acci&oacute;n</h6>
            </div>
            <div class="col-lg-8 col-md-12">
                <h6>{{ planAccionVer.accion }}</h6>
            </div>
        </div>
        <div id="modCausa" class="row justify-content-center mt-2 d-none">
            <div class="col-lg-4 col-md-12">
                <h6 style="font-weight: bold">Acci&oacute;n</h6>
            </div>
            <div class="col-lg-8 col-md-12">
                <input id="accion" class="form-group form-control m-0" :value="planAccionVer.accion"/>
            </div>
        </div>
        <div id="responsable" class="row justify-content-center mt-2">
            <div class="col-lg-4 col-md-12">
                <h6 style="font-weight: bold">Responsable </h6>
            </div>
            <div class="col-lg-8 col-md-12">
                <h6>{{responsable.UserName}}</h6>
            </div>
        </div>
        <div id="selectUser" class="row justify-content-center mt-2 d-none">
            <div class="col-lg-4 col-md-12">
                <h6 style="font-weight: bold">Responsable </h6>
            </div>
            <div class="col-lg-8 col-md-12">
                <input
                    list="observado"
                    v-on:change="GetObservado"
                    id="obs"
                    name="observado"
                    class="form-group form-control m-0"
                    :value="responsable.UserName" required/>
                <datalist id="observado">
                    <option v-for="user in users" :data-id="user.Id" :id="user.Id" :value="user.UserName">{{user.UserName}}</option>
                </datalist>
                <span id="obsError" class="text-danger d-none">Persona responsable no valida!</span>
            </div>
        </div>
        <div v-if="Dgenerales.ec === 'Empleado'" class="row justify-content-center mt-2">
            <div class="col-lg-4 col-md-12">
                <h6 style="font-weight: bold">Persona observada </h6>
            </div>
            <div class="col-lg-8 col-md-12">
                <h6>{{observado.UserName}}</h6>
            </div>
        </div>
        <div v-if="Dgenerales.ec === 'Contratista'" class="row justify-content-center mt-2">
            <div class="col-lg-4 col-md-12">
                <h6 style="font-weight: bold">Empresa </h6>
            </div>
            <div class="col-lg-8 col-md-12">
                <h6>{{Dgenerales.empresa}}</h6>
            </div>
            <div class="col-lg-4 col-md-12">
                <h6 style="font-weight: bold">Contratista </h6>
            </div>
            <div class="col-lg-8 col-md-12">
                <h6>{{Dgenerales.contratista}}</h6>
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-lg-4 col-md-12">
                <h6 style="font-weight: bold">Fecha cumplimiento acordada </h6>
            </div>
            <div class="col-lg-8 col-md-12">
                <h6>{{fecha}}</h6>
            </div>
        </div>

        <div class="row mt-5">
            <div id="modificar" class="col-lg-3">
                <button v-on:click="modificarOdt" class="btn btn-info  btn-block">Modificar</button>
            </div>
            <div id="guardar" class="col-lg-3 d-none">
                <button v-on:click="guardar" class="btn btn-info btn-block">Guardar</button>
            </div>
            <div class="col-lg-3">
                <button id="subirEv" class="btn btn-success btn-block" data-toggle="modal" data-target="#subirEvidencia">Subir evidencia</button>
            </div>
            <div class="col-lg-3">
                <button id="report_odt" v-on:click="ver_reporte()" class="btn btn-secondary btn-block">Ver reporte</button>
            </div>
            <div class="col-lg-3">
                <button id="cerrarOdt" v-on:click="cerrar" disabled="disabled" class="btn btn-danger btn-block">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@* RSMS *@
@RenderPage("partials/RSMS2.cshtml")

@* Check List *@
@RenderPage("partials/CHECKLIST.cshtml")

@* Plan de accion *@
<div v-if="planAccionVer.modulo === 3" class="card shadow-sm p-0">
    <div class="text-center pt-4">
        <h5 >Plan de acci&oacute;n</h5>
    </div>
    <div class="pr-5 pl-5">
        <hr/>
    </div>
    <div class="card-body">
        <div id="user1" class="row">
            <div class="col-lg-4 col-md-12">
                <h6 style="font-weight: bold">Responsable </h6>
            </div>
            <div class="col-lg-8 col-md-12">
                <h6>{{responsable.UserName}}</h6>
            </div>
        </div>
        <div id="selectUser2" class="row justify-content-center mt-2 d-none">
            <div class="col-lg-4 col-md-12">
                <h6 style="font-weight: bold">Responsable </h6>
            </div>
            <div class="col-lg-8 col-md-12">
                <input
                    list="observado1"
                    v-on:change="GetObservado1"
                    id="obs1"
                    name="observado"
                    class="form-group form-control m-0"
                    :value="responsable.UserName" required/>
                <datalist id="observado1">
                    <option v-for="user in users" :data-id="user.Id" :id="user.Id" :value="user.UserName">{{user.UserName}}</option>
                </datalist>
                <span id="obsError1" class="text-danger d-none">Persona observada no valida!</span>
            </div>
        </div>
        <div id="causa1" class="row mt-3">
            <div class="col-lg-4 col-md-12">
                <h6 style="font-weight: bold">Acci&oacute;n </h6>
            </div>
            <div class="col-lg-8 col-md-12">
                <h6>{{planAccionVer.accion}}</h6>
            </div>
        </div>
        <div id="modCausa1" class="row justify-content-center mt-2 d-none">
            <div class="col-lg-4 col-md-12">
                <h6 style="font-weight: bold">Acci&oacute;n</h6>
            </div>
            <div class="col-lg-8 col-md-12">
                <input id="accion1" class="form-group form-control m-0" :value="planAccionVer.accion"/>
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-lg-4 col-md-12">
                <h6 style="font-weight: bold">Tareas</h6>
            </div>
            <div v-if="tareas.length === 0" class="col-lg-8 col-md-12">
                <h6>Sin tareas</h6>
            </div>
            <div class="col-lg-8">
                <div v-for="(tarea,index) in tareas" class="row mt-1">
                    <div class="col-lg-10 col-md-12" v-if="tarea.estado=== 'habilitado'">
                        <h6 >{{ tarea.tareas_descripcion }}</h6>
                    </div>
                    <div class="col-lg-2 col-md-12" v-if="tarea.estado=== 'habilitado'">
                        <button type="button" data-toggle="modal" data-target="#subirEvidencia" v-on:click="getIdTarea(tarea.tareas_id)" title="Subir evidencia" class="btn btn-outline-success"><i class="fa fa-upload fa-lg"></i></button>
                    </div>
                    <div class="col-lg-10 col-md-12" v-if="tarea.estado=== 'cerrado'">
                        <h6 style="color: grey">{{ tarea.tareas_descripcion }}</h6>
                    </div>
                    <div class="col-lg-2 col-md-12" v-if="tarea.estado=== 'cerrado'">
                        <span class="text-danger">Cerrado</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 col-md-12">
                <h6 style="font-weight: bold">Fecha cumplimiento acordada </h6>
            </div>
            <div class="col-lg-8 col-md-12">
                <h6>{{fecha}}</h6>
            </div>
        </div>
        <div class="row mt-5">
            <button id="modificar1" v-on:click="modificarPA" class="btn btn-info col-lg-5">Modificar</button>
            <button id="guardar1" v-on:click="guardarPA" class="btn btn-info col-lg-5 d-none">Guardar</button>
            <button disabled id="cerrarPA" v-on:click="cerrar" class="btn btn-danger col-lg-5 offset-2">Cerrar</button>
        </div>
    </div>
</div>

@* Card para agregar evidencia del cierre *@
@RenderPage("partials/cierre.cshtml")


</div>
<div v-if="planAccionVer.estado === 'cerrado'">
    <h1>PLAN DE ACCION CERRADO</h1>
</div>
</div>
        </div>
    @* </div> *@

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script>
        var verPA = new Vue({
            el: '#app',
            data() {
                return {
                    idVer: @ViewBag.planAccionId,
                    planAccionVer: null,
                    NivelesOdt: null,
                    subNivel: [],
                    nivel: null,
                    causa: null,
                    fecha: null,
                    Dgenerales: null,
                    observado: null,
                    users: [],
                    observadoId: null,
                    responsable: null,
                    tareas: [],
                    file1: [],
                    idTarea: null,
                    idPlan: null,
                }
            },
            created() {
                this.getRespuesta();
                this.getUsers();
                this.getTareas();
                this.getEstado();
            },
            methods: {
                ver_reporte() {
                    
                    var odt = '@Url.Action("findPlanAccion_report", "MplanAccion")';
                    axios.post(odt,
                        {
                            id: this.idVer
                        }).then(response => {
                        this.planAccionVer = response.data;
                        var id_odt = this.planAccionVer.respuesta_odt_id;
                        var id_rsms = this.planAccionVer.respuestarsms_id;
                        var id_check = this.planAccionVer.CheckListId;
                        if (id_odt !== null) {
                            var ver ='@Url.Action("ver", "RespuestaOdt", new {id = "IDENTIFICADOR"})';
                            window.location = ver.replace("IDENTIFICADOR", id_odt);
                        }else if (id_rsms !== null) {
                            var ver = '@Url.Action("verRsms", "RSMS", new {id = "IDENTIFICADOR"})';
                            window.location = ver.replace("IDENTIFICADOR", id_rsms);
                        }else if (id_check !== null) {
                            var ver = '@Url.Action("ver", "CheckList", new {id = "IDENTIFICADOR"})';
                            window.location = ver.replace("IDENTIFICADOR", id_check);
                        }
                        
                        console.log("RESPUESTA");
                        console.log(id_odt);
                        console.log(id_rsms);
                        console.log(id_check);
                    }).catch(error => {
                        console.log("error: " + error);
                    });

                },
                getEstado() {
                    var url = "@Url.Action("changeEstadoNotification", "User")";
                    var data = {
                        id: @User.Identity.GetUserId(),
                        plan_id: this.idVer
                    }
                    axios.post(url, data).then(response => {

                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                cerrar() {
                    var context = this;
                    $.confirm({
                        title: 'Confirmaci&oacute;n',
                        content: '<div class="form-group">' +
                            '<label>Descripci&oacute;n de cierre</label>' +
                            '<input type="text" id="desripcionCierre" class="form-control" required />' +
                            '</div>',
                        buttons: {
                            Aceptar: function() {
                                var url = '@Url.Action("cerrarPlanAccion", "MplanAccion")';
                                var texto = $('#desripcionCierre').val();
                                axios.post(url,
                                    {
                                        id: context.idVer,
                                        descripcion: texto
                                    }).then(response => {
                                    window.location = '@Url.Action("revisar", "MplanAccion")';
                                }).catch(error => {
                                    console.log("error: " + error);
                                });
                            },
                            Cancelar: function() {
                            }
                        },
                        theme: 'material',
                        animation: 'scale',
                    });
                },
                getIdTarea(id) {
                    this.idTarea = id;
                },
                handleFileUpload() {
                    var uploadedFiles = this.$refs.file.files;
                    /*
                      Adds the uploaded file to the files array
                    */
                    for (var i = 0; i < uploadedFiles.length; i++) {
                        this.file1.push(uploadedFiles[i]);
                    }
                    console.log("file1");
                    console.log(this.file1);
                },
                addFiles() {
                    this.$refs.file.click();
                },
                removeFile( key ) {
                    this.file1.splice(key, 1);
                },
                upload() {

                    if (this.file1.length === 0) {
                        $.confirm({
                            title: 'Un momento!',
                            content: 'Debe seleccionar al menos un archivo.',
                            type: 'orange',
                            typeAnimated: true,
                            buttons: {
                                tryAgain: {
                                    text: 'Aceptar',
                                    btnClass: 'btn-orange',
                                    action: function() {
                                    }
                                },
                            }
                        });
                    } else {
                        var url = "@Url.Action("UploadEvidence", "MplanAccion")";
                        var formData = new FormData();
                        var texto = $('#texto').val();

                        for (var i = 0; i < this.file1.length; i++) {
                            var file = this.file1[i];

                            formData.append('file' + i, file);
                            console.log("file por pos");
                            console.log('file' + i, file);
                        }
                        formData.append("descripcion", texto);
                        if (this.idTarea !== null) {
                            formData.append('id', this.idTarea);
                            formData.append('idPlan', 0);
                        } else {
                            formData.append('id', 0);
                            formData.append('idPlan', this.idVer);
                        }


                        axios.post(url,
                                formData,
                                {
                                    headers: {
                                        'Content-Type': 'multipart/form-data'
                                    }
                                }
                            ).then(response => {
                                var context = this;
                                $.confirm({
                                    title: 'Evidencia!',
                                    content: 'Archivos subidos correctamente.',
                                    type: 'green',
                                    typeAnimated: true,
                                    buttons: {
                                        tryAgain: {
                                            text: 'Aceptar',
                                            btnClass: 'btn-green',
                                            action: function() {
                                                $('#subirEvidencia').modal("hide");
                                                context.getTareas();
                                                context.file1 = null;
                                                context.file1 = [];

                                                $('#cerrarOdt').removeAttr("disabled");
                                            }
                                        },
                                    }
                                });


                            })
                            .catch(error => {
                                console.log("error: " + error);
                            });
                    }

                },
                getTareas() {
                    var urlTareas = '@Url.Action("getTareas", "MplanAccion")';

                    axios.post(urlTareas,
                        {
                            id: this.idVer
                        }).then(response => {
                        this.tareas = response.data;
                        console.log("tareas");
                        console.log(this.tareas);
                        var i = 0;
                        this.tareas.map(function(data) {
                            if (data.estado === "cerrado") {
                                i += 1;
                            }
                        })
                        console.log("Tareas cerradas length");
                        console.log(i);
                        console.log("tareas");
                        console.log(this.tareas.length);
                        if (i === this.tareas.length) {
                            $('#cerrarPA').removeAttr("disabled");
                        } else {
                            $('#cerrarPA').attr("disabled", "disabled");
                        }
                    }).catch(error => {
                        console.log("error: " + error);
                    });
                },
                modificarOdt() {
                    $('#responsable').addClass('d-none');
                    $('#selectUser').removeClass('d-none');

                    $('#Causa').addClass('d-none');
                    $('#modCausa').removeClass('d-none');

                    $('#modificar').addClass('d-none');
                    $('#guardar').removeClass('d-none');

                },
                modificarRSMS() {
                    $('#user1').addClass('d-none');
                    $('#selectUser2').removeClass('d-none');

                    $('#causa1').addClass('d-none');
                    $('#modCausa1').removeClass('d-none');

                    $('#modificarRSMS').addClass('d-none');
                    $('#guardarRSMS').removeClass('d-none');

                },
                guardarRSMS() {
                    $('#selectUser2').addClass('d-none');
                    $('#user1').removeClass('d-none');

                    $('#modCausa1').addClass('d-none');
                    $('#causa1').removeClass('d-none');

                    $('#guardarRSMS').addClass('d-none');
                    $('#modificarRSMS').removeClass('d-none');

                    var accion = $('#accion1').val();
                    var responsable = this.observadoId;

                    var urlUpdate = '@Url.Action("Update", "MplanAccion")';

                    var data = {
                        id: this.idVer,
                        accion: accion,
                        responsable: responsable
                    }

                    axios.post(urlUpdate, data).then(response => {
                        var context = this;
                        $.confirm({
                            title: 'RSMS',
                            content: 'Modificado con exito.',
                            type: 'green',
                            typeAnimated: true,
                            buttons: {
                                tryAgain: {
                                    text: 'Aceptar',
                                    btnClass: 'btn-green',
                                    action: function() {
                                        context.getRespuesta();
                                    }
                                },
                            }
                        });

                    }).catch(error => {
                        console.log("error: " + error);
                    });

                    console.log("accion");
                    console.log(accion);
                    console.log("responsable");
                    console.log(responsable);
                },
                guardar() {
                    $('#selectUser').addClass('d-none');
                    $('#responsable').removeClass('d-none');

                    $('#modCausa').addClass('d-none');
                    $('#Causa').removeClass('d-none');

                    $('#guardar').addClass('d-none');
                    $('#modificar').removeClass('d-none');

                    var accion = $('#accion').val();
                    var responsable = this.observadoId;

                    var urlUpdate = '@Url.Action("Update", "MplanAccion")';

                    var data = {
                        id: this.idVer,
                        accion: accion,
                        responsable: responsable
                    }

                    axios.post(urlUpdate, data).then(response => {
                        var context = this;
                        $.confirm({
                            title: 'Odt',
                            content: 'Modificado con exito.',
                            type: 'green',
                            typeAnimated: true,
                            buttons: {
                                tryAgain: {
                                    text: 'Aceptar',
                                    btnClass: 'btn-green',
                                    action: function() {
                                        context.getRespuesta();
                                    }
                                },
                            }
                        });
                    }).catch(error => {
                        console.log("error: " + error);
                    });

                    console.log("accion");
                    console.log(accion);
                    console.log("responsable");
                    console.log(responsable);
                },
                modificarPA() {
                    $('#user1').addClass('d-none');
                    $('#selectUser2').removeClass('d-none');

                    $('#causa1').addClass('d-none');
                    $('#modCausa1').removeClass('d-none');

                    $('#modificar1').addClass('d-none');
                    $('#guardar1').removeClass('d-none');

                },
                guardarPA() {
                    $('#selectUser2').addClass('d-none');
                    $('#user1').removeClass('d-none');

                    $('#modCausa1').addClass('d-none');
                    $('#causa1').removeClass('d-none');

                    $('#guardar1').addClass('d-none');
                    $('#modificar1').removeClass('d-none');

                    var accion = $('#accion1').val();
                    var responsable = this.observadoId;

                    var urlUpdate2 = '@Url.Action("Update2", "MplanAccion")';

                    var data = {
                        id: this.idVer,
                        accion: accion,
                        responsable: responsable
                    }

                    axios.post(urlUpdate2, data).then(response => {
                        var context = this;
                        $.confirm({
                            title: 'Plan de accion',
                            content: 'Modificado con exito.',
                            type: 'green',
                            typeAnimated: true,
                            buttons: {
                                tryAgain: {
                                    text: 'Aceptar',
                                    btnClass: 'btn-green',
                                    action: function() {
                                        context.getRespuesta();
                                    }
                                },
                            }
                        });
                    }).catch(error => {
                        console.log("error: " + error);
                    });
                },
                getUsers() {
                    var users = '@Url.Action("allUsers", "User")';

                    axios.get(users).then(response => {
                        this.users = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    });
                },
                getRespuesta() {
                    var data = {
                        id: this.idVer
                    }

                    var PA = '@Url.Action("findPlanAccion", "MplanAccion")';

                    axios.post(PA, data).then(response => {
                        this.planAccionVer = response.data;
                        console.log("RESPUESTA");
                        console.log(this.planAccionVer);
                        this.getDatos();
                        this.getCausa();
                        this.fecha = this.formatDate(this.planAccionVer.cumplimiento)
                        this.observadoId = this.planAccionVer.responsable_id;
                        this.getResponsable();
                    }).catch(error => {
                        console.log("error: " + error);
                    });
                },
                getResponsable() {
                    var urlR = '@Url.Action("getUser", "User")';
                    var data = {
                        id: this.planAccionVer.responsable_id
                    }
                    axios.post(urlR, data).then(response => {
                        this.responsable = response.data;

                    }).catch(error => {
                        console.log("error: " + error);
                    });
                },
                formatDate(date) {
                    var fecha = date,
                        patron = "/Date(",
                        valor = "",
                        nuevo = fecha.replace(patron, valor),
                        patron2 = ")/",
                        valor2 = "",
                        nuevo2 = nuevo.replace(patron2, valor2);
                    console.log(nuevo2);
                    var int = parseInt(nuevo2);
                    var d = new Date(int);
                    var monthNames = [
                        "Enero", "Febrero", "Marzo",
                        "Abril", "Mayo", "Junio", "Julio",
                        "Agosto", "Septiembre", "Octubre",
                        "Noviembre", "Diciembre"
                    ];
                    var day = d.getDate();
                    var monthIndex = d.getMonth();
                    var year = d.getFullYear();

                    return day + '/' + monthNames[monthIndex] + '/' + year;

                },
                getDatos() {
                    if (this.planAccionVer.NivelesOdts_id !== null) {
                        var urlNivel = '@Url.Action("findNivelesOdt", "Niveles")';
                        var data = {
                            id: this.planAccionVer.NivelesOdts_id
                        }
                        axios.post(urlNivel, data).then(response => {
                            this.NivelesOdt = response.data;
                            this.getNiveles();
                        }).catch(error => {
                            console.log("error: " + error);
                        });
                    }

                    var urlSubNivel = '@Url.Action("findSubNiveles", "SubNiveles")';
                    var data2 = {
                        id: this.planAccionVer.plan_accion_id
                    }
                    axios.post(urlSubNivel, data2).then(response => {
                        this.subNivel = response.data;
                        console.log("subNiveles");
                        console.log(this.subNivel);
                    }).catch(error => {
                        console.log("error: " + error);
                    });

                    if (this.planAccionVer.respuesta_odt_id !== null) {
                        var urlDatosGenerales = '@Url.Action("findDatosGenerales", "DatosGenerales")';
                        var data3 = {
                            id: this.planAccionVer.respuesta_odt_id
                        }
                        axios.post(urlDatosGenerales, data3).then(response => {
                            this.Dgenerales = response.data;
                            this.getUser();
                        }).catch(error => {
                            console.log("error: " + error);
                        });
                    }

                },
                getUser() {
                    var urlDatosGenerales = '@Url.Action("getUser", "User")';
                    var data = {
                        id: this.Dgenerales.observado_id
                    }
                    axios.post(urlDatosGenerales, data).then(response => {
                        this.observado = response.data;

                    }).catch(error => {
                        console.log("error: " + error);
                    });
                },
                getNiveles() {
                    var urlNivel = '@Url.Action("findNiveles", "Niveles")';
                    var data = {
                        id: this.NivelesOdt.niveles_id
                    }
                    axios.post(urlNivel, data).then(response => {
                        this.nivel = response.data;
                        console.log("nivel");
                        console.log(this.nivel);
                    }).catch(error => {
                        console.log("error: " + error);
                    });
                },
                getCausa() {
                    if (this.planAccionVer.causa_raiz_id !== null) {
                        var urlCausa = '@Url.Action("findCausa", "MplanAccion")';
                        var data = {
                            id: this.planAccionVer.causa_raiz_id
                        }
                        axios.post(urlCausa, data).then(response => {
                            this.causa = response.data;
                            console.log("causa");
                            console.log(this.causa);
                        }).catch(error => {
                            console.log("error: " + error);
                        });
                    }

                },
                GetObservado() {
                    var value = $('#obs').val();
                    var oId = $('#observado [value="' + value + '"]').data('id');
//                    var oId = select.options[select.selectedIndex].id;
                    if (isNaN(oId) || oId === null) {
                        $('#obsError').removeClass('d-none');
                    } else {
                        $('#obsError').addClass('d-none');
                        this.observadoId = parseInt(oId);
                        console.log("observadoid");
                        console.log(oId);
                    }
//                    this.validNext();

                },
                GetObservado1() {
                    var value = $('#obs1').val();
                    var oId = $('#observado1 [value="' + value + '"]').data('id');
//                    var oId = select.options[select.selectedIndex].id;
                    if (isNaN(oId) || oId === null) {
                        $('#obsError1').removeClass('d-none');
                    } else {
                        $('#obsError1').addClass('d-none');
                        this.observadoId = parseInt(oId);
                        console.log("observadoid");
                        console.log(oId);
                    }
//                    this.validNext();

                },


            }
        })
    </script>

}