@using Esmax.Controllers
@model Esmax.Models.RegisterViewModel
@{
    ViewBag.Title = "Modificar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card col-lg-10 mt-5 shadow">
            <h3 class="text-center">
                Modificar Usuario
            </h3>
            <div class="card-body">
                <div class="row">
            
                    <div class="container">
                        <div class="alert alert-danger d-none mt-3" id="result4" role="alert">
                            Ocurri&oacute; un problema. Revise nuevamente los datos ingresados.
                        </div>
                            
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new {@class = "text-danger"})
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Id, new { style = "color:#000000"})
                                    @Html.TextBoxFor(m => m.Id, new {@class = " form-control", @placeholder = "ID del usuario",@readonly = "readonly"})
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.UserName, new { style = "color:#000000"})
                                    <input disabled type="text" class="form-control" v-model="datos.UserName" required>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Rut, new { style = "color:#000000"})
                                    <input disabled type="text" class="form-control" v-model="datos.Rut">                                         
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Fecha_Nacimiento, new { style = "color:#000000"})
                                    <input disabled class="form-control" v-model="Fecha_Nacimiento" required="">
                                </div> 
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { style = "color:#000000"})
                                    <input type="text" class="form-control" v-model="datos.Email">                                         
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Usuario, new {style = "color:#000000"})
                                    <input type="text" class="form-control" v-model="datos.Usuario" disabled=""> 
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Cargo, new {style = "color:#000000"})
                                    <input type="text" class="form-control" v-model="datos.Cargo">
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Rol, new {style = "color:#000000"})
                                    <select class="form-control" id="rol" v-model="datos.Rol" required="">
                                        <option>Observador</option>
                                        <option>Gestor</option>
                                        <option>Administrador</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Fecha_Ingreso, new {style = "color:#000000"})
                                    <input disabled class="form-control" v-model="Fecha_Ingreso">
                                </div>
                            </div>
                        </div>
                        <a   href="@Url.Action("Gestionar", "Admin")">
                            <button type="button" class="btn btn-primary col-2 mt-5">Regresar</button>
                        </a>
                        <input type="button" class="btn btn-primary  mt-5 col-2 float-right" v-on:click="Guardar_Cambios" value="Guardar"/>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        var gestion = new Vue({
            el:'#app',
            data() {
                return{
                    users: [],
                    userid: @ViewBag.userId1,
                    datos: null,
                    Fecha_Nacimiento: null,
                    Fecha_Ingreso: null,
                }
            },
            created() {
                this.getUser();
            },
            methods: {
                getUser() {
                    var url='@Url.Action("getuser", "Admin")';
                    
                    var data = {
                        id: this.userid
                    }
                    
                    axios.post(url, data).then(response => {
                        
                        this.datos = response.data;
                        console.log("fechaaa");
                        console.log(this.datos);
                        var fn = this.formatDate(this.datos.Fecha_Nacimiento);
                        this.Fecha_Nacimiento = fn;
                        var fi = this.formatDate(this.datos.Fecha_Ingreso);
                        this.Fecha_Ingreso = fi;
                        console.log(this.Fecha_Nacimiento);
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                formatDate(date) {
                    var fecha = date,
                        patron = "/Date(",
                        valor = "",
                        nuevo = fecha.replace(patron, valor),
                        patron2 = ")/",
                        valor2 = "",
                        nuevo2 = nuevo.replace(patron2, valor2);
                    console.log(nuevo2);
                    var int = parseInt(nuevo2);
                    var d = new Date(int);
                    var monthNames = [
                        "Enero", "Febrero", "Marzo",
                        "Abril", "Mayo", "Junio", "Julio",
                        "Agosto", "Septiembre", "Octubre",
                        "Noviembre", "Diciembre"
                    ];
                    var day = d.getDate();
                    var monthIndex = d.getMonth();
                    var year = d.getFullYear();

                    return day + '/' + monthNames[monthIndex] + '/' + year;

                },
                Guardar_Cambios() {
                    var urlMod =  '@Url.Action("modificarUser", "User")';
                    axios.post(urlMod,this.datos).then(response => {
                        alert("Usuario Modificado Correctamente");
                        window.location='@Url.Action("redirigirMod","Admin")';
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
            }
        })
        
        
    </script>
    

    @Scripts.Render("~/bundles/jqueryval");
    
    <script>
        var modificar = new Vue({
            el: '#app',
            data() {
                return {
                    resultado: '@ViewBag.result',
                }
            },
            created() {
                this.getResultado();
            },
            methods: {
                getResultado() {
                    if (this.resultado === "created") {
                        console.log('creado');
                        $('#result3').removeClass('d-none')
                    } else if (this.resultado === "error") {
                        $('#result4').removeClass('d-none')
                    }
                }
            }
        })
    </script>
}

