<div class="tab-pane mt-3" id="plan">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-11">
            <div id="alert_sin_desvios" class="alert alert-success d-none" role="alert">
                <h4 class="alert-heading">Sin plan de acci&oacute;n</h4>
                <p>No existen desv&iacute;o seleccionados. Esta Observaci&oacute;n de trabajo no generar&aacute; ning&uacute;n plan de acci&oacute;n.</p>
            </div>
            <ul>
                <li id="causaError" class="text-danger d-none">
                    <span >Debe seleccionar una causa ra&iacute;z!</span>
                </li>
                <li id="accionError" class="text-danger d-none">
                    <span >El campo acci&oacute;n correctiva/preventiva no puede quedar vac&iacute;o!</span>
                </li>
                <li id="responsableError" class="text-danger d-none">
                    <span >Seleccione una persona responsable v&aacute;lida!</span>
                </li>
                <li id="fechaError" class="text-danger d-none">
                    <span >Debe seleccionar una fecha de cumplimiento acordada!</span>
                </li>
            </ul>
            <div class="row justify-content-center">
                @* collapse *@
                <div class="accordion col-lg-12" id="planAccion">
                    <div class="card p-0" v-for="desvio in Desvios">
                        <div v-for="observacion in observaciones" v-if="observacion.niveles_id === desvio.niveles_id">
                            <div class="card-header p-0" id="headingOne">
                                <h3 class="m-0">
                                    <button class="btn  text-decoration-none btn-block text-left" type="button" data-toggle="collapse" :data-target="'#item' + desvio.niveles_id" aria-expanded="true" aria-controls="collapseOne">
                                        {{ observacion.niveles_codigo }}.- {{ observacion.niveles_titulo }}
                                    </button>
                                </h3>
                            </div>

                            <div :id="'item' + desvio.niveles_id" class="collapse" aria-labelledby="headingOne" data-parent="#planAccion">
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-4">
                                            <label class="text-dark">Observaciones con desv&iacute;o: </label>
                                        </div>
                                        <div class="col-lg-8">
                                            <ul>
                                                <li v-for="subNivel in DsubNivel" v-if="subNivel.niveles_id === observacion.niveles_id">
                                                    {{ subNivel.sub_niveles_codigo }}.- {{ subNivel.sub_niveles_nombre }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="row justify-content-center">
                                        <div class="col-lg-4">
                                            <label class="text-dark">Causa ra&iacute;z: </label>
                                        </div>
                                        <div class="col-lg-4">
                                            <button v-on:click="idNiveles(desvio.NivelesOdts_id)" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#causaRaiz">
                                                Seleccione una causa...
                                            </button>

                                        </div>
                                        <div class="col-lg-4">
                                            <div v-for="causa_raiz1 in causa_raiz">
                                                <div >
                                                    <input v-if="causa_raiz1.NivelesOdts_id === desvio.NivelesOdts_id" disabled class="form-control" :value="'Causa raiz: ' + causa_raiz1.causa_raiz_id"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row justify-content-center pt-2">
                                        <div class="col-lg-4">
                                            <label class="text-dark">Acci&oacute;n correctiva/ preventiva: </label>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="form-group m-0">
                                                <input type="text" class="form-control" :id="'accion'+desvio.NivelesOdts_id" v-on:change="getAccion(desvio.NivelesOdts_id)" required/>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row justify-content-center">
                                        <div class="col-lg-4">
                                            <label class="text-dark">Responsable: </label>
                                        </div>
                                        <div class="col-lg-8">
                                            <input list="responsable" v-on:change="getResponsable(desvio.NivelesOdts_id)" :id="'responsable'+ desvio.NivelesOdts_id" name="observado" class="form-group form-control m-0" data-min-length='1'
                                                   data-selection-required='true' :value="oResponsable[0].UserName"/>
                                            <datalist id="responsable">
                                                <option v-for="user in users" :data-id="user.Id" :id="user.Id" :value="user.UserName"></option>
                                            </datalist>

                                        </div>
                                    </div>

                                    <div class="row justify-content-center pt-2">
                                        <div class="col-lg-4">
                                            <label class="text-dark">Fecha de cumplimiento acordada: </label>
                                        </div>
                                        <div class="col-lg-8">
                                            <select v-on:change="getCumplimiento(desvio.NivelesOdts_id)" class="form-control" :id="'cunplimiento' + desvio.NivelesOdts_id">
                                                <option>Seleccione periodo...</option>
                                                <option id="3">3 d&iacute;as</option>
                                                <option id="15">15 d&iacute;as</option>
                                                <option id="30">30 d&iacute;as</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
    <div class="wizard-footer p-2 mt-5">
        <div class="float-right pr-2">
            <input type='button' class='btn btn-next btn-fill btn-info btn-wd' id="" name='next' value='Siguiente' />
            <input id="fin" type='button' class='btn btn-finish btn-fill btn-info btn-wd' v-on:click="finalizar" name='finish' value='Finalizar'/>
        </div>
        <div class="float-left pl-2">
            <input type='button' class='btn btn-secondary btn-previous btn-fill' name='previous' value='Atras'/>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="modal fade" id="causaRaiz" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Seleccione una causa ra&iacute;z</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <h4 class="text-center">Factor personal</h4>
                        <button type="button" id="a1" v-on:click="causaR(1)" class="btn btn-outline-primary mt-2 btn-block" data-toggle="button" aria-pressed="false" autocomplete="off">
                            1.- Falta de habilidad o conocimiento
                        </button>
                        <button type="button" id="a2" v-on:click="causaR(2)" class="btn btn-outline-primary mt-2 text-justify btn-block" data-toggle="button" aria-pressed="false" autocomplete="off">
                            2.- En el pasado, no sigui&oacute; lo que los procedimientos o pr&aacute;cticas aceptables indicaban y no ocurri&oacute; un incidente(lesi&oacute;n, problemas de calidad de producto, da&ntilde;o de equipos, incumplimiento legal, atrasos de producci&oacute;n y/o servicio, etc.)
                        </button>
                        <button type="button" id="a3" v-on:click="causaR(3)" class="btn btn-outline-primary mt-2 text-justify btn-block" data-toggle="button" aria-pressed="false" autocomplete="off">
                            3.- Realizar un trabajo de acuerdo a los procedimientos y pr&aacute;cticas aceptables toma mas tiempo o requiere mayor esfuerzo
                        </button>
                        <button type="button" id="a4" v-on:click="causaR(4)" class="btn btn-outline-primary mt-2 text-justify btn-block" data-toggle="button" aria-pressed="false" autocomplete="off">
                            4.- No completar los pasos de los procedimientos o pr&aacute;cticas aceptables, es positivamente reforzado o tolerado
                        </button>
                    </div>
                    
                    <div class="col-lg-6">
                        <h4 class="text-center">Factor del trabajo</h4>
                        <button type="button" id="a5" v-on:click="causaR(5)" class="btn btn-outline-primary text-justify mt-2 btn-block" data-toggle="button" aria-pressed="false" autocomplete="off">
                            5.- Herramientas o equipos inadecuados (no disponible, no operable y mantenimiento inadecuado o inapropiado para el trabajo, lugar de trabajo inapropiado)
                        </button>
                        <button type="button" id="a6" v-on:click="causaR(6)" class="btn btn-outline-primary text-justify mt-2 btn-block" data-toggle="button" aria-pressed="false" autocomplete="off">
                            6.- Falta de procedimientos o procedimientos inadecuados
                        </button>
                        <button type="button" id="a7" v-on:click="causaR(7)" class="btn btn-outline-primary text-justify mt-2 btn-block" data-toggle="button" aria-pressed="false" autocomplete="off">
                            7.- Comunicaci&oacute;n inadecuada de las expectativas, relativa a los procedimientos o a las pr&aacute;cticas aceptables
                        </button>
                    </div>
                    
                    <div class="col-lg-12">
                        <button type="button" id="a8" v-on:click="causaR(8)" class="btn btn-outline-primary btn-block text-justify mt-2 text-center" data-toggle="button" aria-pressed="false" autocomplete="off">
                            8.- Factor externo
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" v-on:click="cancelarCausa" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>