<meta charset="UTF-8"/>
<div class="tab-pane mt-3" id="datos">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-8">
            <div class="row">
                
                <div class="col-lg-3 text-left p-0">Holding</div>

                <div class="col-lg-3">
                    <button v-on:click="GetHoldingId(1)" type="button" class="btn btn-outline-info btn-lg btn-block btn-sm" id="select1">Esmax Dist.</button>
                </div>
                <div class="col-lg-3">
                    <button v-on:click="GetHoldingId(2)" type="button" class="btn btn-outline-info btn-lg btn-block btn-sm" id="select2" >Esmax Red</button>
                </div>
                <div class="col-lg-3">
                    <button v-on:click="GetHoldingId(3)" type="button" class="btn btn-outline-info btn-lg btn-block btn-sm" id="select3">Esmax Ind.</button>
                </div>
                <span id="holdingError" class="text-danger offset-lg-3 pl-3">Debe seleccionar un holding!</span>
            </div>
            
            <div class="row mt-3">
                <div class="col-lg-3 mt-1 p-0">&Aacute;rea de negocio</div>
                
                <div class="col-lg-9">
                    <select v-on:change="GetNegocioId('negocio')" class="custom-select" disabled  id="negocio" required>
                        <option id="negocio0" value="">Seleccione un &aacute;rea de negocio...</option>
                        <option v-for="negocio in negocios" :id="negocio.negocio_id" v-if="negocio.holding_id===HoldingId" :value="negocio.negocio_nombre">{{ negocio.negocio_nombre }}</option>
                    </select>
                    <span id="negocioError" class="text-danger d-none">Debe seleccionar un &aacute;rea de negocio!</span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3 mt-1 p-0">Gerencia</div>
                
                <div class="col-lg-9 ">
                    <select v-on:change="GetGerenciaId('gerencia')" class="custom-select" id="gerencia" disabled required>
                        <option id="gerencia0" value="">Seleccione una gerencia...</option>
                        <option v-for="gerencia in gerencias" :id="gerencia.gerencia_id" v-if="gerencia.negocio_id === NegocioId">{{ gerencia.gerencia_nombre }}</option>
                    </select>
                    <span id="gerenciaError" class="text-danger d-none">Debe seleccionar una gerencia!</span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3 mt-1 p-0">&Aacute;rea</div>
                
                <div class="col-lg-9 ">
                    <select v-on:change="GetAreaId('area')"class="custom-select" id="area" disabled required>
                        <option value="">Seleccione un area...</option>
                        <option v-for="area in areas" :id="area.area_id" v-if="area.gerencia_id === GerenciaId">{{ area.area_nombre }}</option>
                    </select>
                    <span id="areaError" class="text-danger d-none">Debe seleccionar una &aacute;rea!</span>
                </div>
            </div>
            
            <div class="row mt-3">
                <div class="col-lg-3 mt-1 p-0">Observador</div>
                
                <div class="col-lg-7">
                    <input class="form-group form-control m-0" id="observador" v-model="observador" disabled/>
                </div>
                
                <div class="custom-control custom-switch col-lg-2 mt-2">
                    <input class="custom-control-input" type="checkbox" v-on:click="anonimo" id="anonimo" value="option1">
                    <label class="custom-control-label" for="anonimo">Anonimo</label>
                </div>
            </div>
            <div class="row mt-3">
                
                <div class="col-lg-3 mt-1 p-0">Empleado/Contratista</div>
                <div class="col-lg-9" id="radio">
                   
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio11" name="customRadio1" value="Empleado" class="custom-control-input" v-on:change="reload1" required>
                        <label class="custom-control-label text-dark" for="customRadio11">Empleado</label>
                    </div>
                    
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio21" name="customRadio1" value="Contratista" class="custom-control-input" v-on:change="reload1" required>
                        <label class="custom-control-label text-dark" for="customRadio21">Contratista</label>
                    </div>
                    
                </div>

            </div>
            
            
            <div class="row mt-3 d-none" id="emp">
                <div class="col-lg-3 mt-1 p-0">Observado</div>
                
                <div class="col-lg-9 ">
                    <input
                        list="observado"
                        v-on:change="GetObservado"
                        id="obs"
                        name="observado"
                        class="form-group form-control m-0"
                        placeholder="Seleccione un observado..." />
                    <datalist id="observado">
                        <option v-for="user in users" :data-id="user.Id" :id="user.Id" :value="user.UserName">{{user.UserName}}</option>
                    </datalist>
                    <span id="obsError" class="text-danger d-none">Persona observada no valida!</span>
                </div>
            </div>
           
            <div class="row mt-3 d-none" id="contr">
                <div class="col-lg-3 mt-1 p-0" >Contratista/Trabajador</div>
                
                <div class="col-lg-9 ">
                    <input id="contra" class="form-group form-control m-0" v-model="contratista" v-on:change="empcontr" placeholder="Nombre contratista..." />
                </div>
            </div>
            <div class="row mt-3 d-none" id="empr">
                <div class="col-lg-3 mt-1 p-0">Empresa/Ubicaci&oacute;n</div>
                
                <div class="col-lg-9 ">
                    <input id="empre" class="form-group form-control m-0" v-model="empresa" v-on:change="empcontr" placeholder="Nombre empresa..." />
                </div>
            </div>
            
            
            <div class="row mt-3">
                <div class="col-lg-3 mt-1 p-0">&iquest;Trabajo habitual?</div>
                <div class="col-lg-9" id="radio">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio12" name="customRadio2" value="SI" class="custom-control-input" v-on:change="reload2" required>
                        <label class="custom-control-label text-dark" for="customRadio12">SI</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio22" name="customRadio2" value="NO" class="custom-control-input" v-on:change="reload2" required>
                        <label class="custom-control-label text-dark" for="customRadio22">NO</label>
                    </div>
                </div>
            </div>
            
            <div class="row mt-3">
                
                <div class="col-lg-3 mt-1 p-0">&iquest;Turno regular?</div>
                <div class="col-lg-9" id="radio">
                   
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio13" name="customRadio3" value="SI" class="custom-control-input" v-on:change="reload3" required>
                        <label class="custom-control-label text-dark" for="customRadio13">SI</label>
                    </div>
                    
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio23" name="customRadio3" value="NO" class="custom-control-input" v-on:change="reload3" required>
                        <label class="custom-control-label text-dark" for="customRadio23">NO</label>
                    </div>
                    
                </div>

            </div>
            
            <div class="row mt-3">
                <div class="col-lg-3 mt-1 p-0">Fecha</div>
                
                <div class="col-lg-9 ">
                    <input id="fecha" class="form-group form-control m-0" v-model="GetFecha" required/>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-3 mt-1 p-0">Hora</div>
                
                <div class="col-lg-9 ">
                    <input type="time" id="fecha" class="form-group form-control m-0" v-model="GetHora" required/>
                </div>
            </div>
        </div>
    </div>
    <div class="wizard-footer p-2">
        <div class="float-right pr-2">
            <input type='button' v-on:click="datos" class='btn btn-next btn-fill btn-info btn-wd' id="next" disabled name='next' value='Siguiente' />
            <input type='button' class='btn btn-finish btn-fill btn-info btn-wd' v-on:click="finalizar" name='finish' value='Finalizar'/>
        </div>
        <div class="float-left pl-2">
            <input type='button' class='btn btn-secondary btn-previous btn-fill' name='previous' value='Atras'/>
        </div>
        <div class="clearfix"></div>
    </div>
</div>