<div class="tab-pane mt-3 p-0" id="observaciones">
    <div class="row justify-content-center">
        <div class="col-lg-11">
            <div class="row justify-content-center mt-0">
                <form class="mb-2 mt-0">
                    <div class="form-group m-1 d-inline-block">
                        <button  type="submit" class="btn btn-warning" disabled>No aplica</button>       
                    </div> 
                    <div class="form-group m-1 d-inline-block">
                        <button  type="submit" class="btn btn-success mt-0" disabled>Correcto</button>       
                    </div>       
                    <div class="form-group m-1 d-inline-block">
                        <button  type="submit" class="btn btn-danger mt-0" disabled>Desv&iacute;o</button>       
                    </div> 
                </form>
                <!--Accordion wrapper-->
                <div class="accordion col-lg-12" id="accordionEx" role="tablist" aria-multiselectable="true">

                    <!-- Accordion card -->
                    <div class="card p-0" v-for="odtObservacion in odtObservaciones">

                        <!-- Card header -->
                        <div class="card-header p-0" role="tab" id="headingOne1" v-for="observacion in observaciones" v-if="observacion.niveles_id===odtObservacion.niveles_id">
                            <a data-toggle="collapse" data-parent="#accordionEx" :href="'#collapseOne' + odtObservacion.NivelesOdts_id" aria-expanded="true"
                               aria-controls="collapseOne1">
                                <h5 class="mb-0" style="font-size: initial;">
                                    {{ observacion.niveles_codigo }}.- {{ observacion.niveles_titulo }}
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div :id="'collapseOne' + odtObservacion.NivelesOdts_id" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                            <div class="card-body p-0">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Observaci&oacute;n</th>
                                        <th style="width: 5%">Respuesta</th>
                                        <th style="width: 40%">Comentario</th>
                                    </tr>
                                    </thead>
                                    <tbody v-for="odtSubNivel in odtSubNiveles">
                                    <tr class="p-0" v-for="SubNivel in subniveles" v-if="SubNivel.sub_niveles_id === odtSubNivel.sub_niveles_id && SubNivel.niveles_id === odtObservacion.niveles_id">
                                        <td class="" style="font-size: 90%; margin-bottom: 0; padding: 0px!important;">{{ SubNivel.sub_niveles_codigo }}.- {{ SubNivel.sub_niveles_nombre }}</td>
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                <a id="na" class="next" v-on:click="NextOdtD">
                                                    <button type="button" :id="'na' + SubNivel.sub_niveles_id" v-on:click="check(SubNivel.sub_niveles_id, 'na'+ SubNivel.sub_niveles_id, odtObservacion, SubNivel, odtSubNivel.OdtSubNiveles_id)" class="btn btn-outline-warning btn-sm"><i class="fa fa-minus"></i></button>
                                                </a>
                                                <a id="c" class="next" v-on:click="NextOdtD">
                                                    <button type="button" name="correctooo" :id="'c'+ SubNivel.sub_niveles_id" v-on:click="check(SubNivel.sub_niveles_id, 'c'+ SubNivel.sub_niveles_id, odtObservacion, SubNivel, odtSubNivel.OdtSubNiveles_id)" class="btn btn-outline-success btn-sm correctooo"><i class="fa fa-check"></i></button>
                                                </a>
                                                <a id="d" class="next" v-on:click="NextOdtD">
                                                    <button type="button"  :id="'d'+ SubNivel.sub_niveles_id" v-on:click="check(SubNivel.sub_niveles_id, 'd'+ SubNivel.sub_niveles_id, odtObservacion, SubNivel, odtSubNivel.OdtSubNiveles_id)" class="btn btn-outline-danger btn-sm"><i class="fa fa-times"></i></button>
                                                </a>
                                            </div>
                                        </td>
                                        <td class="p-0">
                                            <input type="text" :id="'comentario'+SubNivel.sub_niveles_id" class="form-group form-control m-0 mb-0" v-on:change="addObservaciones(SubNivel.sub_niveles_id, odtSubNivel.OdtSubNiveles_id, SubNivel)" disabled required/>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>

                    <!-- Accordion card -->
                </div>
                
                <span id="desvioComentarioError" class="text-danger d-none col-lg-12 text-center">Cada desv&iacute;o debe tener un comentario asociado!</span>
                <span id="NoLlenoError" class="text-danger col-lg-12 text-center">Debe estar todo seleccionado!</span>

                <!-- Accordion wrapper -->

            </div>

        </div>
       
    </div>
    <div class="wizard-footer p-2 mt-3">
        <div class="float-right pr-2">
            <input type='button' class='btn btn-next btn-fill btn-info btn-wd' disabled id="nextodt12" v-on:click="validarDesvios" name='next' value='Siguiente' disabled/>
            <input type='button' class='btn btn-finish btn-fill btn-info btn-wd' v-on:click="finalizar" name='finish' value='Finalizar'/>
        </div>
        <div class="float-left pl-2">
            <input type='button' class='btn btn-secondary btn-previous btn-fill' name='previous' value='Atras'/>
        </div>
        <div class="clearfix"></div>
    </div>
</div>



