<div  class="tab-pane mt-3" id="tareas">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-10">
            <div class="row justify-content-center">
                
                <!--Accordion wrapper-->
                <div class="accordion col-lg-10" id="paso2" role="tablist" aria-multiselectable="true" >
	                <div v-for="oTareas in odtTareas">
		                <!-- Accordion card -->
		                <div class="card p-0"  v-for="tarea in tareas" v-if="tarea.tareas_id === oTareas.tareas_id">
                
			                <!-- Card header -->
			                <div class="card-header p-0" role="tab" id="headingOne1" >
				                <h2 class="mb-0" style="font-size: initial;">
					                <button class="btn-link btn-block text-left text-decoration-none " type="button" style="background-color: transparent; color: #000000;" data-toggle="collapse" :data-target="'#collapseOne'+tarea.tareas_id" aria-expanded="true" aria-controls="collapseOne">
						                {{ tarea.tareas_titulo }}
					                </button>
						
				                </h2>
			                </div>
                
			                <!-- Card body -->
			                <div :id="'collapseOne'+tarea.tareas_id" class="collapse" aria-labelledby="headingOne" data-parent="#paso2">
				                <div class="card-body">
					                <div v-for="odtSubTarea in odtSubTareas">
						                <div class="custom-control custom-checkbox" v-for="subTarea in subTareas" v-if="subTarea.sub_tareas_id === odtSubTarea.sub_tareas_id && subTarea.tareas_id === tarea.tareas_id">
							                <input type="checkbox" class="custom-control-input text-dark" :id="'customCheck' + odtSubTarea.sub_tareas_id" v-on:click="validarCheck(odtSubTarea)">
							                <label class="custom-control-label" :for="'customCheck' + odtSubTarea.sub_tareas_id" style="color: black">{{ subTarea.sub_tareas_nombre }}</label>
						                </div>
					                </div>
				                </div>
			                </div>
                
		                </div>
		                <!-- Accordion card -->
	                </div>
                </div>
                <!-- Accordion wrapper -->

            </div>
        </div>
    </div>
	<div class="wizard-footer p-2 mt-5">
		<div class="float-right pr-2">
			<input type='button' class='btn btn-next btn-fill btn-info btn-wd' id="nextodt" name='next' value='Siguiente'/>
			<input type='button' class='btn btn-finish btn-fill btn-info btn-wd' v-on:click="finalizar" name='finish' value='Finalizar'/>
		</div>
		<div class="float-left pl-2">
			<input type='button' class='btn btn-secondary btn-previous btn-fill' name='previous' value='Atras'/>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

