<div class="tab-pane mt-3 " id="analisis">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-10">
            <div class="row justify-content-center">
                
                <div class="accordion col-lg-10 " id="paso4">
                    <div class="card p-0" >
                        <div class="card-header row p-2" id="headingOne" style="padding: 0px;">
                            <button class="btn btn-link btn-block text-left text-decoration-none " type="button" style="background-color: transparent; color: #000000;" data-toggle="collapse" :data-target="'#collapseOne'" aria-expanded="true" aria-controls="collapseOne">
                                Comentarios de la evaluaci&oacute;n
                            </button>
                        </div>

                        <div :id="'collapseOne'" class="collapse show" aria-labelledby="headingOne" data-parent="#paso4">
                            <div class="card-body p-0">
                                <div class="form-group p-0 m-0">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" v-model="Acomentarios" placeholder="Ingrese los comentarios para esta observaci&oacute;n de trabajo"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card p-0" >
                        <div class="card-header row p-2" id="headingOne" style="padding: 0px;">
                            <button class="btn btn-link btn-block text-left text-decoration-none " type="button" style="background-color: transparent; color: #000000;" data-toggle="collapse" :data-target="'#collapseTwo'" aria-expanded="true" aria-controls="collapseOne">
                                Conclusiones
                            </button>
                        </div>

                        <div :id="'collapseTwo'" class="collapse" aria-labelledby="headingOne" data-parent="#paso4">
                            <div class="card-body p-0">
                                <div class="form-group p-0 m-0">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" v-model="Aconclusiones" placeholder="Ingrese las conslusiones para esta observaci&oacute;n de trabajo"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-10 mt-3">
                    <label class="text-dark">&iquest;SESI&Oacute;N DE RETROALIMENTACI&Oacute;N CONDUCIDA POR EL SUPERVISOR?</label>
                    <div class="row" id="radio" >
                        <div class="col-lg-1" >
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio1" name="customRadio" value="1" class="custom-control-input" v-on:change="reload" required>
                                <label class="custom-control-label text-dark" for="customRadio1">SI</label>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio2" name="customRadio" value="0" class="custom-control-input" v-on:change="reload" required>
                                <label class="custom-control-label text-dark" for="customRadio2">NO</label>
                            </div>
                        </div> 
                    </div>
                    
                </div>
                
                <div class="col-lg-10 mt-3">
                    <div class="row">
                        <div class="col-lg-1 mt-2">
                            <label class="text-dark">Fecha</label>
                        </div>
                        <div class="col-lg-5">
                            <input class="form-group form-control m-0" id="fechaAnali" v-model="fechaAnalisis" disabled />
                        </div>
                    </div>
                </div>
                
               
                
            </div>
        </div>
    </div>
    <div id="sig_con_desvios" class="wizard-footer p-2">
        <div class="float-right pr-2">
            <input type='button' v-on:click="getfechaAnalisis" class='btn btn-next btn-fill btn-info btn-wd' id="" name='next' value='Siguiente' />
            <input type='button' class='btn btn-finish btn-fill btn-info btn-wd' v-on:click="finalizar" name='finish' value='Finalizar'/>
        </div>
        <div class="float-left pl-2">
            <input type='button' class='btn btn-secondary btn-previous btn-fill' name='previous' value='Atras'/>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


