﻿@model Esmax.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambiar contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid" id="change">
        <div class="row justify-content-center">
            <div class="card col-lg-10 mt-5 shadow">
                <h2 class="ml-3">@ViewBag.Title</h2>          
                <div class="card-body">    
                    @Html.AntiForgeryToken()
                    <h4>Formulario para cambiar la contraseña</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <input type="password" class="form-control" v-model="oldPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <input type="password" class="form-control" v-model="newPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <input type="password" class="form-control" v-model="confirmPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="Cambiar contraseña" v-on:click="changepass" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var change = new Vue({
            el: '#change',
            data() {
                return {
                    oldPassword: null,
                    newPassword: null,
                    confirmPassword: null,
                }
            },
            methods: {
                changepass() {
                    if (this.newPassword === this.confirmPassword) {
                        var url = '@Url.Action("changePassword","User")';
                        var data= {
                            oldPassword: this.oldPassword,
                            newPassword: this.newPassword,
                            
                        }
                        axios.post(url,data).then(response => {
                            var result = response.data;
                            this.oldPassword = '';
                            this.newPassword = '';
                            this.confirmPassword = '';
                            console.log(response.data)
                            if (result === 'ok') {
                                alert("Contraseña cambiada correctamente")
                                window.location= '@Url.Action("Index","Home")';
                                console.log("a")
                            } else {
                                alert("Contraseña Incorrecta");
                                window.location.reload();
                                console.log("b")
                                
                            }
                            
                        }).catch(error => {
                            console.log("error: " +error)
                        })
                    }       
                    
                }
            }
        })
    </script>
}


