<div class="tab-pane mt-3" id="planAccion">
    <div class="row justify-content-center">
        <div id="checkDesvios" class="alert alert-success d-none" role="alert">
            <h4 class="alert-heading">Sin plan de acci&oacute;n</h4>
            <p>No existen desv&iacute;o seleccionados. Este Check List no generar&aacute; ning&uacute;n plan de acci&oacute;n.</p>
        </div>
        <div class="col-lg-10" id="planDeAccion">
            <div class="row justify-content-center pt-4">
                <div class="accordion col-lg-12" id="planAccion2">
                    <div class="card p-0" v-for="actividad in desviadas">
                        <div class="card-header p-0" id="headingOne">
                            <h3 class="m-0">
                                <button class="btn  text-decoration-none btn-block text-left" type="button" data-toggle="collapse" :data-target="'#item' + actividad.ActividadId" aria-expanded="true" aria-controls="collapseOne">
                                    {{ actividad.ActividadId }}.- {{ actividad.ActividadNombre }}
                                </button>
                            </h3>
                        </div>
                        <div :id="'item' + actividad.ActividadId" class="collapse" aria-labelledby="headingOne" data-parent="#planAccion">
                            <div class="card-body">
                                <div class="row justify-content-center">
                                    <div class="col-lg-4">
                                        <label class="text-dark">Preguntas con desvio: </label>
                                    </div>
                                    <div class="col-lg-8">
                                        <ul>
                                            <li v-for="desvio in respondeNO" v-if="desvio.actividadId === actividad.ActividadId">
                                                {{ desvio.codigo }}.- {{ desvio.pregunta }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row justify-content-center pt-4">
                                    <div class="col-lg-4">
                                        <label class="text-dark">Responsable: </label>
                                    </div>
                                    <div class="col-lg-8">
                                        <input :id="'responsable' + actividad.ActividadId" list="responsable" v-on:change="getResponsables(actividad.ActividadId)" name="observado" class="form-group form-control m-0" data-min-length='1'
                                               data-selection-required='true' />
                                        <datalist id="responsable">
                                            <option v-for="user in users" :data-id="user.Id" :id="user.Id" :value="user.UserName"></option>
                                        </datalist>
                                    </div>
                                    
                                </div>
                                <div class="row justify-content-center pt-4">
                                    <div class="col-lg-4">
                                        <label class="text-dark">Acci&oacute;n: </label>
                                    </div>
                                    <div class="col-lg-8">
                                        @*<input type="text" class="form-group form-control m-0" v-model="accion"/>*@
                                        <input type="text" :id="'accion'+actividad.ActividadId" class="form-group form-control m-0" v-on:change="getAccion(actividad.ActividadId)"/>

                                    </div>
                                </div>

                                <div class="row justify-content-center pt-4">
                                    <div class="col-lg-4">
                                        <label class="text-dark">Fecha de cumplimiento acordada: </label>
                                    </div>
                                    <div class="col-lg-8">
                                        <select v-on:change="getCumplimiento(actividad.ActividadId)" class="form-control" :id="'fechaCumplimiento' + actividad.ActividadId">
                                            <option>Seleccione periodo...</option>
                                            <option id="3">3 dias</option>
                                            <option id="15">15 dias</option>
                                            <option id="30">30 dias</option>
                                        </select>
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wizard-footer p-2 mt-5">
        <div class="float-right pr-2">
            <input type='button' class='btn btn-next btn-fill btn-info btn-wd' id="next2" disabled name='next' value='Siguiente' />
            <input type='button' class='btn btn-finish btn-fill btn-info btn-wd' v-on:click="finalizar2"  name='finish2' id="finish2" disabled="disabled" value='Finalizar'/>
        </div>
        <div class="float-left pl-2">
            <input type='button' class='btn btn-secondary btn-previous btn-fill' name='previous' value='Atras'/>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
    
 @*         <div class="row justify-content-center pt-4">
                <div class="col-lg-4">
                    <label class="text-dark">Responsable: </label>
                </div>
                <div class="col-lg-8">
                    <input id="responsable111" list="responsable" v-on:change="getResponsable()" name="observado" class="form-group form-control m-0" data-min-length='1'
                           data-selection-required='true'/>
                    <datalist id="responsable">
                        <option v-for="user in users" :data-id="user.Id" :id="user.Id" :value="user.UserName"></option>
                    </datalist>
                </div>
            </div>

            <div class="row justify-content-center pt-4">
                <div class="col-lg-4">
                    <label class="text-dark">Acci&oacute;n: </label>
                </div>
                <div class="col-lg-8">
                    <input type="text" class="form-group form-control m-0" v-model="accion"/>

                </div>
            </div>

            <div class="row justify-content-center pt-4">
                <div class="col-lg-4">
                    <label class="text-dark">Fecha de cumplimiento acordada: </label>
                </div>
                <div class="col-lg-8">
                    <select class="form-group form-control m-0" v-on:change="getCumplimiento()" id="fechaCumplimiento">
                        <option>Seleccione periodo...</option>
                        <option id="3">3 dias</option>
                        <option id="15">15 dias</option>
                        <option id="30">30 dias</option>
                    </select>

                </div>
            </div>
        </div>
    </div>
    
</div>
*@
