<div v-if="planAccionVer.modulo === 2" class="card shadow-sm p-0">
                <div class="text-center pt-4">
                    <h5 >RSMS {{ planAccionVer.accion }}</h5>
                </div>
                <div class="pr-5 pl-5">
                    <hr/>
                </div>
                <div class="card-body">
                    <div id="user1" class="row">
                        <div class="col-lg-4 col-md-12">
                            <h6 style="font-weight: bold">Responsable </h6>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <h6>{{responsable.UserName}}</h6>
                        </div>
                    </div>
                    <div id="selectUser2" class="row justify-content-center mt-2 d-none">
                        <div class="col-lg-4 col-md-12">
                            <h6 style="font-weight: bold">Responsable </h6>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <input
                                list="observado1"
                                v-on:change="GetObservado1"
                                id="obs1"
                                name="observado"
                                class="form-group form-control m-0"
                                :value="responsable.UserName" required/>
                            <datalist id="observado1">
                                <option v-for="user in users" :data-id="user.Id" :id="user.Id" :value="user.UserName">{{user.UserName}}</option>
                            </datalist>
                            <span id="obsError1" class="text-danger d-none">Persona observada no valida!</span>
                        </div>
                    </div>
                    <div id="causa1" class="row mt-3">
                        <div class="col-lg-4 col-md-12">
                            <h6 style="font-weight: bold">Acci&oacute;n </h6>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <h6>{{planAccionVer.accion}}</h6>
                        </div>
                    </div>
                    <div id="modCausa1" class="row justify-content-center mt-2 d-none">
                        <div class="col-lg-4 col-md-12">
                            <h6 style="font-weight: bold">Acci&oacute;n</h6>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <input id="accion1" class="form-group form-control m-0" :value="planAccionVer.accion"/>
                        </div>
                    </div>
                    <div v-if="planAccionVer.seguridad1 !== '' || planAccionVer.medio_ambiente1 !== '' || planAccionVer.salud1 !== ''" class="row justify-content-center mt-2">
                        <div class="col-lg-4 col-md-12">
                            <h6 style="font-weight: bold">tipo rsms</h6>
                        </div>
                        
                        <div class="col-lg-8">
                            <h6 v-if="planAccionVer.seguridad1 === 'Seguridad'">Seguridad</h6>
                            <h6 v-if="planAccionVer.medio_ambiente1 === 'Medio ambiente'">Medio Ambiente</h6>
                            <h6 v-if="planAccionVer.salud1 === 'Salud'">Salud</h6>
                        </div>
                    </div>
                    <div v-if="planAccionVer.accion_insegura1 !== '' || planAccionVer.condicion_insegura1 !== ''" class="row justify-content-center mt-2">
                        <div class="col-lg-4 col-md-12">
                            <h6 style="font-weight: bold">Causal</h6>
                        </div>
                        
                        <div class="col-lg-8">
                            <h6 v-if="planAccionVer.accion_insegura1 === 'Accion insegura' ">Acci&oacute;n insegura</h6>
                            <h6 v-if="planAccionVer.condicion_insegura1 === 'Condicion insegura'">Condici&oacute;n insegura</h6>
                              
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-4 col-md-12">
                            <h6 style="font-weight: bold">Fecha cumplimiento acordada </h6>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <h6>{{fecha}}</h6>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-2">
                        <div class="col-lg-4 col-md-12">
                            <h6 style="font-weight: bold">Descrip&oacute;n de cierre </h6>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <h6>{{planAccionVer.descripcionCierre}}</h6>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <h6 style="font-weight: bold">Evidencia </h6>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <h6>{{datosEvidencia.Descripcion}}</h6>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <table class="table table-borderless">
                                <thead>
                                <tr>
                                    <th>Archivo</th>
                                    <th>Descargar</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="file in files">
                                    <td style="width: 80%">{{ file.archivo }}</td>
                                    <td><a :href="'@Url.Action("download", "MplanAccion")/' + file.EvidenciaTareaId"><button class="btn btn-outline-primary"><i class="fa fa-download fa-lg"></i></button></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    
                    
                </div>
            </div>