<div class="modal fade" id="modalEditCondicion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title">Modificar grupo de condiciones</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="tareas_titulo">Nombre del grupo de condici&oacute;n</label>
					<input required type="text" class="form-control" id="tareas_titulo" name="tareas_titulo" v-model="tareas_titulo_mod" >
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" v-on:click="modTarea">modificar</button>
			</div>
		</div>
	</div>
</div>

