<div class="tab-pane mt-3" id="tareas">
	<div class="row justify-content-center">
		<div class="col-lg-5 mb-3">
			<div class="dropdown">

				<button class="btn btn-info btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-clipboard-list"></i>
					Seleccione un grupo de condiciones
				</button>
				<ul class="dropdown-menu w-100 scrollable-menu" aria-labelledby="dropdownMenuButton" role="menu">
					<li v-for="tarea in tareas"><a  class="dropdown-item" href="#" v-on:click="showTask(tarea)">{{ tarea.tareas_titulo }}</a></li>
				</ul>
			</div>

		</div>
		<div class="col-lg-5 mb-3">
			<button type="button" data-toggle="modal" data-target="#modalTarea" class="btn btn-success btn-block">
				<i class="fa fa-plus"></i>
				 Nuevo grupo
			</button>
		</div>
		
		
		
		@* Cuadro de tareas seleccionadas *@
			<div class="accordion col-lg-6 justify-content-center mt-5" id="GrupoTareas">
				<div class="card p-0" v-for="tarea in tareasSelect">
					<div class="card-header row p-2" id="headingOne" style="padding: 0px;">
						<h2 class="mb-0 col-lg-7">
							<button class="btn btn-link btn-block text-left text-decoration-none " type="button" style="background-color: transparent; color: #000000;" data-toggle="collapse" :data-target="'#collapseOne' + tarea.tareas_id" aria-expanded="true" aria-controls="collapseOne">
								{{ tarea.tareas_titulo }}

							</button>
						
						</h2>
						<div class="btn-group mr-2 float-right col-lg-2 btn-group-sm mb-2 offset-2" role="group" aria-label="First group">
							<button type="button" class="btn btn-outline-danger" v-on:click="descartarTarea(tarea)"><i class="fa fa-times"></i></button>
						</div>
					</div>

					<div :id="'collapseOne' + tarea.tareas_id" class="collapse" aria-labelledby="headingOne" data-parent="#GrupoTareas">
						<div class="card-body">
							<table class="table table-hover">
								<tbody>
								<tr v-for="sub in subTareas" v-if="sub.tareas_id === tarea.tareas_id">

									<td class="col">{{ sub.sub_tareas_nombre }}</td>
									<td class="col">
										<div class="btn-group mr-2 float-right btn-group-sm" role="group" aria-label="First group">
											<button type="button" class="btn btn-outline-danger" v-on:click="descartarSubTarea(sub)"><i class="fa fa-times"></i></button>
										</div>
									</td>

								</tr>
							
								</tbody>
							</table>
							<button
								type="button"
								data-toggle="modal"
								data-target="#createSubtask"
								v-on:click="getIdTarea(tarea.tareas_id)"
								class="btn  btn-success float-right mb-2"
								style="border-radius: 50%; width: 40px; height: 40px;">
								<i class="fa fa-plus"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		@* Fin Cuadro de tareas seleccionadas *@
		
		@RenderPage("paso2/crearTareaModal.cshtml")
		@RenderPage("paso2/crearSubTareaModal.cshtml")
		@RenderPage("paso2/modalEditCondicion.cshtml")
	</div>
</div>

