<div class="modal fade" id="modalCrearPregunta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear nueva pregunta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Pregunta</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" v-model="PreguntaNombre" required>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="pctPregunta">Procentaje de la pregunta</label>
                            <input type="number" class="form-control col-md-4" style="text-align: center"id="pctPregunta" v-model="PreguntaPct" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" v-on:click="crearPregunta">Guardar</button>
            </div>
        </div>
    </div>
</div>