﻿@{
    ViewBag.Title = "ver";
}

@{
    ViewBag.Title = "Ver Respuesta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3 mb-5">
     <div class="row justify-content-center">
         <div class="col-lg-10">
             <div class="card shadow p-0">
                 <div class="card-header text-center">
                     <div class="row">
                         <div class="col-lg-2 text-left">
                             <h4>Folio: {{ respuesta.datos_generales_id }}</h4>
                         </div>
                         <div class="col-lg-8">
                             <h4>{{ odt.odts_tipo }}</h4>
                         </div>
                         <div class="col-lg-2 text-right">
                             <h4><img width="50" src="~/Content/logopaso.png"/></h4>
                         </div>
                     </div>
                     
                 </div>
                 <div class="card-body">
                     <div class="row justify-content-center">
                         <div class="col-lg-6 col-md-12">
                             <div class="form-group" v-for="ger in gerencia" v-if="respuesta.gerencia_id === ger.gerencia_id">
                                 <label class="text-dark" for="exampleInputEmail1">Gerencia del &aacute;rea observada</label>
                                 <input type="text" class="form-control" disabled id="exampleInputEmail1" :value="ger.gerencia_nombre">
                             </div>
                             @*<div class="form-group">
                                 <label class="text-dark" for="ec">Empleado/Contratista</label>
                                 <input type="text" class="form-control" disabled id="ec" :value="respuesta.ec">
                             </div>*@
                             <div class="form-group" v-if="contratista !==null" >
                                 <label class="text-dark" for="exampleInputEmail1">Contratista/Trabajador</label>
                                 <input type="text" class="form-control" disabled id="exampleInputEmail1" v-model="contratista">
                             </div>
                             
                            <div class="form-group" v-for="user in users" v-if="user.Id === respuesta.observador_id">
                                 <label class="text-dark" for="Observador">Observador</label>
                                 <input v-if="respuesta.anonimo === 0" type="text" class="form-control" disabled id="Observador" :value="user.UserName">
                                 <input v-if="respuesta.anonimo === 1" type="password" class="form-control" disabled id="Observador" :value="user.UserName">
                             </div>
                             <div class="form-group" v-for="user in users" v-if="user.Id === respuesta.observador_id">
                                 <label class="text-dark" for="Cargo">Cargo del Observador</label>
                                 <input type="text" class="form-control" disabled id="Cargo" :value="user.Cargo">
                             </div>
                             <div class="form-group">
                                 <label class="text-dark" for="fecha">Fecha</label>
                                 <input type="text" class="form-control" disabled id="fecha" :value="fecha">
                             </div>
                         </div>
                         <div class="col-lg-6 col-md-12">
                             <div class="form-group" v-for="area in areas" v-if="respuesta.area_id === area.area_id">
                                 <label class="text-dark" for="instalacion">Planta &Aacute;rea</label>
                                 <input type="text" class="form-control" disabled id="instalacion" :value="area.area_nombre">
                             </div>
                             <div class="form-group" v-if="nombre_observado !== ''">
                                 <label class="text-dark" for="exampleInputEmail1">Observado</label>
                                 <input type="text" class="form-control" disabled id="" v-model="nombre_observado.UserName">
                             </div>
                             <div class="form-group" v-if="empresa !==null">
                                 <label class="text-dark" for="exampleInputEmail1">Empresa/Ubicaci&oacute;n</label>
                                 <input type="text" class="form-control" disabled id="" v-model="empresa">
                             </div>
                             <div class="form-group">
                                 <label class="text-dark" for="trabajo">Trabajo habitual?</label>
                                 <input type="text" class="form-control" disabled id="trabajo" :value="respuesta.trabajo">
                             </div>
                             <div class="form-group">
                                 <label class="text-dark" for="turno">Turno regular?</label>
                                 <input type="text" class="form-control" disabled id="turno" :value="respuesta.turno">
                             </div>
                             <div class="form-group">
                                 <label class="text-dark" for="hora">Hora</label>
                                 <input type="text" class="form-control" disabled id="hora" :value="respuesta.hora">
                             </div>
                         </div>
                     </div>
                 </div>
             </div>

             <div class="card shadow mt-3 p-0">
                 <div class="card-header text-center">
                     <h4>Condiciones</h4>
                 </div>
                 <div class="card-body"> 
                     <div class="row justify-content-center">
                         <div class="card shadow-sm col-lg-4 ml-3 col-md-12 text-center mt-2" style="max-width: 250px;"  v-for="tarea in tareasC">
                     
                     <h6 style="font-weight: bold" >{{ tarea.tareas_titulo }}</h6>
                    
                     <div v-for="sub in SubTareas">
                         <div v-for="con in condiciones">
                             <ul class="list-unstyled text-left pl-4" v-for="oc in OdtCon" v-if="oc.OdtSubTareas_id === con.OdtSubTareas_id && oc.sub_tareas_id === sub.sub_tareas_id && sub.tareas_id === tarea.tareas_id">
                                 <li style="font-size: 14px;" v-if="con.valor === 1" ><i class="fa fa-check"></i> {{ sub.sub_tareas_nombre }}</li>
                                 <li style="font-size: 14px;" v-if="con.valor === 0"><i class="fa fa-square"></i> {{ sub.sub_tareas_nombre }}</li>
                             </ul>
                         </div>
                     </div>
                     
                         </div>
                     </div>
                 </div>
             </div>

             <div class="card shadow mt-3 p-0">
                 <div class="card-header text-center">
                     <h4>Observaciones</h4>
                 </div>
                 <div class="card-body pt-0">
                     <div class="row justify-content-center">
                         <div class="card p-0 mt-3 shadow-sm col-lg-12" v-for="desvio in odtObservaciones1">
                             <div class="card-header" v-for="nivel in observaciones1" v-if="nivel.niveles_id === desvio.niveles_id">
                                 <h6 style="font-weight: bold" >{{ nivel.niveles_codigo }}.- {{ nivel.niveles_titulo }}</h6>
                             </div>
                             <table class="table">
                                 <thead>
                                 <tr>
                                     <th style="width: 50%">Observación</th>
                                     <th>N/A</th>
                                     <th>Correcto</th>
                                     <th>Desv&iacute;o</th>
                                     <th>Comentario</th>
                                 </tr>
                                 </thead>
                                 <tbody>
                             
                                 <tr v-for="o in data11" v-if="o.niveles_id === desvio.niveles_id">
                                     @* <div v-for="sub in subNiveles" v-if="sub.sub_niveles_id === osn1.sub_niveles_id">  *@
                                     <td style="font-size: 14px;">{{ o.sub_niveles_codigo }}.- {{ o.sub_niveles_nombre }}</td>
                                     <td v-if="o.NA === 0"><i class="fa fa-square"></i></td>
                                     <td v-if="o.NA === 1"><i class="fa fa-check"></i></td>
                                     <td v-if="o.correcto === 0"><i class="fa fa-square"></i></td>
                                     <td v-if="o.correcto === 1"><i class="fa fa-check"></i></td>
                                     <td v-if="o.desvio === 0"><i class="fa fa-square"></i></td>
                                     <td v-if="o.desvio === 1"><i class="fa fa-check"></i></td>
                                     <td style="font-size: 14px;">{{ o.comentario }}</td>
                                     @* </div>  *@
                                 </tr>
                             
                                 </tbody>
                             </table>
                         </div>

                     </div>
                 </div>
             </div>
             <div class="card shadow mt-3 p-0">
                 <div class="card-header text-center">
                     <h4>An&aacute;lisis</h4>
                 </div>
                 <div class="card-body">
                     <div class="row justify-content-center">
                         <div class="col-lg-6">
                             <div class="row justify-content-center">

                                 <div class="col-lg-12 p-2">
                                     <h6 style="font-weight: bold">Comentarios</h6>
                                     <textarea disabled rows="6" class="form-control">{{ analisis.comentarios }}</textarea>
                                 </div>

                                 <div class="col-lg-12 p-2">
                                     <h6 style="font-weight: bold">Conclusiones</h6>
                                     <textarea disabled rows="6" class="form-control">{{ analisis.conclusiones }}</textarea>
                                 </div>

                                 <div class="col-lg-12 p-2">
                                     <h6 style="font-weight: bold">¿Sesi&oacute;n de retroalimentaci&oacute;n conducida por el supervisor?</h6>
                                     <input v-if="analisis.retroalimentacion === 0" type="text" value="NO" class="form-control" disabled/>
                                     <input v-if="analisis.retroalimentacion === 1" type="text" value="SI" class="form-control" disabled/>
                                 </div>

                                 <div class="col-lg-12 p-2">
                                     <h6 style="font-weight: bold">Fecha</h6>
                                     <input type="text" class="form-control" disabled :value="fecha_sesion"/>
                                 </div>
                             </div>
                         </div>
                         <div id="img2" class="col-lg-6 img2">
                             
                                 <img src="~/Content/causa_raiz.jpg" style="width: 100%; height: 100%"/>
                             
                         </div>
                         
                     </div>
                 </div>
             </div>

             <div class="card shadow mt-3 p-0 pt-0">
                 <div class="card-header text-center">
                     <h4>Plan de acción</h4>
                 </div>
                 <div class="card-body">
                     <div class="row justify-content-center">
                         <div class="card shadow-sm col-lg-12 pt-0 mt-2" v-for="desvio in desvios">
                             <div class="card-header p-2" v-for="nivel in niveles" v-if="nivel.niveles_id === desvio.niveles_id">
                                 <h6 style="font-weight: bold">{{ nivel.niveles_codigo }}.- {{ nivel.niveles_titulo }}</h6>
                             </div>
                             <div class="card-body">
                                 <div v-for="pa in planAccion" v-if="pa.NivelesOdts_id === desvio.NivelesOdts_id">
                                     <div class="row justify-content-center">
                                         <div class="col-lg-4 col-md-12">
                                             <h6 style="font-weight: bold">Observaciones con desv&iacute;o </h6>
                                         </div>
                                         <div class="col-lg-8 col-md-12">
                                             <h6>
                                             <ul v-if="pa.NivelesOdts_id === desvio.NivelesOdts_id" class="p-0" style="list-style: none">
                                                 <li v-for="p in po" v-if="p.plan_accion_id === pa.plan_accion_id">{{ p.sub_niveles_codigo }}.- {{ p.sub_niveles_nombre }}</li>
                                             </ul>
                                             </h6>
                                         </div>
                                     </div>
                                     <div class="row justify-content-center">
                                         <div class="col-lg-4 col-md-12">
                                             <h6 style="font-weight: bold">Causa raiz</h6>
                                         </div>
                                         <div class="col-lg-8 col-md-12">
                                             <h6>{{ pa.causa_raiz_id }}</h6>
                                         </div>
                                     </div>
                                     <div class="row justify-content-center">
                                         <div class="col-lg-4 col-md-12">
                                             <h6 style="font-weight: bold">Acción</h6>
                                         </div>
                                         <div class="col-lg-8 col-md-12">
                                             <h6>{{ pa.accion }}</h6>
                                         </div>
                                     </div>
                                     <div class="row justify-content-center">
                                         <div class="col-lg-4 col-md-12">
                                             <h6 style="font-weight: bold">Responsable </h6>
                                         </div>
                                         <div class="col-lg-8 col-md-12">
                                             <h6 v-for="user in users" v-if="user.Id === pa.responsable_id">{{ user.UserName }}</h6>
                                         </div>
                                     </div>
                                     <div class="row justify-content-center">
                                         <div class="col-lg-4 col-md-12">
                                             <h6 style="font-weight: bold">Fecha cumplimiento acordada </h6>
                                         </div>
                                         <div class="col-lg-8 col-md-12">
                                             <h6 v-for="pf in planFechas" v-if="pf.NivelesOdts_id === desvio.NivelesOdts_id">{{pf.fecha}}</h6>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                     </div>
                     
                     </div>
                 </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    
    <script>
        $(document).ready(function(){
            $('.img2').zoom();
        });
        var ver = new Vue({
            el: '#app',
            data() {
                return {
                    idRespuesta: @ViewBag.respuestaId,
                    respuesta: null,
                    gerencia: [],
                    areas: [],
                    users: [],
                    condiciones: [],
                    OdtCon: [],
                    SubTareas: [],
                    tareas: [],
                    desvios: [],
                    niveles: [],
                    observaciones: [],
                    subNiveles: [],
                    OSN: [],
                    analisis: null,
                    po: [],
                    planAccion: [],
                    tareasC: [],
                    fecha: null,
                    fecha_sesion: null,
                    planFechas: [],
                    respuestaOdt: null,
                    obs: [],
                    odtObservaciones1: [],
                    observaciones1: [],
                    odtSubNiveles1: [],
                    subniveles1: [],
                    data11: [],
                    odt: null,
                    datosGenerales: null,
                    nombre_observado: null,
                    empresa: null,
                    contratista: null,
                  }
            },
            created() {
                this.getRespuesta();
                
                
            },
            methods: {
                formatDate(date) {
                    
                    var monthNames = [
                        "Enero", "Febrero", "Marzo",
                        "Abril", "Mayo", "Junio", "Julio",
                        "Agosto", "Septiembre", "Octubre",
                        "Noviembre", "Diciembre"
                    ];
                    var day = date.getDate();
                    var monthIndex = date.getMonth();
                    var year = date.getFullYear();

                    return day + '/' + monthNames[monthIndex] + '/' + year;
                    
                },
                getOdt(idR) {
                    var url = '@Url.Action("findOdt","Odts")';
                    
                    axios.post(url,
                        {
                            id: idR
                        }).then(response => {
                        this.odt = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getRespuesta() {
                    var url = '@Url.Action("datosRespuesta", "RespuestaOdt")';
                    
                    var data = {
                        id: this.idRespuesta
                    }

                    var respuesta = '@Url.Action("getRespuesta","RespuestaOdt")';
                    
                    axios.post(respuesta, data).then(response => {
                        this.respuestaOdt = response.data;
                        this.getObservaciones11();
                        this.getSubNiveles();
                        this.getOdt(this.respuestaOdt.odts_id);
                        this.getObservado(this.idRespuesta);
                        }).catch(error => {
                        console.log("error: " + error);
                    })

                    
                    
                    axios.post(url, data).then(response => {
                        this.respuesta = response.data;
                        var fecha = this.respuesta.fecha,
                            patron = "/Date(",
                            valor = "",
                            nuevo = fecha.replace(patron, valor),
                            patron2 = ")/",
                            valor2 = "",
                            nuevo2 = nuevo.replace(patron2, valor2);

                        var int = parseInt(nuevo2);
                        
                        var d = new Date(int);
                        var f = this.formatDate(d);
                        
                        this.fecha = f;
                    }).catch(error => {
                        console.log("error: " + error);
                    })

                    var gerencia = '@Url.Action("GetGerencia","Gerencia")';
                    
                    axios.get(gerencia).then(response => {
                        this.gerencia = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                    
                    var area = '@Url.Action("GetArea","Area")';
                    
                    axios.get(area).then(response => {
                        this.areas = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                    
                    var observador = '@Url.Action("allUsers","User")';

                    //var observador2 = ''+this.respuesta.observador_id;
                    
                    var a = 0;
                    
                    axios.get(observador).then(response => {
                        this.users = response.data;
                        
                        
                        console.log("a: " + a);
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                    
                    var condiciones = '@Url.Action("getCondiciones","RespuestaOdt")';
                    
                    axios.post(condiciones, data).then(response => {
                        
                        this.condiciones = response.data;
                        
                        console.log("condiciones");
                        console.log(this.condiciones);
                        this.getOdtCondiciones();
                    }).catch(error => {
                        console.log("error: " + error);
                    })

                    
                    
                   
                    
                    var tareas = '@Url.Action("getTareas","Tareas")';
                    
                    axios.get(tareas).then(response => {
                        this.tareas = response.data;
                        var sub = this.SubTareas;
                        var tareas = this.tareas;
                        var tar = [];
                        var encontrado = 0;
                        
                        
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                    
                    
                    
//                    var subNiveles = '@Url.Action("getSubNiveles","SubNiveles")';
//                    
//                    axios.get(subNiveles).then(response => {
//                        this.subNiveles = response.data;
//                        console.log("subNiveles");
//                        console.log(this.subNiveles);
//                    }).catch(error => {
//                        console.log("error: " + error);
//                    })
                    
                    
                    
                    var desvios = '@Url.Action("getDesvios","respuestaOdt")';
                    
                    axios.post(desvios, data).then(response => {
                        this.desvios = response.data;
                        console.log("Desvios");
                        console.log(this.desvios);
                        this.getOSN();
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                    
                    var niveles = '@Url.Action("getNiveles","Niveles")';
                    
                    axios.get(niveles).then(response => {
                        this.niveles = response.data;
                        console.log("Niveles");
                        console.log(this.niveles);
                        this.getobservaciones(data);
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                    
                    var analisis = '@Url.Action("getAnalisisR","Analisis")';
                    
                    axios.post(analisis, data).then(response => {
                        this.analisis = response.data;
                        
                        var fecha = this.analisis.fecha_sesion,
                            patron = "/Date(",
                            valor = "",
                            nuevo = fecha.replace(patron, valor),
                            patron2 = ")/",
                            valor2 = "",
                            nuevo2 = nuevo.replace(patron2, valor2);

                        var int = parseInt(nuevo2);
                        
                        var d = new Date(int);
                        var f = this.formatDate(d);
                        
                        this.fecha_sesion = f;
                        console.log("analisis");
                        console.log(this.analisis);
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                    
                    var po = '@Url.Action("getPO","RespuestaOdt")';
                    
                    axios.get(po).then(response => {
                        this.po = response.data;
                        
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                    
                    var planAccion = '@Url.Action("getPlan","RespuestaOdt")';
                    
                    axios.post(planAccion, data).then(response => {
                        this.planAccion = response.data;
                        var fechas = [];
                        this.planAccion.map(function(plan) {
                            var fecha = plan.cumplimiento,
                                patron = "/Date(",
                                valor = "",
                                nuevo = fecha.replace(patron, valor),
                                patron2 = ")/",
                                valor2 = "",
                                nuevo2 = nuevo.replace(patron2, valor2);

                            var int = parseInt(nuevo2);
                        
                            var d = new Date(int);
                            var f = formatDate(d);
                            
                            function formatDate(date) {
                                var monthNames = [
                                    "Enero", "Febrero", "Marzo",
                                    "Abril", "Mayo", "Junio", "Julio",
                                    "Agosto", "Septiembre", "Octubre",
                                    "Noviembre", "Diciembre"
                                ];

                                var day = date.getDate();
                                var monthIndex = date.getMonth();
                                var year = date.getFullYear();

                                return day + '/' + monthNames[monthIndex] + '/' + year;
                            }
                        
                            fechas.push({
                                fecha: f,
                                NivelesOdts_id: plan.NivelesOdts_id
                            });
                        })

                        this.planFechas = fechas;
                        console.log(fechas);
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                    
                    
                    var tareasC = '@Url.Action("getTareasC","RespuestaOdt")';
                    
                    axios.post(tareasC, data).then(response => {
                        this.tareasC = response.data;
                        
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getOdtCondiciones() {
                    var Odtcondiciones = '@Url.Action("getOdtCondiciones","RespuestaOdt")';
                    
                    axios.get(Odtcondiciones).then(response => {
                        this.OdtCon = response.data;
                        var con = this.condiciones;
                        this.OdtCon = this.OdtCon.filter(function(data) {
                            var i = 0;
                            con.map(function(c) {
                                if (c.OdtSubTareas_id === data.OdtSubTareas_id) {
                                    i = 1;
                                }
                            })
                            if (i === 1) {
                                return data;
                            }
                        })
                        console.log("OdtCon");
                        console.log(this.OdtCon);
                        this.getSubTareas();
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getSubTareas() {
                    var SubTareas = '@Url.Action("getSubTareas","SubTareas")';
                    
                    axios.get(SubTareas).then(response => {
                        this.SubTareas = response.data;
                        var odtcon = this.OdtCon;
                        this.SubTareas = this.SubTareas.filter(function(data) {
                            var i = 0;
                            odtcon.map(function(o) {
                                if (o.sub_tareas_id === data.sub_tareas_id) {
                                    i = 1;
                                }
                            })
                            if (i === 1) {
                                return data;
                            }
                        })
                        console.log("SubTareas");
                        console.log(this.SubTareas);
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getobservaciones(data) {
                    var observaciones = '@Url.Action("getObservaciones","respuestaOdt")';
                    
                    axios.post(observaciones, data).then(response => {
                        var niveles = this.niveles;
                        this.observaciones = response.data;

                        this.observaciones = this.observaciones.filter(function(data1) {
                            var i = 0;
                            niveles.map(function(o) {
                                if (o.niveles_id === data1.niveles_id) {
                                    i = 1;
                                }
                            })
                            if (i === 1) {
                                return data1;
                            }
                        })
                        console.log("observaciones");
                        console.log(this.observaciones);
                        this.getobs();
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getobs() {
                    var observaciones = this.observaciones;
                    this.obs = this.niveles.filter(function(data) {
                        var i = 0;
                        observaciones.map(function(o) {
                            if (o.niveles_id === data.niveles_id) {
                                i = 1;
                            }
                        })
                        if (i === 1) {
                            return data;
                        }
                    });

                    console.log("obs");
                    console.log(this.obs);
                },
                getOSN() {
                    var OdtsubNiveles = '@Url.Action("getOSN","RespuestaOdt")';
                    
                    axios.get(OdtsubNiveles).then(response => {
                        this.OSN = response.data;
                        console.log("OSN");
                        console.log(this.OSN);
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getObservaciones11() {
                    var url = '@Url.Action("getOdtNiveles", "Niveles")';
                    
                    var data = { id: this.respuestaOdt.odts_id };
                    axios.post(url, data).then(response => {
                        this.odtObservaciones1 = response.data.no;
                        console.log("nooooo");
                        console.log(this.odtObservaciones1);
                        this.getObservaciones2();
                    }).catch(error => {
                        console.log("error: " + error);
                    });
                    
                },
                getObservado(id) {
                    var url = '@Url.Action("findDatosGenerales", "DatosGenerales")';
                    axios.post(url,
                        {
                            id: id
                        }).then(response => {
                        this.datosGenerales = response.data;
                        console.log("datosGenerales");
                        console.log(this.datosGenerales);
                        this.getUser();
                        this.empresa = this.datosGenerales.empresa;
                        this.contratista = this.datosGenerales.contratista;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getUser() {
                    var url = '@Url.Action("getUser", "User")';
                    axios.post(url,
                        {
                            id: this.datosGenerales.observado_id
                        }).then(response => {
                        this.nombre_observado = response.data;
                        console.log("nombre_observado");
                        console.log(this.nombre_observado);
                        }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getObservaciones2() {
                    var urlobt = '@Url.Action("getNiveles", "Niveles")';
                    axios.get(urlobt).then(response => {
                        this.observaciones1 = response.data;
                        var no = this.odtObservaciones1;
                        this.observaciones1 = this.observaciones1.filter(function(data) {
                            var i = 0;
                            no.map(function(n) {
                                if (n.niveles_id === data.niveles_id) {
                                    i = 1;
                                }
                            });
                            if (i === 1) {
                                return data;
                            }
                        });
                        console.log("observaciones11111")
                        console.log(this.observaciones1);

                    }).catch(error => {
                        console.log("error: " + error);
                    });
                },
                getSubNiveles() {
                    var url = '@Url.Action("getOdtSubNiveles", "SubNiveles")';
                    
                    var data = { id: this.respuestaOdt.odts_id };
                    axios.post(url, data).then(response => {
                        this.odtSubNiveles1 = response.data.osn;
//                        console.log("odtSubNiveles");
//                        console.log(this.odtSubNiveles);
                        this.getSN();
                    }).catch(error => {
                        console.log("error: " + error);
                    });
                    

                },
                getSN() {
                    var urlobt = '@Url.Action("getSubNiveles", "SubNiveles")';
                    axios.get(urlobt).then(response => {
                        var sn = this.odtSubNiveles1;
                        this.subniveles1 = response.data;
                        
                        this.subniveles1 = this.subniveles1.filter(function(data) {
                            var i = 0;
                            sn.map(function(s) {
                                if (s.sub_niveles_id === data.sub_niveles_id) {
                                    i = 1;
                                }
                            })
                            if (i === 1) {
                                return data
                            }
                        })

                        var data = [];

                        var ob = this.observaciones;
                        
                        this.subniveles1.map(function(s) {
                            var i = 0;
                            ob.map(function(n) {
                                if (n.sub_niveles_id === s.sub_niveles_id) {
                                    data.push({
                                        niveles_id: s.niveles_id,
                                        sub_niveles_codigo: s.sub_niveles_codigo,
                                        sub_niveles_id: s.sub_niveles_id,
                                        sub_niveles_nombre: s.sub_niveles_nombre,
                                        NA: n.NA,
                                        correcto: n.correcto,
                                        desvio: n.desvio,
                                        comentario: n.comentario,
                                        OdtSubNiveles_id: n.OdtSubNiveles_id,
                                        respuesta_odt_id: n.respuesta_odt_id
                                    })
                                    i = 1;
                                }
                            })
                            if (i === 0) {
                                data.push({
                                    niveles_id: s.niveles_id,
                                    sub_niveles_codigo: s.sub_niveles_codigo,
                                    sub_niveles_id: s.sub_niveles_id,
                                    sub_niveles_nombre: s.sub_niveles_nombre,
                                    NA: 0,
                                    correcto: 0,
                                    desvio: 0,
                                    comentario: null,
                                })
                            }
                        })

                        this.data11 = data;
                        
                        console.log("subNiveles")
                        console.log(this.subniveles1);
                    }).catch(error => {
                        console.log("error: " + error);
                    });
                },
            }
        })
    </script>
}