@using System.Drawing
@using System.Web.UI.WebControls
@using Microsoft.AspNet.Identity
@model Esmax.Models.RegisterViewModel
@{
    ViewBag.Title = "Revisar RTA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-11 col-sm-offset-2">
            <div class="col-lg-11 mb-3 mt-3">
                        
                <a class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("CrearRTA", "RTA")">
                    <i class="fa fa-plus fa-2x mr-2"></i>  Crear RTA
                </a>
                <a class="btn btn-info" style="font-size: 100%;" href="@Url.Action("RevisarRTA","RTA")">
                    <i class="fa fa-list-ul fa-2x mr-2"></i> Revisar RTA
                </a>
                <a class="btn btn-secondary" style="font-size: 75%;" href="@Url.Action("","RTA")">
                    <i class="fa fa-chart-line fa-2x mr-2"></i> Gr&aacute;ficas RTA
                </a>
            </div>
            <div class="card col-lg-11 p-0">
                <div class="card-header">
                    <div class="col-lg-3">
                        <button v-on:click="buscar" class="form-group btn btn-primary btn-block"><i class="fa fa-search"></i> Buscar</button>
                    </div>
                </div>
                    <div class="card-body">
                        <table id="tablarta" class="table table-hover">
                            <thead>
                            <tr>
                                <th style="width: 10%; font-size: 12px;">Folio</th>
                                <th style="width: 10%; font-size: 12px;">Estado</th>
                                <th style="width: 10%; font-size: 12px;">Etapa actual</th>
                                <th style="width: 10%; font-size: 12px;">Responsable actual</th>
                                <th style="width: 10%; font-size: 12px;">Acci&oacute;n</th>
                            </tr>
                            </thead>
                            <tbody style="font-size: 12px;">
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/Scripts/jquery.dataTables.min.js"></script>


    <script>
        var revisar = new Vue({
            el: '#app',
            data() {
                return{
                    revisar: [],
                    respuesta: [],
                    holdings: [],
                    negocios: [],
                    gerencias: [],
                    areas: [],
                    holding_id: null,
                    negocio_id: null,
                    gerencia_id: null,
                    area_id: null,
                    usuario_actual: '@User.Identity.GetUserName()',
                    respuesta1: [],
                    IDrta: "@ViewBag.RTAId",
                }
            },
            created() {
                var url = '@Url.Action("allrta", "RTA")';
                axios.get(url).then(response => {
                    this.revisar = response.data;
                    console.log("revisar");
                    console.log(this.revisar);
//                    this.getOdt();
                }).catch(error => {
                    console.log("error: " + error);
                })
                
                
            },
            methods: {
                getFiltros() {
                    var url = '@Url.Action("GetHolding", "Holding")';

                    axios.get(url).then(response => {
                        this.holdings = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                    var url = '@Url.Action("GetNegocio", "Negocio")';

                    axios.get(url).then(response => {
                        this.negocios = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                    var url = '@Url.Action("GetGerencia", "Gerencia")';

                    axios.get(url).then(response => {
                        this.gerencias = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                    var url = '@Url.Action("GetArea", "Area")';

                    axios.get(url).then(response => {
                        this.areas = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getHolding() {
                    var select = document.getElementById("categoriaListHolding");
                    var cId = $('#categoriaListHolding').val();
                    if (cId === "Todos los holdings") {
                        this.holding_id = "";
                    } else {
                        this.holding_id = cId;
                    }
                },
                getNegocio() {
                    var select = document.getElementById("categoriaListNegocio");
                    var cId = $('#categoriaListNegocio').val();
                    if (cId === "Todas las areas de negocio") {
                        this.negocio_id = "";
                    } else {
                        this.negocio_id = cId;
                    }
                },
                getGerencia() {
                    var select = document.getElementById("categoriaListGerencia");
                    var cId = $('#categoriaListGerencia').val();
                    if (cId === "Todas las gerencias") {
                        this.gerencia_id = "";
                    } else {
                        this.gerencia_id = cId;
                    }
                },
                getArea() {
                    var select = document.getElementById("categoriaListArea");
                    var cId = $('#categoriaListArea').val();
                    if (cId === "Todas las areas") {
                        this.area_id = "";
                    } else {
                        this.area_id = cId;
                    }
                },
                buscar() {
//                    var fechaIni = $('#startDate111').val();
//                    var fechafin = $('#endDate111').val();
//                    var holding = this.holding_id;
//                    var negocio = this.negocio_id;
//                    var gerencia = this.gerencia_id;
//                    var area = this.area_id;
//                    var datos = document.getElementById("tipo").selectedOptions;
                    var query = "Where ";
//                    if (fechaIni !== "") {
//                        query = query + "fecha1 >= '" + fechaIni + "' ";
//                        if (fechafin !== "") {
//                            query = query + "and fecha1 <= '" + fechafin + "' ";
//                        }
//                    }
//
//                    if (holding !== null && holding !== "") {
//                        if (query !== "Where ") {
//                            query = query + "and holding_nombre = '" + holding + "' ";
//                        } else {
//                            query = query + "holding_nombre = '" + holding + "' ";
//                        }
//                    }
//                    if (negocio !== null && negocio !== "") {
//                        if (query !== "Where ") {
//                            query = query + "and negocio_nombre = '" + negocio + "' ";
//                        } else {
//                            query = query + "negocio_nombre = '" + negocio + "' ";
//                        }
//                    }
//                    if (gerencia !== null && gerencia !== "") {
//                        if (query !== "Where ") {
//                            query = query + "and gerencia_nombre = '" + gerencia + "' ";
//                        } else {
//                            query = query + "gerencia_nombre = '" + gerencia + "' ";
//                        }
//                    }
//                    if (area !== null && area !== "") {
//                        if (query !== "Where ") {
//                            query = query + "and area_nombre = '" + area + "' ";
//                        } else {
//                            query = query + "area_nombre = '" + area + "' ";
//                        }
//                    }
                    if (query !== "Where ") {
                        this.getRespuestaQuery(query);
                        console.log(query);
                    } else {
                        this.getRespuestaSinQuery();
                        console.log(query);
                    }
                },
                getQuery(query, parametro, valor) {
                    var consulta = "";
                    if (valor !== 0 && valor !== "") {
                        if (query !== "Where ") {
                            consulta = "and " + parametro + " = '" + valor + "' ";
                        } else {
                            consulta = "" + parametro + "= '" + valor + "' ";
                        }
                    }
                    return consulta;
                },
                getRespuestaQuery(query) {
                    var rta = '@Url.Action("allrtaWithQuery", "RTA")';
                    axios.post(rta,
                        {
                            query: query
                        }).then(response => {
                        this.rta = response.data;
                        console.log("rta");
                        console.log(this.rta);
                        this.getTable();
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getRespuestaSinQuery() {
                    var rta = '@Url.Action("allrta", "RTA")';
                    axios.get(rta).then(response => {
                        this.rta = response.data;
                        console.log("rta");
                        console.log(this.rta);
                        this.getTable();
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getRta(idR) {
                    var url = '@Url.Action("buscarrta", "RTA")';
                    axios.post(url,
                        {
                            id: idR
                        }).then(response => {
                        this.respuesta = response.data;
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                getRtaa() {
                    var rta = '@Url.Action("allrta", "RTA")';
                    axios.get(rta).then(response => {
                        this.rta = response.data;
                        console.log("rta");
                        console.log(this.rta);
                        this.getTable();
                    }).catch(error => {
                        console.log("error: " + error);
                    })
                },
                formatDate(date) {
                    var fecha = date,
                        patron = "/Date(",
                        valor = "",
                        nuevo = fecha.replace(patron, valor),
                        patron2 = ")/",
                        valor2 = "",
                        nuevo2 = nuevo.replace(patron2, valor2);
                    console.log(nuevo2);
                    var int = parseInt(nuevo2);
                    var d = new Date(int);
                    var monthNames = [
                        "Enero", "Febrero", "Marzo",
                        "Abril", "Mayo", "Junio", "Julio",
                        "Agosto", "Septiembre", "Octubre",
                        "Noviembre", "Diciembre"
                    ];
                    var day = d.getDate();
                    var monthIndex = d.getMonth();
                    var year = d.getFullYear();
                    return day + '/' + monthNames[monthIndex] + '/' + year;
                },
                getTable() {

                    $('#tablarta').DataTable().clear().draw();
                    $('#tablarta').DataTable().destroy();
                    var tabla = $('#tablarta').DataTable({
                        language: {
                            "sProcessing": "Procesando...",
                            "sLengthMenu": "Mostrar _MENU_ registros",
                            "sZeroRecords": "No se encontraron resultados",
                            "sEmptyTable": "Ning&uacute;n dato disponible en esta tabla",
                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sSearch": "Buscar:",
                            "sUrl": "",
                            "sInfoThousands": ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst": "Primero",
                                "sLast": "Último",
                                "sNext": "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            }
                        }
                    });
                    var context = this;
                    this.rta.map(function(r) {
                        var etapa_actual = r.etapa_actual;
                        if (etapa_actual === "Etapa 6")
                            etapa_actual = "Cerrado";
                        if (r.responsable_actual===context.usuario_actual) {
                            tabla.row.add([
                                r.id_rta,
                                r.estado,
                                etapa_actual,
                                r.responsable_actual,
                                '<a href="@Url.Action("verRTA", "RTA")/' +
                                r.id_rta +
                                '" target="_blank"><button class="btn btn-outline-primary ml-2" style="border-radius: 50%"><i class="fa fa-eye"></i></button></a>'+
                                '<a class="ml-2" href="@Url.Action("responderRTA", "RTA")/' +
                                r.id_rta + 
                                '"><button class="btn btn-outline-success" style="border-radius: 50%"><i class="fa fa-check"></i></button></a>'
                            ]);
                        } else {
                            tabla.row.add([
                                r.id_rta,
                                r.estado,
                                etapa_actual,
                                r.responsable_actual,
                                '<a href="@Url.Action("verRTA", "RTA")/' +
                                r.id_rta +
                                '" target="_blank"><button class="btn btn-outline-primary ml-2" style="border-radius: 50%"><i class="fa fa-eye"></i></button></a>',
                            ]);
                        }
                });
        tabla.draw();
        }
        }
    })
    </script>
}