<div class="tab-pane" id="preguntas">
	<div class="row ">
		<div class="input-group mb-3 mt-3 justify-content-center">
			

			<div class="col-lg-8" >
				@RenderPage("ModalesPaso3/CuadroNiveles.cshtml")
			</div>

			

		</div>
		
		@RenderPage("ModalesPaso3/CrearNivel.cshtml")
		@RenderPage("ModalesPaso3/CrearSubNivel.cshtml")
		@RenderPage("ModalesPaso3/EditNivel .cshtml")
		@RenderPage("ModalesPaso3/EditSubNivel.cshtml")
	</div>
</div>
