<div class="tab-pane mt-3" id="odt">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="form-group">
                <label for="category">Seleccione una categor&iacute;a</label>
                <select class="form-control" id="category" v-on:change="categoryId">
                    <option v-for="categoria in categorias" :value="categoria.categorias_id">{{ categoria.categorias_nombre }}</option>
                </select>
            </div>
        </div>
        <div class="col-lg-7 align-content-start">
            <div class="form-group">
                <label for="odts_title">T&iacute;tulo</label>
                <input type="text" class="form-control" id="odts_title" name="odts_title" v-model="titulo">
            </div>
            <div class="form-group">
                <label for="odts_description">Descripci&oacute;n</label>
                <input type="text" class="form-control" id="odts_description" name="odts_description" v-model="descripcion">
            </div>
        </div>
    </div>
</div>