<div class="tab-pane mt-3" id="tareas">
	<div class="row justify-content-center">
		
		
		
		
		
		@* Cuadro de tareas seleccionadas *@
			<div class="accordion col-lg-6 justify-content-center mt-5" id="GrupoTareas">
				<div class="card p-0" v-for="tarea in tareasSelect">
					<div class="card-header row p-2" id="headingOne" style="padding: 0px;" >
						<h2 class="mb-0 col-lg-7">
							<button class="btn btn-link btn-block text-left text-decoration-none " type="button" style="background-color: transparent; color: #000000;" data-toggle="collapse" :data-target="'#collapseOne' + tarea.tareas_id" aria-expanded="true" aria-controls="collapseOne">
								{{ tarea.tareas_titulo }}

							</button>
						
						</h2>
					
						<div class="btn-group mr-2 float-right col-lg-2 btn-group-sm mb-2 offset-2" role="group" aria-label="First group">
							<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#editTarea" v-on:click="editarTarea(tarea)"><i class="fa fa-edit"></i></button>
							
						</div>
						
						
					</div>

					<div :id="'collapseOne' + tarea.tareas_id" class="collapse" aria-labelledby="headingOne" data-parent="#GrupoTareas">
						<div class="card-body">
							<table class="table table-hover">
								<tbody>
								<tr v-for="sub in subTareas" v-if="sub.tareas_id === tarea.tareas_id">

									<td class="col">{{ sub.sub_tareas_nombre }}</td>
									<td class="col">
										<div class="btn-group mr-2 float-right btn-group-sm" role="group" aria-label="First group">
											<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#editSubTarea" v-on:click="editarSubTarea(sub)"><i class="fa fa-edit"></i></button>
										</div>
									</td>

								</tr>
							
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		@* Fin Cuadro de tareas seleccionadas *@
		
		@RenderPage("paso2/crearTareaModal.cshtml")
		@RenderPage("paso2/crearSubTareaModal.cshtml")
		@RenderPage("paso2/EditTarea.cshtml")
		@RenderPage("paso2/EditSubTarea.cshtml")
	</div>
</div>

