<meta charset="UTF-8"/>
<div class="tab-pane mt-3" id="descripcion">
    <div class="row mt-5 ">
        <div class="col-lg-12">
            <div class="card-body ml-5">
                <div class="row">

                    <div class="col-lg-3 d-block">&iquest;Cierre inmediato?</div>
                    <div class="col-lg-3 d-block" id="radio">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio0" name="customRadio1" value="1" v-on:change="reload3" class="custom-control-input" required checked="checked">
                            <label class="custom-control-label text-dark" for="customRadio0">Si</label>
                        </div>
                        <div class="custom-control custom-radio" id="no">
                            <input type="radio" id="customRadio01" name="customRadio1" value="0" v-on:change="reload3" class="custom-control-input" required>
                            <label class="custom-control-label text-dark" for="customRadio01">No</label>
                        </div>
                    </div>
                    <div class="form-group col-lg-11">Descripci&oacute;n
                        <textarea class="form-control" id="exampleFormControlTextarea3" v-on:change="Getdescripcion" v-model="GetDescripcion" rows="7" required></textarea>
                    </div>
                    <div class="mr-2  col-lg-11 mt-3">Evidencia
                        <form>
                            <div class="form-group">
                                <input type="file" id="file" name="file" ref="file" class="form-control-file" multiple v-on:change="handleFileUpload">
                            </div>
                            <div class="col-lg-12">
                                <table class="table table-borderless">
                                    <tbody>
                                    <tr v-for="(file, key) in file1">
                                        <td style="width: 80%">
                                            {{ file.name }}
                                        </td>
                                        <td><span class="remove-file text-danger" v-on:click="removeFile( key )">Eliminar</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <div class="large-12 medium-12 small-12 cell">
                                <button type="button" class="btn btn-success" v-on:click="addFiles()"><i class="fa fa-plus fa-lg"></i> Agregar Archivos</button>
                            </div>
                        </form>
                        <input type="file" id="file11" name="fileBase" class="d-none" multiple />
                        
                        
                        
                        @* <form id="ij"> *@
                        @*     <div class="form-group"> *@
                        @*         <input ref="file" multiple type="file" v-on:change="getfile" class="form-control-file1" id="file" name="fileBase" required> *@
                        @*     </div> *@
                        @* </form> *@
                    </div>
                    
                    <input class="d-none" name="cierre" id="cierre" value="1"/>
                    <input class="d-none" name="desc" id="desc"/>
                    <input class="d-none" name="archivo" id="archivo" />

                </div>
            </div>
        </div>
    </div>
    <div class="wizard-footer p-2">
        <div class="float-right pr-2">
            <input type='button' class='btn btn-next btn-fill btn-info btn-wd' name='next' value='Siguiente'/>
            <button type='button' v-on:click="finalizar" class='btn btn-finish btn-fill btn-info btn-wd'  name='finish' >Finalizar</button>
        </div>
        <div class="float-left pl-2">
            <input type='button' class='btn btn-secondary btn-previous btn-fill' name='previous' value='Atras'/>
        </div>
        <div class="clearfix"></div>
    </div>
    
</div>

