<div class="modal fade" id="editSubNivel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="createSubNivel">Modificar Observaci&oacute;n</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="subnivels_code">C&oacute;digo</label>
                    <input required type="text" class="form-control" id="subnivels_code" name="subnivels_code" v-model="sub_niveles_codigo">
                </div>
                <div class="form-group">
                    <label for="subnivels_name">Observaci&oacute;n</label>
                    <input required type="text" class="form-control" id="subnivels_name" name="subnivels_name" v-model="sub_niveles_nombre">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" v-on:click="modificarSubNivel">Guardar Observaci&oacute;n</button>
            </div>
        </div>
    </div>
</div>