<meta charset="UTF-8"/>
<div class="tab-pane" id="etapa3" >
    <div class="row">
        <div class="col-12 p-0">
            <div class="card-body justify-content-center">
                <div class="accordion" id="accordionExample2">
                    <div class="card p-0">
                        <div class="card-header" id="heading1">
                            <h6 class="mb-0 p-0" style="font-size: initial;box-shadow: none; border-color: transparent; ">
                                <button class="btn-link btn-block text-left text-decoration-none p-0" type="button" style="box-shadow: none; border-color: transparent; background-color: transparent; color: #000000;" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                    Metodolog&iacute;a de investigaci&oacute;n y an&aacute;lisis
                                </button>
                            </h6>
                        </div>
                        <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionExample2">
                            <div class="card-body">
                                <div class="row mt-3" id="met">
                                    <div class="col-lg-3 mt-1 p-0 ml-5">Metodolog&iacute;a de investigaci&oacute;n</div>
                                    <div class="col-lg-7 p-0">
                                        <select v-on:change="GetMetodologia('metodologia')"class="custom-select" id="metodologia" required>
                                            <option id="metodologia0">Seleccione nivel de metodologia...</option>
                                            <option id="M&eacute;todo de los por qu&eacute;?">M&eacute;todo de los por qu&eacute;?</option>
                                            <option id="&Aacute;rbol de causas">&Aacute;rbol de causas</option>
                                            <option id="Espina de pescado">Espina de pescado</option>
                                        </select>
                                    </div>
                                </div>
                                @* RESPUESTA ETAPA 3 *@
                                <div class="row mt-3 d-none" id="met2">
                                    <div class="col-lg-3 mt-1 p-0 ml-5">Metodolog&iacute;a de investigaci&oacute;n</div>
                                    <div class="col-lg-7 p-0">
                                        <div class="form-group is-empty mt-0">
                                            <input disabled type="text" class="form-control" id="met3" required/>
                                        </div>
                                    </div>
                                </div>
                                @* RESPUESTA ETAPA 3 *@
                                <div class="row mt-3">
                                    <div class="col-lg-3 mt-1 p-0 ml-5">An&aacute;lisis</div>
                                    <div class="col-lg-7 p-0">
                                        <div class="form-group is-empty mt-0">
                                            <input id="analisis" type="text" class="form-control" v-model="analisis1" required/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card p-0">
                        <div class="card-header" id="heading2">
                            <h6 class="mb-0 p-0" style="font-size: initial;box-shadow: none; border-color: transparent; ">
                                <button class="btn-link btn-block text-left text-decoration-none p-0" type="button" style="box-shadow: none; border-color: transparent; background-color: transparent; color: #000000;" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                    Causas inmediatas
                                </button>
                            </h6>
                        </div>
                        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample2">
                            <div class="card-body">
                                <div class="row mt-3">
                                    <div class="col-lg-6" id="ingresar_causa_inmediata">
                                        <div class="row mt-3" id="cinm">
                                            <div class="col-lg-3 mt-1 p-0 ml-5">Causa inmediata</div>
                                            <div class="col-lg-7 p-0" id="radio2">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="customRadio111" name="customRadio1" value="1" class="custom-control-input" v-on:change="reload2" required>
                                                    <label class="custom-control-label text-dark" for="customRadio111">Acto inseguro</label>
                                                </div>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="customRadio211" name="customRadio1" value="0" class="custom-control-input" v-on:change="reload2" required>
                                                    <label class="custom-control-label text-dark" for="customRadio211">Condici&oacute;n insegura</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-3 d-none" id="acto">
                                            <div class="col-lg-2 mt-1 p-0 ml-5">Actos inseguros</div>
                                            <div class="col-lg-7 offset-1 p-0">
                                                <select class="custom-select" id="actos" required>
                                                    <option id="Actos0">Seleccione un Acto inseguro...</option>
                                                    <option id="Alimentar o suministrar muy r&aacute;pidamente o lentamente">Alimentar o suministrar muy r&aacute;pidamente o lentamente</option>
                                                    <option id="Bloquear/tapar/atar el dispositivo de seguridad/se&ntilde;al/tarjeta de advertencia">Bloquear/tapar/atar el dispositivo de seguridad/se&ntilde;al/tarjeta de advertencia</option>
                                                    <option id="Bromas">Bromas</option>
                                                    <option id="Carga y/o posicionamiento inadecuados">Carga y/o posicionamiento inadecuados</option>
                                                    <option id="Colocar mal el dispositivo de seguridad/se&ntilde;al/tarjeta de advertencia">Colocar mal el dispositivo de seguridad/se&ntilde;al/tarjeta de advertencia</option>
                                                    <option id="Desatenci&oacute;n a las condiciones del trabajo">Desatenci&oacute;n a las condiciones del trabajo</option>
                                                    <option id="Desconectar o quitar el dispositivo de seguridad/se&ntilde;al/tarjeta de advertencia">Desconectar o quitar el dispositivo de seguridad/se&ntilde;al/tarjeta de advertencia</option>
                                                    <option id="Ejecuci&oacute;n incorrecta de est&aacute;ndar">Ejecuci&oacute;n incorrecta de est&aacute;ndar</option>
                                                    <option id="Entre tanques/cajones u otros espacios encerrados sin el debido permiso del supervisor">Entre tanques/cajones u otros espacios encerrados sin el debido permiso del supervisor</option>
                                                    <option id="Estar bajo la influencia de alcohol/drogas">Estar bajo la influencia de alcohol/drogas</option>
                                                    <option id="Exponerse innecesariamente a materiales/equipos que se mueven">Exponerse innecesariamente a materiales/equipos que se mueven</option>
                                                    <option id="Exponerse innecesariamente bajo carga suspendida">Exponerse innecesariamente bajo carga suspendida</option>
                                                    <option id="Incorrecto transporte manual de cargas">Incorrecto transporte manual de cargas</option>
                                                    <option id="Iniciar o parar veh&iacute;culo/equipo sin dar aviso adecuado">Iniciar o parar veh&iacute;culo/equipo sin dar aviso adecuado</option>
                                                    <option id="Izaje y/o levantamiento inapropiado">Izaje y/o levantamiento inapropiado</option>
                                                    <option id="Lanzar un material/herramienta en lugar de cargarlo o pasarlo">Lanzar un material/herramienta en lugar de cargarlo o pasarlo</option>
                                                    <option id="Mal estibaje de la carga para el traslado">Mal estibaje de la carga para el traslado</option>
                                                    <option id="No advertir o no asegurarse">No advertir o no asegurarse</option>
                                                    <option id="No cerrar/bloquear/asegurar veh&iacute;culo/v&aacute;lvula/prensa/otras herramientas">No cerrar/bloquear/asegurar veh&iacute;culo/v&aacute;lvula/prensa/otras herramientas</option>
                                                    <option id="No usar adecuadamente el equipo de protecci&oacute;n personal">No usar adecuadamente el equipo de protecci&oacute;n personal</option>
                                                    <option id="No utilizar el equipo de protecci&oacute;n personal">No utilizar el equipo de protecci&oacute;n personal</option>
                                                    <option id="Omitir el cierre del equipo que no est&aacute; en uso">Omitir el cierre del equipo que no est&aacute; en uso</option>
                                                    <option id="Omitir la colocaci&oacute;n de aviso/se&ntilde;al/tarjeta">Omitir la colocaci&oacute;n de aviso/se&ntilde;al/tarjeta</option>
                                                    <option id="Operar o manejar a velocidad inadecuada">Operar o manejar a velocidad inadecuada</option>
                                                    <option id="Operar veh&iacute;culo de la planta a velocidad insegura">Operar veh&iacute;culo de la planta a velocidad insegura</option>
                                                    <option id="Posici&oacute;n inadecuada para el trabajo en ejecuci&oacute;n">Posici&oacute;n inadecuada para el trabajo en ejecuci&oacute;n</option>
                                                    <option id="Realizar servicio a herramienta/equipo en operaci&oacute;n">Realizar servicio a herramienta/equipo en operaci&oacute;n</option>
                                                    <option id="Recargar de pesos(veh&iacute;culo/andamio)">Recargar de pesos(veh&iacute;culo/andamio)</option>
                                                    <option id="Reemplazar el dispositivo de seguridad por otro de capacidad inapropiada">Reemplazar el dispositivo de seguridad por otro de capacidad inapropiada</option>
                                                    <option id="Retirar o pasar por alto un dispositivo de seguridad/se&ntilde;al/tarjeta de advertencia">Retirar o pasar por alto un dispositivo de seguridad/se&ntilde;al/tarjeta de advertencia</option>
                                                    <option id="Saltar desde partes en movimiento">Saltar desde partes en movimiento</option>
                                                    <option id="Usar instalaci&oacute;n/herramienta/equipo/material defectuoso">Usar instalaci&oacute;n/herramienta/equipo/material defectuoso</option>
                                                    <option id="Usar instalaci&oacute;n/herramienta/equipo/material inadecuado">Usar instalaci&oacute;n/herramienta/equipo/material inadecuado</option>
                                                    <option id="Uso del material, herramienta o equipo de una manera para la cual no est&aacute; dise&ntilde;ado">Uso del material, herramienta o equipo de una manera para la cual no est&aacute; dise&ntilde;ado</option>
                                                    <option id="Utilizar equipo de protecci&oacute;n personal defectuoso">Utilizar equipo de protecci&oacute;n personal defectuoso</option>
                                                    <option id="Utilizar instalaci&oacute;n/herramienta/equipo/material sin autorizaci&oacute;n">Utilizar instalaci&oacute;n/herramienta/equipo/material sin autorizaci&oacute;n</option>
                                                    <option id="Viajar en posici&oacute;n insegura">Viajar en posici&oacute;n insegura</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mt-3 d-none" id="cond">
                                            <div class="col-lg-3 mt-1 p-0 ml-5">Condiciones inseguras</div>
                                            <div class="col-lg-7 p-0">
                                                <select class="custom-select" id="condiciones" required>
                                                    <option id="Condiciones0">Seleccione una Condicion insegura...</option>
                                                    <option id="Acceso dif&iacute;cil y/o restringido">Acceso dif&iacute;cil y/o restringido</option>
                                                    <option id="Bajo nivel de iluminaci&oacute;n">Bajo nivel de iluminaci&oacute;n</option>
                                                    <option id="Calle/ruta/camino en mal estado/intransitable">Calle/ruta/camino en mal estado/intransitable</option>
                                                    <option id="Conexi&oacute;n/interruptor descubierto">Conexi&oacute;n/interruptor descubierto</option>
                                                    <option id="Desorden">Desorden</option>
                                                    <option id="Equipo de primeros auxilios/respuesta a emergencia inexistentes/escasos/no funcionales">Equipo de primeros auxilios/respuesta a emergencia inexistentes/escasos/no funcionales</option>
                                                    <option id="Equipo de protecci&oacute;n inadecuado">Equipo de protecci&oacute;n inadecuado</option>
                                                    <option id="Exposici&oacute;n a la radiaci&oacute;n">Exposici&oacute;n a la radiaci&oacute;n</option>
                                                    <option id="Exposici&oacute;n a temperaturas extremas">Exposici&oacute;n a temperaturas extremas</option>
                                                    <option id="Exposici&oacute;n a vibraciones">Exposici&oacute;n a vibraciones</option>
                                                    <option id="Falla en el suministro de energ&iacute;a/materia prima">Falla en el suministro de energ&iacute;a/materia prima</option>
                                                    <option id="Guarda/barrera inadecuada">Guarda/barrera inadecuada</option>
                                                    <option id="Iluminaci&oacute;n excesiva/deficiente/inadecuada para la tarea">Iluminaci&oacute;n excesiva/deficiente/inadecuada para la tarea</option>
                                                    <option id="Instalaci&oacute;n/herramienta/equipo y/o material inadecuado">Instalaci&oacute;n/herramienta/equipo y/o material inadecuado</option>
                                                    <option id="Instalaci&oacute;n/herramienta/equipo/material defectuoso">Instalaci&oacute;n/herramienta/equipo/material defectuoso</option>
                                                    <option id="Interruptores inexistentes">Interruptores inexistentes</option>
                                                    <option id="Material/producto sin etiqueta de identificaci&oacute;n o inadecuadamente rotulado">Material/producto sin etiqueta de identificaci&oacute;n o inadecuadamente rotulado</option>
                                                    <option id="Pasillo de circulaci&oacute;n inadecuado/obstru&iacute;do">Pasillo de circulaci&oacute;n inadecuado/obstru&iacute;do</option>
                                                    <option id="Peligro de incendio/explosi&oacute;n">Peligro de incendio/explosi&oacute;n</option>
                                                    <option id="Plano de trabajo a inadecuada altura">Plano de trabajo a inadecuada altura</option>
                                                    <option id="Presencia de agentes qu&iacute;micos">Presencia de agentes qu&iacute;micos</option>
                                                    <option id="Presencia de material particulado en el ambiente">Presencia de material particulado en el ambiente</option>
                                                    <option id="Ruido excesivo">Ruido excesivo</option>
                                                    <option id="Sin aislamiento">Sin aislamiento</option>
                                                    <option id="Sin conexi&oacute;n a tierra">Sin conexi&oacute;n a tierra</option>
                                                    <option id="Sistema de advertencia defectuoso">Sistema de advertencia defectuoso</option>
                                                    <option id="Sistema de advertencia inadecuado o poco apropiada para la actividad">Sistema de advertencia inadecuado o poco apropiada para la actividad</option>
                                                    <option id="Ventilaci&oacute;n/ extracci&oacute;n inadecuada">Ventilaci&oacute;n/ extracci&oacute;n inadecuada</option>
                                                    <option id="Visi&oacute;n obstru&iacute;da">Visi&oacute;n obstru&iacute;da</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mt-3 d-none" id="descripcion_causa">
                                            <div class="col-lg-3 mt-1 p-0 ml-5">Descripci&oacute;n de la causa</div>
                                            <div class="col-lg-7 p-0">
                                                <div class="form-group is-empty mt-0">
                                                    <textarea id="descripcion_causa1" class="form-control text" rows="3" v-model="descripcion_causa" required> </textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-lg-11 offset-1 mt-3">
                                                <button type="button" v-on:click="AgregarCausa" class="btn btn-outline-success btn-block"><a class="fa fa-plus"></a></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6" id="listar_causa_inmediata">
                                        <h6 class="text-center">Causas inmediatas </h6>
                                        <hr/>
                                        <table class="table table-borderless">
                                            <tbody v-for="(ci, index) in causa_inmediata">
                                            <tr >
                                                <td>{{ci.Causa}}</td>
                                                <td>{{ci.tipo}}</td>
                                                <td>
                                                    <span v-on:click="EliminarCausas(index)" class="text-danger">Eliminar</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    @* RESPUESTA ETAPA 3 *@
                                    <div class="col-lg-12 d-none" id="listar_causa_inmediata2">
                                        <h6 class="text-center" style="font-weight: bold">Causas inmediatas </h6>
                                        <hr/>
                                        <table class="table table-borderless">
                                            <thead>
                                            <tr>
                                                <th>Causa</th>
                                                <th style="width: 150px;">Tipo de causa</th>
                                                <th>Descripci&oacute;n</th>
                                            </tr>
                                            </thead>
                                            <tbody v-for="(ci, index) in causa_inmediata">
                                            <tr >
                                                <td>{{ci.Causa}}</td>
                                                <td>{{ci.tipo}}</td>
                                                <td>{{ci.descripcion}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    @* RESPUESTA ETAPA 3 *@
                                </div>
                                    
                                
                                    
                            </div>
                        </div>
                    </div>
                    
                    <div class="card p-0">
                        <div class="card-header" id="heading3">
                            <h6 class="mb-0 p-0" style="font-size: initial;box-shadow: none; border-color: transparent; ">
                                <button class="btn-link btn-block text-left text-decoration-none p-0" type="button" style="box-shadow: none; border-color: transparent; background-color: transparent; color: #000000;" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                    Causas b&aacute;sicas
                                </button>
                            </h6>
                        </div>
                        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample2">
                            <div class="card-body">
                                <div class="row mt-3">
                                    <div class="col-lg-6" id="ingresar_causa_basica">
                                        <div class="row mt-3" id="basic">
                                            <div class="col-lg-2 mt-1 p-0 ml-5">Tipo de causas b&aacute;sicas</div>
                                            <div class="col-lg-7 offset-1 p-0">
                                                <select class="custom-select" id="basicas" v-on:change="causas_basicas_select('basicas')" required>
                                                    <option id="Tipob0">Seleccione tipo de causa...</option>
                                                    <option id="Capacitaci&oacute;n/ Entrenamiento">Capacitaci&oacute;n/ Entrenamiento</option>
                                                    <option id="Comunicaci&oacute;n">Comunicaci&oacute;n</option>
                                                    <option id="Disciplina Operativa">Disciplina Operativa</option>
                                                    <option id="Supervisi&oacute;n/Liderazgo">Supervisi&oacute;n/Liderazgo</option>
                                                    <option id="Integridad Mec&aacute;nica">Integridad Mec&aacute;nica</option>
                                                    <option id="Evaluaci&oacute;n y Gesti&oacute;n de Riesgos">Evaluaci&oacute;n y Gesti&oacute;n de Riesgos</option>
                                                    <option id="Gesti&oacute;n de adquisici&oacute;n de Bienes o Servicio">Gesti&oacute;n de adquisici&oacute;n de Bienes o Servicio</option>
                                                    <option id="Gesti&oacute;n de Cambios">Gesti&oacute;n de Cambios</option>
                                                    <option id="Factores Psicof&iacute;sicos">Factores Psicof&iacute;sicos</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mt-3" id="caba">
                                            <div class="col-lg-2 mt-1 p-0 ml-5">Causa</div>
                                            <div class="col-lg-7 offset-1 p-0">
                                                <select class="custom-select" id="causab" required>
                                                    <option id="Causab0">Seleccione una causa...</option>
                                                    <option v-for="cb in cbs" id="cb1">{{cb.nombre}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mt-3" id="descripcion_causab">
                                            <div class="col-lg-3 mt-1 p-0 ml-5">Descripci&oacute;n de la causa</div>
                                            <div class="col-lg-7 p-0">
                                                <div class="form-group is-empty mt-0">
                                                    <textarea id="descripcion_causab1" class="form-control text" rows="3" v-model="descripcion_causab" required> </textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-lg-11 offset-1 mt-3">
                                                <button type="button" v-on:click="AgregarCausab" class="btn btn-outline-success btn-block"><a class="fa fa-plus"></a></button>
                                            </div>
                                        </div>
                                    
                                    </div>
                                    <div class="col-lg-6" id="listar_causa_basica">
                                        <h6 class="text-center">Causas b&aacute;sicas </h6>
                                        <hr/>
                                        <table class="table table-borderless">
                                            
                                            <tbody v-for="(cb, index) in causa_basica">
                                            <tr >
                                                <td>{{cb.Causa}}</td>
                                                <td>{{cb.Tipo_causa_basica}}</td>
                                                <td>
                                                    <span v-on:click="EliminarCausasb(index)" class="text-danger">Eliminar</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                    @* RESPUESTA ETAPA 3 *@
                                    <div class="col-lg-12 d-none" id="listar_causa_basica2">
                                        <h6 class="text-center" style="font-weight: bold">Causas b&aacute;sicas </h6>
                                        <hr/>
                                        <table class="table table-borderless">
                                            <thead>
                                                <tr>
                                                    <th>Causa</th>
                                                    <th style="width: 150px;">Tipo de causa</th>
                                                    <th>Descripci&oacute;n</th>
                                                </tr>
                                            </thead>
                                            <tbody v-for="(cb, index) in causa_basica">
                                            <tr >
                                                <td>{{cb.Causa}}</td>
                                                <td>{{cb.Tipo_causa_basica}}</td>
                                                <td>{{cb.Descripcion}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    @* RESPUESTA ETAPA 3 *@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card p-0">
                        <div class="card-header" id="heading4">
                            <h6 class="mb-0 p-0" style="font-size: initial;box-shadow: none; border-color: transparent; ">
                                <button class="btn-link btn-block text-left text-decoration-none p-0" type="button" style="box-shadow: none; border-color: transparent; background-color: transparent; color: #000000;" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                                    Evidencia
                                </button>
                            </h6>
                        </div>
                        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample2">
                            <div class="card-body">
                                <div class="col-lg-11 mt-3 ml-3" id="evidencia3">Evidencia
                                    <form id="formevidencia3">
                                        <div class="form-group">
                                            <input type="file" id="file" name="file" ref="file" class="form-control-file" multiple v-on:change="handleFileUpload" required>
                                        </div>
                                        <div class="col-lg-12">
                                            <table class="table table-borderless">
                                                <tbody>
                                                <tr v-for="(file, key) in file1">
                                                    <td style="width: 80%">
                                                        {{ file.name }}
                                                    </td>
                                                    <td><span class="remove-file text-danger" v-on:click="removeFile( key )">Eliminar</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <br>
                                        <div class="large-12 medium-12 small-12 cell">
                                            <button type="button" class="btn btn-success" v-on:click="addFiles()"><i class="fa fa-plus fa-lg"></i> Agregar Archivos</button>
                                        </div>
                                    </form>
                                    <input type="file" id="file11" name="fileBase" class="d-none" multiple/>
                                </div>
                                <div class="col-lg-12 mt-3 d-none" id="descargar3" style="font-weight: bold">Descargar evidencia:</div>
                                <table class="table d-none" id="tabledescargar3">
                                    <thead>
                                    <tr><th>Archivo</th> <th>Descargar</th></tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="file in files3">
                                        <td style="width: 80%">{{ file.nombre_archivo }}</td>
                                        <td><a :href="'@Url.Action("downloadRTA","RTA")/' + file.id_archivo"><button class="btn btn-outline-primary"><i class="fa fa-download fa-lg"></i></button></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                <div class="card p-0">
                    <div class="card-header" id="heading5">
                        <h6 class="mb-0 p-0" style="font-size: initial;box-shadow: none; border-color: transparent; ">
                            <button class="btn-link btn-block text-left text-decoration-none p-0" type="button" style="box-shadow: none; border-color: transparent; background-color: transparent; color: #000000;" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                                Acciones correctivas/preventivas
                            </button>
                        </h6>
                    </div>
                    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample2">
                        <div class="card-body">
                            <div id="ing_accion_corr_prev">
                            <div class="row mt-1" id="responsable_accion">
                                <div class="col-lg-3 mt-1 p-0 ml-5">Responsable acci&oacute;n</div>
                                <div class="col-lg-8 p-0">
                                    <input
                                        list="observado"
                                        v-on:change="Getresponsable_Accion"
                                        autocomplete="off"
                                        required
                                        id="res"
                                        name="observado"
                                        class="form-group form-control m-0"
                                        placeholder="Seleccione un responsable..."/>
                                    <datalist id="responsable">
                                        <option class="align-items-start" v-for="user in users" :data-id="user.Id" :id="user.Id" :value="user.UserName"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-3 mt-1 p-0 ml-5">Acci&oacute;n a realizar</div>
                                <div class="col-lg-3 p-0">
                                    <div class="form-group is-empty mt-0">
                                        <input id="accion" type="text" class="form-control" v-model="accion" required/>
                                    </div>
                                </div>
                                <div class="col-lg-2 mt-1">Tipo de acci&oacute;n</div>
                                <div class="col-lg-3 p-0">
                                    <select class="custom-select" id="tipo_accion" required>
                                        <option id="tipo_accion0">Seleccione tipo de accio&oacute;n...</option>
                                        <option id="correctiva">Correctiva</option>
                                        <option id="preventiva">Preventiva</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-3 mt-1 p-0 ml-5">Fecha</div>
                                <div class="col-lg-3 p-0">
                                    <select v-on:change="getCumplimiento('id_cum')" class="custom-select" id="id_cum" required>
                                        <option id="0">Seleccione plazo de cumplimiento...</option>
                                        <option id="3">3 D&iacute;as</option>
                                        <option id="15">15 D&iacute;as</option>
                                        <option id="30">30 D&iacute;as</option>
                                    </select>
                                </div>
                                <div class="col-lg-2 mt-1">Tipo de evidencia</div>
                                <div class="col-lg-3 p-0">
                                    <div class="form-group is-empty mt-0">
                                        <input id="tipo_archivo" type="text" class="form-control" v-model="tipo_evidencia" required/>
                                    </div>
                                </div>

                            </div>
                                <div class="row mt-3">
                                    <div class="col-lg-10 offset-1 mt-3">
                                        <button type="button" v-on:click="agregar_Accion" class="btn btn-outline-success btn-block"><a class="fa fa-plus"></a></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-3" id="tb_accion_corr_prev">
                                <table class="table table-borderless">

                                    <tr >
                                        <thead>
                                        <th>Tipo de acci&oacute;n</th>
                                        <th>Acci&oacute;n</th>
                                        <th>Responsable</th>
                                        <th>Fecha de cumplimiento</th>
                                        <th>Tipo de evidencia</th>
                                        </thead>
                                    </tr>
                                    <tbody v-for="(cp, index) in accion_corr_prev">
                                    <td>{{cp.tipo_accion}}</td>
                                    <td>{{cp.accion}}</td>
                                    <td>{{cp.responsable_nombre}}</td>
                                    <td>{{cp.fecha_cumplimiento}}</td>
                                    <td>{{cp.tipo_evidencia}}</td>
                                    <td><span v-on:click="EliminarCausasb(index)" class="text-danger">Eliminar</span></td>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-12 mt-3 d-none" id="tb_accion_corr_prev1">
                                <table  class="table table-borderless">
                                    <tr >
                                        <thead>
                                        <th style="width: 40px">Tipo de acci&oacute;n</th>
                                        <th>Acci&oacute;n</th>
                                        <th>Responsable</th>
                                        <th style="width: 40px">Fecha de cumplimiento</th>
                                        <th>Tipo de evidencia</th>
                                        <th style="width: 40px">Aprobar</th>
                                        <th style="width: 40px">Rechazar</th>
                                        </thead>
                                    </tr>
                                    <tbody id="tabla_corr_prev">
                                    <tr v-for="(a, index) in array">
                                        <td>{{a.tipo_accion}}</td>
                                        <td>{{a.accion}}</td>
                                        <td>{{a.responsable_nombre}}</td>
                                        <td>{{a.fecha_cumplimiento}}</td>
                                        <td>{{a.tipo_evidencia}}</td>
                                        <td><a target="_blank"><button :id="'btn_aprobar_pa' + a.id_accion" v-on:click="aprobar_pa(a, index)" class="btn btn-outline-success">Aprobado</button></a></td>
                                        <td><a target="_blank"><button :id="'btn_rechazar_pa' + a.id_accion" v-on:click="rechazar_pa(a, index)" class="btn btn-outline-danger">Rechazado</button></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card p-0">
                        <div class="card-header" id="heading6">
                            <h6 class="mb-0 p-0" style="font-size: initial;box-shadow: none; border-color: transparent; ">
                                <button class="btn-link btn-block text-left text-decoration-none p-0" type="button" style="box-shadow: none; border-color: transparent; background-color: transparent; color: #000000;" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                                    Responsable etapa 4
                                </button>
                            </h6>
                        </div>
                        <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample2">
                            <div class="card-body">
                                <div class="row mt-1" id="responsablee4">
                                    <div class="col-lg-3 mt-1 p-0 ml-5">Responsable </div>
                                    <div class="col-lg-7 p-0">
                                        <input
                                            list="observado"
                                            v-on:change="GetResponsable4"
                                            autocomplete="off"
                                            required
                                            id="res4"
                                            name="observado"
                                            class="form-group form-control m-0"
                                            placeholder="Seleccione un responsable..." />
                                        <datalist id="responsable44">
                                            <option class="align-items-start" v-for="user in users" :data-id="user.Id" :id="user.Id" :value="user.UserName"></option>
                                        </datalist>
                                    </div>
                                </div>
                                @* RESPUESTA ETAPA 3 *@
                                <div class="row mt-3 d-none" id="responsable4_2">
                                    <div class="col-lg-3 mt-1 p-0 ml-5">Responsable</div>
                                    <div class="col-lg-7 p-0">
                                        <div class="form-group is-empty mt-0">
                                            <input disabled type="text" class="form-control" id="responsable4_22" required/>
                                        </div>
                                    </div>
                                </div>
                                @* RESPUESTA ETAPA 3 *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
<div v-if="titulo === 'Aprobaci\xf3n'" class="card-body justify-content-center" id="textorojo">
    <h6 style="color: red" class="text-center">Por favor revisar etapa de an&aacute;lisis para aprobar o rechazar</h6>
    <h6 style="color: red" class="text-center" id="debe_aprobar">Debe aprobar al menos un plan de acci&oacute;n en an&aacute;lisis</h6>
</div>
<div v-if="titulo === 'Aprobaci\xf3n'" class="row mt-2" id="botones" >
    <div class="col-lg-3 offset-5 p-0">
        <button type="button" class="btn btn-outline-success" v-on:click="Aprobacion('btn_aprobar')" id="btn_aprobar">APROBAR</button>
        <button type="button" class="btn btn-outline-danger ml-3" v-on:click="Aprobacion('btn_rechazar')" id="btn_rechazar">RECHAZAR</button>
    </div>
</div>



    <div class="wizard-footer p-2">
        <h6 style="color: red" class="text-center d-none" id="debellenar3">Debe responder todos los campos antes de finalizar</h6>
        <div class="float-right pr-2">
            <button type='button' v-on:click="finalizar3" id="finalizar3" class='btn btn-fill btn-info btn-wd' name='finish' >Finalizar Etapa</button>
            <button type='button' class='btn btn-next btn-info btn-wd d-none' id="next3333"  name='next'  >Siguiente</button>
        </div>
        <div class="float-left pl-2">
            <button type='button' class='btn btn-secondary btn-previous btn-wd' name='previous'>Anterior</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>