<meta charset="UTF-8"/>
<div class="tab-pane" id="etapa2" >
    <div class="row">
        <div class="col-12 p-0">
            <div class="card-body justify-content-center">
                <div v-if="etapa1.medio_ambiente===1" class="row mt-3" id="gravedad1">
                    <div class="col-lg-3 mt-1 p-0 ml-5">Medio ambiente</div>
                    <div class="col-lg-7 p-0">
                        <input disabled id="medio_ambiente_vg" type="text" class="form-control d-none" v-model="medio_ambiente_gravedad" required/>
                        <select v-on:change="GetGrav('ma_g')" class="custom-select" id="ma_g" required>
                            <option id="ma0">Seleccione nivel de gravedad...</option>
                            <option id="0- Desv&iacute;os no clasificables como sist&eacute;micos o cr&iacute;ticos">0- Desv&iacute;os no clasificables como sist&eacute;micos o cr&iacute;ticos</option>
                            <option id="0- Incidentes no clasificables como sist&eacute;micos o de alto potencial">0- Incidentes no clasificables como sist&eacute;micos o de alto potencial</option>
                            <option id="1- Desv&iacute;os sist&eacute;micos">1- Desv&iacute;os sist&eacute;micos</option>
                            <option id="1- Incidentes sist&eacute;micos">1- Incidentes sist&eacute;micos</option>
                            <option id="2- Anomal&iacute;a con impacto MENOR en el medio ambiente">2- Anomal&iacute;a con impacto MENOR en el medio ambiente</option>
                            <option id="2- Desv&iacute;os cr&iacute;ticos">2- Desv&iacute;os cr&iacute;ticos</option>
                            <option id="2- Incidentes de alto potencial">2- Incidentes de alto potencial</option>
                            <option id="3- Anomal&iacute;a con impacto MEDIO en el medio ambiente">3- Anomal&iacute;a con impacto MEDIO en el medio ambiente</option>
                            <option id="4- Anomal&iacute;a con impacto MAYOR en el medio ambiente">4- Anomal&iacute;a con impacto MAYOR en el medio ambiente</option>
                        </select>
                    </div>
                </div>
                <div v-if="etapa1.patrimonio===1" class="row mt-3" id="gravedad2">
                    <div class="col-lg-3 mt-1 p-0 ml-5">Patrimonio</div>
                    <div class="col-lg-7 p-0">
                        <input disabled id="patrimonio_vg" type="text" class="form-control d-none" v-model="patrimonio_gravedad" required/>
                        <select v-on:change="GetGrav('pa_g')" class="custom-select" id="pa_g" required>
                            <option id="pt0">Seleccione nivel de gravedad...</option>
                            <option id="0- Desv&iacute;os no clasificables como sist&eacute;micos o cr&iacute;ticos">0- Desv&iacute;os no clasificables como sist&eacute;micos o cr&iacute;ticos</option>
                            <option id="0- Incidentes no clasificables como sist&eacute;micos o de alto potencial">0- Incidentes no clasificables como sist&eacute;micos o de alto potencial</option>
                            <option id="1- Da&ntilde;os m&aacute;s de 2 mil hasta 25 mil d&oacute;lares">1- Da&ntilde;os m&aacute;s de 2 mil hasta 25 mil d&oacute;lares</option>
                            <option id="1- Desv&iacute;os sist&eacute;micos">1- Desv&iacute;os sist&eacute;micos</option>
                            <option id="1- Incidentes sist&eacute;micos">1- Incidentes sist&eacute;micos</option>
                            <option id="2- Da&ntilde;os m&aacute;s de 25 mil hasta 500 mil d&oacute;lares">2- Da&ntilde;os m&aacute;s de 25 mil hasta 500 mil d&oacute;lares</option>
                            <option id="2- Desv&iacute;os cr&iacute;ticos, Patrimonio - 2-Incidentes de alto potencial">2- Desv&iacute;os cr&iacute;ticos, Patrimonio - 2-Incidentes de alto potencial</option>
                            <option id="3- Da&ntilde;os m&aacute;s de 500 mil hasta 2 millones de d&oacute;lares">3- Da&ntilde;os m&aacute;s de 500 mil hasta 2 millones de d&oacute;lares</option>
                            <option id="4- Da&ntilde;os m&aacute;s de 2 millones de d&oacute;lares">4- Da&ntilde;os m&aacute;s de 2 millones de d&oacute;lares</option>
                        </select>
                    </div>
                </div>
                <div v-if="etapa1.procesos_productos===1" class="row mt-3" id="gravedad3">
                    <div class="col-lg-3 mt-1 p-0 ml-5">Procesos/Productos</div>
                    <div class="col-lg-7 p-0">
                        <input disabled id="procesos_productos_vg" type="text" class="form-control d-none" v-model="procesos_productos_gravedad" required/>
                        <select v-on:change="GetGrav('pp_g')" class="custom-select" id="pp_g" required>
                            <option id="pp0">Seleccione nivel de gravedad...</option>
                            <option id="0- Lucro cesante hasta 2 mil d&oacute;lares">0- Lucro cesante hasta 2 mil d&oacute;lares</option>
                            <option id="0- Manifestaci&oacute;n de cliente no clasificable como reclamo sist&eacute;mico o cr&iacute;tico">0- Manifestaci&oacute;n de cliente no clasificable como reclamo sist&eacute;mico o cr&iacute;tico</option>
                            <option id="0- Observaci&oacute;n no clasificable como sist&eacute;mica">0- Observaci&oacute;n no clasificable como sist&eacute;mica</option>
                            <option id="0- Producto rechazado por el cliente hasta 2 mil d&oacute;lares">0- Producto rechazado por el cliente hasta 2 mil d&oacute;lares</option>
                            <option id="1- Lucro cesante m&aacute;s de 2 mil y hasta 25 mil d&oacute;lares">1- Lucro cesante m&aacute;s de 2 mil y hasta 25 mil d&oacute;lares</option>
                            <option id="1- Manifestaci&oacute;n de cliente reclamo sist&eacute;mico o cr&iacute;tico">1- Manifestaci&oacute;n de cliente reclamo sist&eacute;mico o cr&iacute;tico</option>
                            <option id="1- Observaci&oacute;n sist&eacute;mica">1- Observaci&oacute;n sist&eacute;mica</option>
                            <option id="1- Producto rechazado por el cliente m&aacute;s de 2 mil y hasta 25 mil d&oacute;lares">1- Producto rechazado por el cliente m&aacute;s de 2 mil y hasta 25 mil d&oacute;lares</option>
                            <option id="2- Lucro cesante mas de 25 mil y hasta 500 mil d&oacute;lares">2- Lucro cesante mas de 25 mil y hasta 500 mil d&oacute;lares</option>
                            <option id="2- Manifestaci&oacute;n de cliente reclamo con p&eacute;rdida en el n&iacute;vel de satisfacci&oacute;n y/o p&eacute;rdida de ventas puntuales">2- Manifestaci&oacute;n de cliente reclamo con p&eacute;rdida en el n&iacute;vel de satisfacci&oacute;n y/o p&eacute;rdida de ventas puntuales</option>
                            <option id="2- No conformidad">2- No conformidad</option>
                            <option id="2- Producto rechazado por el cliente m&aacute;s de 25 mil y hasta 500 mil d&oacute;lares">2- Producto rechazado por el cliente m&aacute;s de 25 mil y hasta 500 mil d&oacute;lares</option>
                            <option id="3- Lucro cesante m&aacute;s de 500mil y a 2 millones de d&oacute;lares">3- Lucro cesante m&aacute;s de 500mil y a 2 millones de d&oacute;lares</option>
                            <option id="3- Manifestaci&oacute;n de cliente reclamo con cancelaci&oacute;n de un contrato y/o acciones legales de cliente">3- Manifestaci&oacute;n de cliente reclamo con cancelaci&oacute;n de un contrato y/o acciones legales de cliente</option>
                            <option id="3- Producto rechazado por el cliente m&aacute;s de500 mil y a 2 millones de d&oacute;lares">3- Producto rechazado por el cliente m&aacute;s de500 mil y a 2 millones de d&oacute;lares</option>
                            <option id="4- Lucro cesante m&aacute;s de 2 millones de d&oacute;lares">4- Lucro cesante m&aacute;s de 2 millones de d&oacute;lares</option>
                            <option id="4- Manifestaci&oacute;n de cliente reclamo con p&eacute;rdida del cliente">4- Manifestaci&oacute;n de cliente reclamo con p&eacute;rdida del cliente</option>
                            <option id="4- Producto rechazado por el cliente m&aacute;s de 2 millones de d&oacute;lares">4- Producto rechazado por el cliente m&aacute;s de 2 millones de d&oacute;lares</option>
                        </select>
                    </div>
                </div>
                
                <div v-if="etapa1.personas===1" class="row mt-3" id="gravedad4">
                    <div class="col-lg-3 mt-1 p-0 ml-5">Personas</div>
                    <div class="col-lg-7 p-0">
                        <input disabled id="personas_vg" type="text" class="form-control d-none" v-model="personas_gravedad" required/>
                        <select v-on:change="GetGrav('pe_g')" class="custom-select" id="pe_g" required>
                            <option id="pe0">Seleccione nivel de gravedad...</option>
                            <option id="0- Desv&iacute;os no clasificables como sist&eacute;micos o cr&iacute;ticos">0- Desv&iacute;os no clasificables como sist&eacute;micos o cr&iacute;ticos</option>
                            <option id="0- Incidentes no clasificables como sist&eacute;micos o de alto potencial">0- Incidentes no clasificables como sist&eacute;micos o de alto potencial</option>
                            <option id="1- Accidente con lesi&oacute;n en la fuerza de trabajo sin p&eacute;rdida de d&iacute;as - Primeros auxilios">1- Accidente con lesi&oacute;n en la fuerza de trabajo sin p&eacute;rdida de d&iacute;as - Primeros auxilios</option>
                            <option id="1- Desv&iacute;os sist&eacute;micos">1- Desv&iacute;os sist&eacute;micos</option>
                            <option id="1- Incidentes sist&eacute;micos">1- Incidentes sist&eacute;micos</option>
                            <option id="2- Accidente con lesi&oacute;n en la fuerza de trabajo sin p&eacute;rdida de d&iacute;as - Restricci&oacute;n para el trabajo">2- Accidente con lesi&oacute;n en la fuerza de trabajo sin p&eacute;rdida de d&iacute;as - Restricci&oacute;n para el trabajo</option>
                            <option id="2- Accidente con lesi&oacute;n en la fuerza de trabajo sin p&eacute;rdida de d&iacute;as - Tratamiento M&eacute;dico">2- Accidente con lesi&oacute;n en la fuerza de trabajo sin p&eacute;rdida de d&iacute;as - Tratamiento M&eacute;dico</option>
                            <option id="2- Accidente con lesi&oacute;n en personas de la comunidad sin Internaci&oacute;n hospitalaria">2- Accidente con lesi&oacute;n en personas de la comunidad sin Internaci&oacute;n hospitalaria</option>
                            <option id="2- Desv&iacute;os cr&iacute;ticos">2- Desv&iacute;os cr&iacute;ticos</option>
                            <option id="2- Enfermedades ocupacionales controlables y/o reversibles">2- Enfermedades ocupacionales controlables y/o reversibles</option>
                            <option id="2- Incidentes de alto potencial">2- Incidentes de alto potencial</option>
                            <option id="3- Accidente con lesi&oacute;n en la fuerza de trabajo con m&uacute;ltiples accidentados con lesi&oacute;n sin p&eacute;rdida de d&iacute;as">3- Accidente con lesi&oacute;n en la fuerza de trabajo con m&uacute;ltiples accidentados con lesi&oacute;n sin p&eacute;rdida de d&iacute;as</option>
                            <option id="3- Accidente con lesi&oacute;n en la fuerza de trabajo con p&eacute;rdida de d&iacute;as - Incapacidad Permanente (menor o igual a 200 d&iacute;as a debitar)">3- Accidente con lesi&oacute;n en la fuerza de trabajo con p&eacute;rdida de d&iacute;as - Incapacidad Permanente (menor o igual a 200 d&iacute;as a debitar)</option>
                            <option id="3- Accidente con lesi&oacute;n en la fuerza de trabajo con p&eacute;rdida de d&iacute;as - Incapacidad Temporal">3- Accidente con lesi&oacute;n en la fuerza de trabajo con p&eacute;rdida de d&iacute;as - Incapacidad Temporal</option>
                            <option id="3- Accidente con lesi&oacute;n en personas de la comunidad con Internaci&oacute;n hospitalaria">3- Accidente con lesi&oacute;n en personas de la comunidad con Internaci&oacute;n hospitalaria</option>
                            <option id="3- Accidente con lesi&oacute;n en personas de la comunidad con m&uacute;ltiples accidentados sin internaci&oacute;n hospitalaria">3- Accidente con lesi&oacute;n en personas de la comunidad con m&uacute;ltiples accidentados sin internaci&oacute;n hospitalaria</option>
                            <option id="3- Enfermedad ocupacional grave y/o irreversible">3- Enfermedad ocupacional grave y/o irreversible</option>
                            <option id="3- M&uacute;ltiples casos de enfermedad ocupacional controlable y/o reversible">3- M&uacute;ltiples casos de enfermedad ocupacional controlable y/o reversible</option>
                            <option id="4- Accidente con lesi&oacute;n en la fuerza de trabajo con p&eacute;rdida de d&iacute;as - Incapacidad permanente (superior a 200 d&iacute;as a debitar)">4- Accidente con lesi&oacute;n en la fuerza de trabajo con p&eacute;rdida de d&iacute;as - Incapacidad permanente (superior a 200 d&iacute;as a debitar)</option>
                            <option id="4- Accidente con lesi&oacute;n en la fuerza de trabajo con quemaduras f&iacute;sicas o qu&iacute;micas">4- Accidente con lesi&oacute;n en la fuerza de trabajo con quemaduras f&iacute;sicas o qu&iacute;micas</option>
                            <option id="4- Accidente con lesi&oacute;n en personas de la comunidad con incapacidad permanente">4- Accidente con lesi&oacute;n en personas de la comunidad con incapacidad permanente</option>
                            <option id="4- Enfermedad ocupacional que lleva a incapacidad permanente">4- Enfermedad ocupacional que lleva a incapacidad permanente</option>
                            <option id="4- Fatalidad, Patrimonio - 0-Da&ntilde;os hasta 2 mil d&oacute;lares">4- Fatalidad, Patrimonio - 0-Da&ntilde;os hasta 2 mil d&oacute;lares</option>
                        </select>
                    </div>
                </div>
                
                
                
                @* RESPUESTA ETAPA 2 *@
                <div class="row mt-3 d-none mb-3" id="gravedad22">
                    <div class="col-lg-3 mt-1 p-0 ml-5">Gravedad</div>
                    <div class="col-lg-7 p-0">
                        <div class="form-group is-empty mt-0">
                            <input id="gravedad2Id1" type="text" class="form-control" disabled/>
                        </div>
                    </div>
                </div>
                @* RESPUESTA ETAPA 2 *@
                <div class="row mt-3" id="comision1">
                    <div class="col-lg-3 mt-1 p-0 ml-5">Comisi&oacute;n investigadora</div>
                    <div class="col-lg-7 p-0">
                        <input
                            autocomplete="off"
                            list="observado2"
                            v-on:change="GetObservado"
                            required
                            id="com"
                            name="observado"
                            class="form-group form-control m-0"
                            placeholder="Seleccione un usuario..." />
                        <datalist id="observado2">
                            <option v-for="user in users" :data-id="user.Id" :id="user.Id" :value="user.UserName"></option>
                        </datalist>
                        <span id="obsError" class="text-danger d-none">Persona observada no valida!</span>
                    </div>
                    <div class="col-lg-1 p-0 ml-2">
                        <button v-on:click="Getcomision" type="button" class="btn btn-outline-success"><a class="fa fa-plus"></a></button>
                    </div>
                </div>
                <div class="row mt-3" id="tbcom">
                    <table class="col-lg-7 offset-4 table table-borderless">
                        <tbody v-for="(com, index) in comision">
                        <tr>
                            <td style="width: 80%">{{com.usuario_nombre}}</td>
                            <td><span v-on:click="EliminarComision(index)" class="text-danger">Eliminar</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                @* RESPUESTA ETAPA 2 *@
                <div class="row d-none mt-3" id="comisionn">
                <div class="col-lg-3 p-0 ml-5 d-inline-block">Comisi&oacute;n</div>
                    <table class="table-borderless col-lg-7 ml-3" id="tablecomision">
                        <tbody>
                        <tr v-for="comi in comision">
                            <td class="" style="width: 80%">{{ comi.usuario_nombre }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                @* RESPUESTA ETAPA 2 *@
                
                <div class="row mt-3" id="responsable22">
                    <div class="col-lg-3 mt-1 p-0 ml-5">Responsable etapa 3</div>
                    <div class="col-lg-7 p-0">
                        <input
                            list="observado"
                            v-on:change="GetObservado2"
                            autocomplete="off"
                            required
                            id="obs2"
                            name="observado"
                            class="form-group form-control m-0"
                            placeholder="Seleccione un responsable..." />
                        <datalist id="observado2">
                            <option class="align-items-start" v-for="user in users" :data-id="user.Id" :id="user.Id" :value="user.UserName"></option>
                        </datalist>
                        <span id="obsError" class="text-danger d-none">Persona observada no valida!</span>
                    </div>
                </div>
                @* RESPUESTA ETAPA 2 *@
                <div class="row mt-3 d-none mb-3" id="responsable222">
                    <div class="col-lg-3 mt-1 p-0 ml-5">Responsable Etapa 3</div>
                    <div class="col-lg-7 p-0">
                        <div class="form-group is-empty mt-0">
                            <input id="responsable3Id1" type="text" class="form-control" disabled/>
                        </div>
                    </div>
                </div>
                @* RESPUESTA ETAPA 2 *@
            </div>
        </div>
    </div>
    <div class="wizard-footer p-2">
        <h6 style="color: red" class="text-center d-none" id="debellenar2">Debe responder todos los campos antes de finalizar</h6>
        <div class="float-right pr-2">
            <button type='button' id="finalizar2" class='btn btn-fill btn-info btn-wd' v-on:click="finalizar2" name='finish'>Finalizar Etapa</button>
            <button type='button' class='btn btn-next btn-info btn-wd d-none' id="next2222" name='next'>Siguiente</button>
        </div>
        <div class="float-left pl-2">
            <button type='button' class='btn btn-secondary btn-previous btn-wd' name='previous'>Anterior</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
