<meta charset="UTF-8"/>
<div class="tab-pane" id="etapa4" >
    <div class="row">
        <div class="col-12">
            @* RESPUESTA ETAPA 4 *@
            <div class="row mt-5 d-none" id="apro__">
                <div class="col-lg-3 mt-1 p-0 ml-5">Estado de etapa de an&aacute;lisis</div>
                <div class="col-lg-7 p-0">
                    <div class="form-group is-empty mt-0">
                        <input disabled type="text" class="form-control" id="apro_" required/>
                    </div>
                </div>
            </div>
            @* RESPUESTA ETAPA 4 *@
            
            @* RESPUESTA ETAPA 4 *@
            <div class="row mt-5 d-none" id="pa_rechazados_v">
                <div class="accordion col-lg-11 ml-4" id="accordionExample2" v-for="(pr,index) in pa_rechazados">
                    <div class="card p-0" style="overflow: visible;border-bottom: inset;border-bottom-width: 1px;border-bottom-color: gainsboro;">
                        <div class="card-header" id="heading7">
                            <h6 class="mb-0 p-0" style="font-size: initial;box-shadow: none; border-color: transparent;">
                                <button class="btn-link btn-block text-left text-decoration-none p-0" type="button" style="box-shadow: none; border-color: transparent; background-color: transparent; color: #000000;" data-toggle="collapse" :data-target="'#collapse' + index" aria-expanded="true" aria-controls="collapseOne">
                                    Plan de acci&oacute;n Rechazado:   {{pr.accion}}
                                </button>
                            </h6>
                        </div>
                        <div :id="'collapse' + index" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample2">
                            <div class="card-body">
                                <div class="row mt-3">
                                    <div class="col-lg-3 mt-1 p-0 ml-5">Responsable</div>
                                    <div class="col-lg-7 p-0">
                                        <div class="form-group is-empty mt-0">
                                            <input v-model="pr.responsable_nombre" disabled type="text" class="form-control" required/>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 mt-1 p-0 ml-5">Fecha de cumplimiento</div>
                                    <div class="col-lg-7 p-0">
                                        <div class="form-group is-empty mt-0">
                                            <input v-model="pr.fecha_cumplimiento" disabled class="form-control" required/>
                                        </div>
                                    </div>
                                    <div class="ml-5 p-0 form-group col-lg-3">Comentarios/Justificaci&oacute;n</div>
                                    <textarea disabled v-model="pr.justificacion" class="col-lg-7 p-0 form-control mt-4" :id="'j' + index" rows="5" required></textarea>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* RESPUESTA ETAPA 4 *@
            
            @* RESPUESTA ETAPA 4 *@
            <div class="row mt-5 d-none" id="resp_5">
                <div class="col-lg-3 mt-1 p-0 ml-5">Responsable de etapa 5</div>
                <div class="col-lg-7 p-0">
                    <div class="form-group is-empty mt-0">
                        <input disabled type="text" class="form-control" id="resp_55" required/>
                    </div>
                </div>
            </div>
            @* RESPUESTA ETAPA 4 *@
            
            
            
            
            <div v-if="aprobacion==='btn_rechazar'" class="alert alert-success" role="alert">
                <h4 class="alert-heading">An&aacute;lisis rechazado</h4>
                <p>No se generar&aacute; ning&uacute;n plan de acci&oacute;n. Se retornar&aacute; a la etapa de an&aacute;lisis</p>
            </div>
            
            <div class="accordion" id="pa_rechazados_b" v-for="(pr,index) in pa_rechazados">
                <div v-if="aprobacion==='btn_aprobar'" class="card p-0" style="overflow: visible;">
                    <div class="card-header" id="heading7">
                        <h6 class="mb-0 p-0" style="font-size: initial;box-shadow: none; border-color: transparent;">
                            <button class="btn-link btn-block text-left text-decoration-none p-0" type="button" style="box-shadow: none; border-color: transparent; background-color: transparent; color: #000000;" data-toggle="collapse" :data-target="'#collapse' + index" aria-expanded="true" aria-controls="collapseOne">
                                Plan de acci&oacute;n Rechazado: {{pr.accion}}
                            </button>
                        </h6>
                    </div>
                    <div :id="'collapse' + index" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample2">
                        <div class="card-body">
                            <div class="row mt-3">
                                <div class="col-lg-3 mt-1 p-0 ml-5">Responsable</div>
                                <div class="col-lg-7 p-0">
                                    <div class="form-group is-empty mt-0">
                                        <input v-model="pr.responsable_nombre" disabled type="text" class="form-control" required/>
                                    </div>
                                </div>
                                <div class="col-lg-3 mt-1 p-0 ml-5">Fecha de cumplimiento</div>
                                <div class="col-lg-7 p-0">
                                    <div class="form-group is-empty mt-0">
                                        <input v-model="pr.fecha_cumplimiento" disabled class="form-control" required/>
                                    </div>
                                </div>
                                <div class="ml-5 p-0 form-group col-lg-3">Comentarios/Justificaci&oacute;n</div>
                                <textarea v-on:change="getJustificacion(pr.id_accion,index)" class="col-lg-7 p-0 form-control" :id="'j' + index" rows="5" required></textarea>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 d-none" id="responsable5_ver">
                <div class="col-lg-3 mt-1 p-0 ml-5">Responsable de etapa 5 </div>
                <div class="col-lg-7 p-0">
                    <input
                        list="observado"
                        v-on:change="GetResponsable5"
                        autocomplete="off"
                        required
                        id="res5"
                        name="observado"
                        class="form-group form-control m-0"
                        placeholder="Seleccione un responsable..." />
                    <datalist id="responsable55">
                        <option class="align-items-start" v-for="user in users" :data-id="user.Id" :id="user.Id" :value="user.UserName"></option>
                    </datalist>
                </div>
            </div>
        </div>
    </div>
    <div class="wizard-footer p-2 mt-5 mb-0">
        <h6 style="color: red" class="text-center d-none" id="debellenar4">Debe responder todos los campos antes de finalizar</h6>
        <div class="float-right pr-2 mt-5">
            <button type='button' v-on:click="finalizar4" id="finalizar4" class='btn btn-fill btn-info btn-wd' name='finish'>Finalizar Etapa</button>
            <button type='button' class='btn btn-next btn-info btn-wd d-none' id="next4444" name='next'>Siguiente</button>
        </div>
        <div class="float-left pl-2 mt-5">
            <button type='button' class='btn btn-secondary btn-previous btn-wd' name='previous'>Anterior</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>